/*

* Override Pages default styles or create your own styles here

*/

/* PRINT STYLES */

body {
    font-size: 8px;
}

#page_client_detail #wpm {
    width: 700px !important;
}
#page_client_detail .nav.nav-tabs {
    display: none !important;
}
#page_client_detail .panel-heading {
    padding: 0 !important;
    min-height: auto !important;
}
#page_client_detail h2 {
    font-size: 12px !important;
    margin: 0 !important;
}
#page_client_detail h3 {
    font-size: 11px !important;
    margin: 0 !important;
}
#page_client_detail h4 {
    font-size: 10px !important;
    margin: 0 !important;
}
#page_client_detail h5 {
    font-size: 9px !important;
    margin: 0 !important;
    line-height: 9px !important;
}
#page_client_detail p {
    font-size: 8px !important;
    margin: 0 !important;
}
#page_client_detail .breadcrumb {
    display: none;
}
#page_client_detail .tab-content {
    margin: 0;
    padding: 0;
}
.wpm .panel {
    padding: 5px;
    margin-bottom: 5px;
    min-height: auto;
}
.btn {
    display: none;
}

/* END PRINT STYLES */