/*

* Override Pages default styles or create your own styles here

*/

/* PRINT STYLES */

@media print {
    #wpm {
        width: 1000px;
    }
    .nav.nav-tabs {

    }
}



/* END PRINT STYLES */