{# Default form overrides#}
{% block form_row %}
    {% spaceless %}

        <div class="form-group form-group-default {{ form.vars.name }} {%- if attr.wide is defined and attr.wide is not sameas(false) -%}{{- " " -}}{{ attr.wide }} wide{%- endif -%}">
            {%- if label is defined and label is not sameas(false) -%}
                {{ form_label(form) }}
            {%- endif -%}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% extends 'form_div_layout.html.twig' %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}

    {%- if attr.icon is defined and attr.icon is not empty %}
        <div class="ui{% if attr.icon_position is defined and attr.icon_position is not empty %}{{- " " -}}{{ icon_position }}{% else %} left{% endif %} icon input">
    {%- endif %}

    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {{ block('icon_widget') }}

    {%- if attr.icon is defined and attr.icon is not empty %}
        </div>
    {%- endif %}
{%- endblock form_widget_simple -%}

{%- block icon_widget -%}
    {%- if attr.icon is defined and attr.icon is not empty %}
        <i class="{{ attr.icon }} icon"></i>
    {%- endif -%}
{%- endblock icon_widget -%}

{% block form_errors %}
    {%- if errors|length > 0 -%}
        <div class="alert alert-danger">
            {%- if errors|length > 1 -%}
            <ul>
                {%- for error in errors -%}
                    <li>{{ error.message }}</li>
                {%- endfor -%}
            </ul>
            {% else %}
                {%- for error in errors -%}
                    {{ error.message }}
                {%- endfor -%}
            {% endif %}
        </div>
    {%- endif -%}
{% endblock form_errors %}