{% macro toggle(name, value, target) %}
    <div class="ui large buttons toggle yes-no" data-target="{{ target }}">
        <input name="{{ name }}" type="hidden" value="{{ value }}" />
        <div class="ui button no {{ value is same as('0') ? 'red selected' : '' }}" data-value="0">No</div>
        <div class="or"></div>
        <div class="ui button yes {{ value is same as('1') ? 'green selected' : '' }}" data-value="1">Yes</div>
    </div>
{% endmacro %}