{% extends '::layout.html.twig' %}
{# @var financialAdviser \AppBundle\Entity\FinancialAdviser #}
{# @var product \AppBundle\Entity\Product #}

{% block content %}

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        {{ include('::flash-output.html.twig') }}
        <div id="rootwizard" class="m-t-50">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
                <li class="active">
                    <a data-toggle="tab" href="#tab1"><i class="fa fa-shopping-cart tab-icon"></i> <span>Payment</span></a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane padding-20 active slide-left" id="tab1">
                    <div class="row row-same-height">
                        <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
                            <div class="padding-30 m-t-50">
                                <i class="fa fa-shopping-cart fa-2x hint-text"></i>
                                {% if financialAdviser.subscribed %}
                                    {% if financialAdviser.numSubscriptionDaysRemaining > 28 %}
                                        <h2>Your current subscription to Wealth College Pro&reg; is live and kicking!</h2>
                                        <p>We'll remind you to renew before {{ financialAdviser.subscriptionEndsAt|date('d F Y') }}, which is approximately a year since you last made a payment.</p>
                                    {% else %}
                                        <h2>Your current subscription to Wealth College Pro&reg; needs attention...</h2>
                                        <p>It expires in {{ financialAdviser.numSubscriptionDaysRemaining }} days. You need to make a payment soon so you don't lose access to Wealth College Pro&reg;. To do this, just click the 'Make a Payment' button on the right.</p>
                                    {% endif %}
                                {% else %}
                                    <h2>Purchase a subscription with Wealth College Pro&reg;</h2>
                                    <p>
                                        {% if app.user.financialAdviser.subscriptionEndsAt %}
                                            You need to make a payment in order to make all features active again.
                                        {% else %}
                                            You need to make a payment to enable all features of your account.
                                        {% endif %}
                                        To do this, just click the 'Make a Payment' button on the right.
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="padding-30">
                                <table class="table table-condensed">
                                    <tr>
                                        <td class="col-lg-8 col-md-6 col-sm-7 ">
                                            <span class="m-l-10 font-montserrat fs-18 all-caps">{{ product.title }}</span>
                                            <span class="m-l-10 "></span>
                                        </td>
                                        <td class="col-lg-2 col-md-3 col-sm-3 text-right">
                                            <span>Qty 1</span>
                                        </td>
                                        <td class="col-lg-2 col-md-3 col-sm-2 text-right">
                                            <h4 class="text-primary no-margin font-montserrat">${{ product.price|number_format(2) }}</h4>
                                        </td>
                                    </tr>

                                </table>
                                <br>
                                <div class="container-sm-height">
                                    <div class="row row-sm-height b-a b-grey">
                                        <div class="col-sm-3 col-sm-height col-middle p-l-10 sm-padding-15">

                                        </div>
                                        <div class="col-sm-7 col-sm-height col-middle sm-padding-15 ">

                                        </div>
                                        <div class="col-sm-2 text-right bg-primary col-sm-height col-middle padding-10">
                                            <h5 class="font-montserrat all-caps small no-margin hint-text text-white bold">Total</h5>
                                            <h4 class="no-margin text-white">${{ product.price|number_format(2) }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="padding-20 bg-white">
                    <ul class="pager wizard">
                        <li class="next">
                            {% if financialAdviser.numSubscriptionDaysRemaining < 28 %}
                                <form action="{{ path('payment_approval_redirect') }}" method="post">
                                    <input name="productId" type="hidden" value="{{ product.id }}">
                                    <input name="quantity" type="hidden" value="1">
                                    <input name="returnURL" type="hidden" value="{{ path('subscription') }}">

                                    <button class="btn btn-primary btn-cons btn-animated from-left fa fa-truck pull-right" type="submit">
                                        <span>Make a Payment</span>
                                    </button>
                                </form>
                            {% else %}
                                <p>You do not need to make a payment at this time.</p>
                            {% endif %}
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- END CONTAINER FLUID -->

{% endblock %}