{% extends "::base.html.twig" %}

{% block title %}Reset Password :: Wealth College Pro&reg;{% endblock %}

{% block body %}
<div class="register-container full-height sm-p-t-30">
    <div class="container-sm-height full-height">
        <div class="row row-sm-height">
            <div class="col-sm-12 col-sm-height col-middle">
                <p>
                {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
                </p>

                <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">Log in</a>

            </div>
        </div>
    </div>
</div>
{% endblock %}
