{% extends "::base.html.twig" %}


{% block body %}

<div class="register-container full-height sm-p-t-30">
    <div class="container-sm-height full-height">
        <div class="row row-sm-height">
            <div class="col-sm-12 col-sm-height col-middle">
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">Login</a>

{% endblock body %}
