

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" class="ui form">


    <p>Enter the email address of your registered account below.</p>

    <div class="form-group form-group-default">
        <label>Email Address</label>
        <div class="controls">
            <i class="mail icon"></i>
            <input class="form-control" type="text" id="username" name="username" value="" required="required" placeholder="E-mail address">
        </div>
    </div>

    {% if invalid_username is defined %}
        <div class="ui message negative">Unrecognised email address: {{ invalid_username }}</div>
    {% endif %}

    <div class="field">
        <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" class="fluid btn btn-primary"/>
    </div>
</form>
