{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

    <div class="form-group form-group-default">
        {{ form_label(form.plainPassword.first) }}
        <div class="controls">
            {{ form_widget(form.plainPassword.first, {attr: {class: 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group form-group-default">
        {{ form_label(form.plainPassword.second) }}
        <div class="controls">
            {{ form_widget(form.plainPassword.second, {attr: {class: 'form-control'}}) }}
        </div>
    </div>

    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-primary" />
    </div>
{{ form_end(form) }}
