{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{ asset('assets/plugins/jquery-fileupload/js/jquery.iframe-transport.js') }}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{ asset('assets/plugins/jquery-fileupload/js/jquery.fileupload.js') }}"></script>
    <!-- The File Upload processing plugin -->
    <script src="{{ asset('assets/plugins/jquery-fileupload/js/jquery.fileupload-process.js') }}"></script>

    <script src="{{ asset('assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/client.detail.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/plugins/jquery-fileupload/css/jquery.fileupload.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/bootstrap-datepicker/css/datepicker3.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block after_body %}
    {{ include('AppBundle:Client/widget:client-event-types-modal.html.twig') }}
    {{ parent() }}
{% endblock %}

{% block content %}

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li>
            <a href="{{ path('clients') }}">Contacts</a>
        </li>
        <li>{{ client.person.fullName }}</li>
    </ul>

    <input id="client-id" type="hidden" value="{{ client.id }}" />

    <div class="panel panel-transparent ">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-fillup" data-init-reponsive-tabs="dropdownfx">
            <li class="active">
                <a data-toggle="tab" href="#profile"><span>Profile</span></a>
            </li>
            <li>
                <a data-toggle="tab" href="#pipeline"><span>Pipeline</span></a>
            </li>
            <li>
                <a data-toggle="tab" href="#wpm"><span>Wealth Planning Model</span></a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            {{ include('AppBundle:Client:widget/detail-tab-profile.html.twig') }}
            {{ include('AppBundle:Client:widget/detail-tab-pipeline.html.twig') }}
            {{ include('AppBundle:Client:widget/detail-tab-wpm.html.twig') }}
        </div>
    </div>

</div>

{% endblock %}