{% extends '::layout.html.twig' %}

{# @var financialAdviser \AppBundle\Entity\FinancialAdviser #}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/client.import.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-pages="parallax">
        <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
            <div class="inner">
                <!-- START BREADCRUMB
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Tables</a>
                    </li>
                    <li><a href="#" class="active">Data Tables</a>
                    </li>
                </ul>
                -->
                <!-- END BREADCRUMB -->
                <div class="row">
                    <div class="col-lg-7 col-md-6 ">
                        <!-- START PANEL -->
                        <div class="full-height">
                            <div class="panel-body text-center">
                                <img class="image-responsive-height demo-mw-600" src="/assets/img/demo/tables.jpg" alt="">
                            </div>
                        </div>
                        <!-- END PANEL -->
                    </div>
                    <div class="col-lg-5 col-md-6 ">
                        <!-- START PANEL -->
                        <div class="panel panel-transparent">
                            <div class="panel-heading">
                                <div class="panel-title">Import Contacts</div>
                            </div>
                            <div class="panel-body">

                                <form id="process-file-form" action="" enctype="multipart/form-data" method="post">

                                    <p>Please select the CSV file to import contacts from.</p>

                                    <input type="file" name="contactsFile" value="Select File..." class="" />
                                    <br/>
                                    <button id="process-file-form-submit" type="submit" class="btn btn-primary" ><i class="fa fa-upload"></i> Process</button>

                                </form>

                            </div>
                        </div>
                        <!-- END PANEL -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END JUMBOTRON -->

    {{ include('::flash-output.html.twig') }}

    {% if contactsData is defined %}
        <!-- START CONTAINER FLUID -->
        <div id="clients-container" class="container-fluid container-fixed-lg bg-white">
            <!-- START PANEL -->
            <form id="client-import-form" action="{{ path('ajax_client_import') }}" method="post" class="live-form">
                <div class="panel panel-transparent">
                    <div class="panel-heading">

                        <div class="panel-title">Contacts Data</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">

                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Import Contacts</button>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Contact Type</label>
                                <select name="contactTypeId" data-init-plugin="select2" class="full-width">
                                    <option value="">Others</option>
                                    <option value="1">Client</option>
                                    <option value="1">Prospect</option>
                                </select>
                            </div>
                        </div>

                        <table class="table table-hover">

                            <thead>
                                {% for i in 0..(numColumns-1) %}
                                    <th>
                                        <label>Column {{ i + 1 }} Type</label>
                                        <select name="columnTypes[{{ loop.index0 }}]" data-init-plugin="select2" class="full-width">
                                            <option value="">Don't Import</option>
                                            {% for columnType,label in columnTypes %}
                                                <option value="{{ columnType }}">{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </th>
                                {% endfor %}
                                <th>&nbsp;</th>
                            </thead>

                            <tbody>
                                {% for contactData in contactsData %}
                                    <tr>
                                        {% for field in contactData %}
                                            <td>
                                                <input type="text" value="{{ field }}" name="contactsData[{{ loop.parent.loop.index0 }}][{{ loop.index0 }}]" class="form-control" />
                                            </td>
                                        {% endfor %}
                                        <td><button type="button" class="remove-row btn btn-danger"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Import Contacts</button>
                        </div>

                    </div>
                </div>
                <!-- END PANEL -->
            </form>
        </div>
        <!-- END CONTAINER FLUID -->
    {% endif %}



{% endblock %}