{% extends '::layout.html.twig' %}

{# @var client \AppBundle\Entity\Client #}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables-responsive/css/datatables.responsive.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ asset('assets/plugins/jquery-nestable/jquery.nestable.css') }}" rel="stylesheet" type="text/css" media="screen" />

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables-responsive/js/datatables.responsive.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables-responsive/js/lodash.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-nestable/jquery.nestable.js') }}" type="text/javascript"></script>

    <script src="{{ asset('assets/js/client.list.js') }}" type="text/javascript"></script>
{% endblock %}

{% block last_javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/datatables.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-pages="parallax">
        <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
            <div class="inner">
                <!-- START BREADCRUMB
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Tables</a>
                    </li>
                    <li><a href="#" class="active">Data Tables</a>
                    </li>
                </ul>
                -->
                <!-- END BREADCRUMB -->
                <div class="row">
                    <div class="col-lg-7 col-md-6 ">
                        <!-- START PANEL -->
                        <div class="full-height">
                            <div class="panel-body text-center">
                                <img class="image-responsive-height demo-mw-600" src="/assets/img/demo/tables.jpg" alt="">
                            </div>
                        </div>
                        <!-- END PANEL -->
                    </div>
                    <div class="col-lg-5 col-md-6 ">
                        <!-- START PANEL -->
                        <div class="panel panel-transparent">
                            <div class="panel-heading">
                                <div class="panel-title">Getting started
                                </div>
                            </div>
                            <div class="panel-body">
                                <h3>Engage your clients.</h3>
                                <p>Find ways to keep in touch with your clients through reviews or webinars - by listing them here first! Statistic have shown that clients who are engaged regularly are more likely to be loyal!</p>
                            </div>
                        </div>
                        <!-- END PANEL -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END JUMBOTRON -->
    <!-- START CONTAINER FLUID -->
    <div id="clients-container" class="container-fluid container-fixed-lg bg-white">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">


                {{ include('::flash-output.html.twig') }}

                <div class="panel-title">Contact list</div>

                <div class="row m-t-20">
                    {% if financialAdviser.subscribed %}
                    <div class="export-options-container inline m-r-20"></div>
                        <button id="add-client-button" class="btn btn-primary btn-cons inline" data-toggle="modal" data-target="#add-client-modal">
                            <i class="fa fa-plus"></i> Add contact
                        </button>
                        <a href="{{ path('clients_import') }}" class="btn btn-default"><i class="fa fa-download"></i> Import Contacts</a>
                        <a href="{{ path('clients_export') }}" class="btn btn-default"><i class="fa fa-upload"></i> Export Contacts</a>
                    {% endif %}

                    <div class="pull-right">

                        {#<input type="text" id="search-table" class="form-control pull-right" placeholder="Search">#}
                        <form id="clients-filter" action="" method="get" class="form">


                            <div class="row">
                                <div class="col-md-12 text-right">

                                    <div class="form-group">
                                        {#
                                        <div class="radio radio-success">
                                            <span>Show: </span>
                                            <input type="radio" name="filter[typeId]" id="typeAll" value="all" {{ filter.typeId|default('') == 'all' ? 'checked="checked"' : '' }} />
                                            <label for="typeAll">All</label>
                                            <input type="radio" name="filter[typeId]" id="typeOthers" value="" {{ filter.typeId|default('') == '' ? 'checked="checked"' : '' }} />
                                            <label for="typeOthers">Others</label>
                                            <input type="radio" name="filter[typeId]" id="typeProspect" value="1" {{ filter.typeId|default('') == '1' ? 'checked="checked"' : '' }} />
                                            <label for="typeProspect">Prospects</label>
                                            <input type="radio" name="filter[typeId]" id="typeClient" value="2" {{ filter.typeId|default('') == '2' ? 'checked="checked"' : '' }} />
                                            <label for="typeClient">Clients</label>
                                        </div>
                                        #}
                                    </div>

                                    <button id="show-search-tools" class="btn btn-default" type="button"><i class="fa fa-search"></i> Search Tools</button>
                                </div>
                            </div>


                            <div id="search-tools-container" class="m-t-20" style="">

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label><i class="fa fa-check bg-primary circular"></i> Name</label><br/>
                                        <input type="text" name="filter[name]" value="{{ filter.name|default('') }}" style="width: 120px" />
                                    </div>
                                    {#
                                    <div class="form-group col-md-3">
                                        <label><i class="fa fa-check bg-primary circular"></i> Groups</label><br/>
                                        <div class="form-group-selet2">
                                            <select class="full-width" data-init-plugin="select2" multiple name="filter[groupIds][]">
                                                {% for clientGroup in financialAdviser.clientGroups %}
                                                    <option value="{{ clientGroup.id }}" {{ clientGroup.id in filter.groupIds|default([]) ? 'selected="selected"' : '' }}>{{ clientGroup.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label><i class="fa fa-check bg-primary circular"></i> Notes Include</label>
                                        <input type="text" name="filter[notesInclude]" value="{{ filter.notesInclude|default('') }}" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label><i class="fa fa-check bg-primary circular"></i> Gender</label>
                                        <div class="radio radio-success">
                                            <input type="radio" name="filter[gender]" id="genderMale" value="M" {{ filter.gender|default('') == 'M' ? 'checked="checked"' : '' }} />
                                            <label for="genderMale">Male</label>
                                            <input type="radio" name="filter[gender]" id="genderFemale" value="F" {{ filter.gender|default('') == 'F' ? 'checked="checked"' : '' }} />
                                            <label for="genderFemale">Female</label>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label><i class="fa fa-check bg-primary circular"></i> Age Between</label><br/>

                                        <input type="text" id="ageFrom" name="filter[ageFrom]" value="{{ filter.ageFrom|default('') }}" class="number" />
                                        <span>and</span>
                                        <input type="text" id="ageTo" name="filter[ageTo]" value="{{ filter.ageTo|default('') }}"  class="number" />
                                        #}
                                        <div class="form-group col-md-6">
                                            <br/>
                                            <button class="btn btn-primary pull-right m-t-10"> Search</button>
                                            <a class="btn btn-default pull-right m-t-10 m-r-10" href="{{ path('clients') }}"> Clear</a>
                                        </div>
                                        {#
                                    </div>
                                #}
                                </div>

                            </div>

                        </form>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {% if clients %}
                    <table class="table table-hover demo-table-search row-selectable" id="clients-table">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Name</th>
                            {#
                            <th>Nationality</th>
                            <th>Telephone</th>
                            #}
                            <th>Email</th>
                            <th>Last Update</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %} {# @var client \AppBundle\Entity\Client #}
                                <tr id="client-{{ client.id }}-row" data-id="{{ client.id }}" data-has-email="{{ client.person.email ? 1 : 0 }}">
                                    <td>&nbsp;</td>
                                    <td>
                                        {% if client.photoUpload %}
                                        <div class="thumbnail-wrapper d48 circular bordered b-white">
                                            <img src="{{ image(client.photoUpload.location).zoomCrop(50, 50) }}" alt="Photo" height="50"/>
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td class="v-align-middle semi-bold">
                                        {{ client.person.fullName }}
                                        {#<a href="{{ path('client_detail', {id: client.id}) }}">{{ client.person.fullName }}</a>#}
                                        {#
                                        <div class="m-t-5">
                                            <a href="{{ path('client_detail', {id: client.id}) }}"><span class="label label-info">Open</span></a>
                                        </div>
                                        #}
                                    </td>
                                    {#
                                    <td class="v-align-middle">
                                        {{ client.nationalityCountry ? client.nationalityCountry.name : '-' }}
                                    </td>
                                    <td class="v-align-middle">
                                        {{ client.person.telephone }}
                                    </td>
                                    #}
                                    <td class="v-align-middle">
                                        {{ client.person.email }}
                                    </td>
                                    <td class="v-align-middle">
                                        {{ client.modified|date('d/m/Y') }}
                                    </td>
                                    <td style="width: 150px">
                                        {% if financialAdviser.subscribed %}
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="edit-client btn btn-group-sm btn-secondary" data-id="{{ client.id }}"><i class="fa fa-edit"></i> Edit</button>
                                            <button type="button" class="btn delete-client btn-secondary" data-id="{{ client.id }}"><i class="fa fa-trash"></i></button>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <br/>
                    <br/>
                    <p>You have not added any clients yet. Click the "Add Client" button to get started.</p>
                {% endif %}
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->

    <div class="modal fade fill-in" id="add-client-modal" tabindex="-1" role="dialog" aria-labelledby="add-client-modal" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close"></i>
        </button>
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-left p-b-5"><span class="semi-bold">Client</span></h5>
                </div>
                <div class="modal-body">


                    {{ form_start(client_form, {attr: {id: 'save-client-form', class: 'p-t-15 live-form', role: 'form', 'data-success-handler': 'App.Client.client_saved_handler'}}) }}
                        {{ form_widget(client_form._token) }}

                        <input class="client-id" type="hidden" name="id" value="" />

                        <p>Client Info</p>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group form-group-default">
                                    <label>Title</label>
                                    {{ form_widget(client_form.person.title, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group form-group-default">
                                    <label>First Name</label>
                                    {{ form_widget(client_form.person.firstName, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group form-group-default">
                                    <label>Last Names</label>
                                    {{ form_widget(client_form.person.lastName, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        {#
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Business Name</label>
                                    {{ form_widget(client_form.person.businessName, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Date of birth</label>
                                    {{ form_widget(client_form.person.dob, {attr: {class : 'form-control date-picker'}}) }}
                                </div>
                            </div>
                        </div>
                        #}
                        <p>Contact Details</p>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Email Address</label>
                                    {{ form_widget(client_form.person.email, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        {#
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Phone Number</label>
                                    {{ form_widget(client_form.person.telephone, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Mobile Number</label>
                                    {{ form_widget(client_form.person.mobile, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <p>Contact Address</p>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Address line 1</label>
                                    {{ form_widget(client_form.address.address1, {required: false, attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Address line 2</label>
                                    {{ form_widget(client_form.address.address2, {required: false, attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>City</label>
                                    {{ form_widget(client_form.address.city, {required: false, attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Post Code</label>
                                    {{ form_widget(client_form.address.postCode, {required: false, attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Country</label>
                                    {{ form_widget(client_form.address.country, {required: false, attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        #}

                        <button class="btn btn-primary btn-cons m-t-10" type="submit">Save</button>
                        <button class="btn btn-default btn-cons m-t-10" type="button" class="close" data-dismiss="modal" aria-hidden="true">Cancel</button>

                    {{ form_end(client_form, {'render_rest': false}) }}

                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade fill-in" id="invite-to-webinar-modal" tabindex="-1" role="dialog" aria-labelledby="add-client-modal" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close"></i>
        </button>
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-left p-b-5"><span class="semi-bold">Invite to Webinar</span></h5>
                </div>
                <div class="modal-body">

                    <form id="invite-to-webinar-form" action="{{ path('ajax_calendar_event_invite_contacts') }}" method="post" class="form">
                        <p><span class="clients-selected"></span> contacts selected</p>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label for="invite-event-id">Webinar</label>
                                    <select id="invite-event-id" name="calendarEventId" class="form-control">
                                        <option value="">Select Webinar</option>
                                        {% for webinar in webinars %} {# @var webinar \AppBundle\Entity\Webinar #}
                                            <option value="{{ webinar.calendarEvent.id }}">{{ webinar.calendarEvent.summary }} - {{ webinar.calendarEvent.startAt|date('d/m/y') }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-cons m-t-10" type="submit">Send Invites</button>
                        <button class="btn btn-default btn-cons m-t-10 close" type="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}