{# @var client \AppBundle\Entity\Client #}
{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{ asset('assets/plugins/jquery-fileupload/js/jquery.iframe-transport.js') }}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{ asset('assets/plugins/jquery-fileupload/js/jquery.fileupload.js') }}"></script>
    <!-- The File Upload processing plugin -->
    <script src="{{ asset('assets/plugins/jquery-fileupload/js/jquery.fileupload-process.js') }}"></script>

    <script src="{{ asset('assets/js/client.wpm.edit.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block content %}

<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li><a href="{{ path('clients') }}">Clients</a></li>
                <li><a href="{{ path('client_detail', {id: client.id})~'#wpm' }}" class="active">{{ client.person.fullName }}</a></li>
                <li><a href="#">Wealth Planning Model</a></li>
            </ul>
            <!-- END BREADCRUMB -->
            <div class="row">
                <div class="col-lg-7 col-md-6 ">
                    <!-- START PANEL -->
                    <div class="full-height">
                        <div class="panel-body text-center">
                            <img class="image-responsive-height demo-mw-600" src="/assets/img/demo/nest.png" alt="">
                        </div>
                    </div>
                    <!-- END PANEL -->
                </div>
                <div class="col-lg-5 col-md-6 ">
                    <!-- START PANEL -->
                    <div class="panel panel-transparent">
                        <div class="panel-body">
                            <h3 class="">Wealth Planning Model</h3>
                            <p>Here you can complete detailed financial information about your contact to build their Wealth Planning Model.</p>
                            <br>
                            <div class="col-sm-12 no-padding">
                                <a href="{{ path('client_detail', {id: client.id})~'#wpm' }}" class="btn btn-complete">Return to WPM</a>
                            </div>
                        </div>
                    </div>
                    <!-- END PANEL -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->

<div class="panel panel-transparent ">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-fillup" data-init-reponsive-tabs="dropdownfx">
        <li class="active">
            <a data-toggle="tab" href="#cashflow"><span>Cashflow</span></a>
        </li>
        <li>
            <a data-toggle="tab" href="#insurance"><span>Insurance Planning</span></a>
        </li>
        <li>
            <a data-toggle="tab" href="#investment"><span>Investment Planning</span></a>
        </li>
        <li>
            <a data-toggle="tab" href="#estate"><span>Estate Planning</span></a>
        </li>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        {{ include('AppBundle:Client:widget/wpm-tab-cashflow.html.twig', {form: cashflowForm}) }}
        {{ include('AppBundle:Client:widget/wpm-tab-insurance.html.twig', {form: insurancePoliciesForm}) }}
        {{ include('AppBundle:Client:widget/wpm-tab-investment.html.twig', {form: investmentsForm}) }}
        {{ include('AppBundle:Client:widget/wpm-tab-estate.html.twig', {form: estatesForm}) }}

    </div>
</div>

{% endblock %}