{% extends '::layout-front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables-responsive/css/datatables.responsive.css') }}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables-responsive/js/datatables.responsive.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables-responsive/js/lodash.min.js') }}"></script>
{% endblock %}

{% block last_javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/financial-adviser.list.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}


    {{ include('AppBundle:FinancialAdviser/widget:fa-search.html.twig') }}

    <!-- START CONTAINER FLUID -->
    <div id="clients-container" class="container-fluid bg-white">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">


                {{ include('::flash-output.html.twig') }}

                <div class="pull-right">
                    <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                </div>

                <div class="panel-title">Search results</div>

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {% if financialAdvisers %}
                    <table class="table demo-table-search" id="fa-table">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Name</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Star Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for financialAdviser in financialAdvisers %} {# @var financialAdviser \AppBundle\Entity\FinancialAdviser #}
                            <tr data-id="{{ financialAdviser.id }}" class="bg-{{ financialAdviser.averageRatingColour }}">
                                <td>
                                    {% if financialAdviser.profileImageUpload %}
                                        <div class="thumbnail-wrapper d48 circular bordered b-white">
                                            <img src="{{ image(financialAdviser.profileImageUpload.location).zoomCrop(50, 50) }}" alt="Photo" height="50"/>
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="v-align-middle semi-bold">
                                    <a href="{{ path('profile_view', {id: financialAdviser.id}) }}">{{ financialAdviser.user.name }}</a>
                                </td>
                                <td class="v-align-middle">
                                    {{ financialAdviser.address.city }}
                                </td>
                                <td class="v-align-middle">
                                    {{ financialAdviser.address.country ? financialAdviser.address.country.name : '-' }}
                                </td>
                                <td class="v-align-middle">
                                    {% if financialAdviser.averageRating > 0 %}
                                    <div class="star-rating bg-{{ financialAdviser.averageRatingColour }}">
                                        <div class="stars value-set">
                                            <span data-rating="1"><i class="fa fa-3x {{ financialAdviser.averageRating  >= 1 and financialAdviser.averageRating < 2 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating >= 2 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 1 ? 'fa-star-o' : '' }}"></i></span>
                                            <span data-rating="2"><i class="fa fa-3x {{ financialAdviser.averageRating >= 3 and financialAdviser.averageRating < 4 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating >= 4 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 3 ? 'fa-star-o' : '' }}"></i></span>
                                            <span data-rating="3"><i class="fa fa-3x {{ financialAdviser.averageRating >= 5 and financialAdviser.averageRating < 6 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating >= 6 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 5 ? 'fa-star-o' : '' }}"></i></span>
                                            <span data-rating="4"><i class="fa fa-3x {{ financialAdviser.averageRating >= 7 and financialAdviser.averageRating < 8 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating >= 8 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 7 ? 'fa-star-o' : '' }}"></i></span>
                                            <span data-rating="5"><i class="fa fa-3x {{ financialAdviser.averageRating >= 9 and financialAdviser.averageRating < 10 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating == 10 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 9 ? 'fa-star-o' : '' }}"></i></span>
                                        </div>
                                    </div>
                                    {% else %}
                                        Unrated
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <br/>
                    <p>Sorry we could not find any Financial Advisers matching your search criteria.</p>
                {% endif %}
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->


{% endblock %}