{% extends '::layout.html.twig' %}

{% block content %}


<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li>
            <a href="#">Admin</a>
        </li>
        <li><a href="{{ path('admin_user') }}" class="active">Users</a></li>
        <li>Add User</li>
    </ul>


    <div class="row">
        <div class="col-lg-7 col-md-6 ">
            <!-- START PANEL -->
            <div class="panel-heading">
                <h1>Add Review Attribute</h1>
            </div>

            <div class="panel panel-transparent">
                <div class="panel-body">

                    {{ include('::flash-output.html.twig') }}

                    {{ form_start(form, {attr: {class: 'form-horizontal'}}) }}

                        {{ form_errors(form) }}
                        {{ form_widget(form._token) }}


                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.name, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Score</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.score, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">&nbsp;</label>
                            <div class="col-sm-9">
                                <input type="submit" class="btn btn-primary" />
                            </div>
                        </div>

                    {{ form_end(form, {render_rest: false}) }}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
