{% extends '::layout.html.twig' %}

{# @var reviewAttribute \AppBundle\Entity\ReviewAttribute #}

{% block content %}

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li>
                <a href="#">Admin</a>
            </li>
            <li><a href="{{ path('admin_review_attributes') }}" class="active">Review Attributes</a></li>
            <li>Edit Review Attribute</li>
        </ul>


        <div class="row">
            <div class="col-lg-7 col-md-6 ">
                <!-- START PANEL -->
                <div class="panel-heading">
                    <h1>Edit Review Attribute: {{ reviewAttribute.name }}</h1>
                </div>
                <div class="panel panel-transparent">
                    <div class="panel-body">

                        <p><strong>Warning:</strong> If this review attribute has been used for any reviews then updating this attribute's name/score will update the attribute shown on those reviews as well.</p>

                        {{ include('::flash-output.html.twig') }}

                        {{ form_start(form, {attr: {class: 'form-horizontal'}}) }}

                        {{ form_errors(form) }}
                        {{ form_widget(form._token) }}


                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.name, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Score</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.score, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Archived</label>
                            <div class="col-sm-9">
                                <div class="field checkbox">
                                    {{ form_widget(form.archived, {attr: {class: ''}}) }}
                                    {{ form_label(form.archived) }}
                                </div>
                                <p>Archive this attribute to prevent it from being selected for any future reviews</p>
                            </div>

                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">&nbsp;</label>
                            <div class="col-sm-9">
                                <input type="submit" class="btn btn-primary" />
                            </div>
                        </div>

                        {{ form_end(form, {render_rest: false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
