{% extends '::layout.html.twig' %}

{# @var reviewAttribute \AppBundle\Entity\ReviewAttribute #}

{% block content %}

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li>
                <a href="#">Admin</a>
            </li>
            <li><a href="{{ path('admin_review_attributes') }}" class="active">Review Attributes</a></li>
            <li>Review Attribute</li>
        </ul>


        <div class="row">
            <div class="col-lg-7 col-md-6 ">
                <!-- START PANEL -->
                <div class="panel-heading">
                    <h1>Review Attribute: {{ reviewAttribute.name }}</h1>
                </div>

                <div class="panel panel-transparent">
                    <div class="panel-body">

                        {{ include('::flash-output.html.twig') }}

                        <div class="form-horizontal">

                            <div class="form-group required">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    {{ reviewAttribute.name }}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-3 control-label">Score</label>
                                <div class="col-sm-9">
                                    {{ reviewAttribute.Score }}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



{% endblock %}
