{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables-responsive/css/datatables.responsive.css') }}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables-responsive/js/datatables.responsive.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables-responsive/js/lodash.min.js') }}"></script>

    <script src="{{ asset('assets/js/review.list.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/review.request.js') }}"></script>

{% endblock %}

{% block last_javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}

    <div class="reviews jumbotron lg vertical center bg-warning column-w4 vertical-bottom no-margin" data-pages="parallax">

            <div class="container-fluid container container-fixed-lg sm-p-l-20 sm-p-r-20 full-height">
                <div class="inner full-height">
                    <div class="container-xs-height full-height">
                        <div class="col-xs-height">

                            <div class="col-md-5">

                                <h5 class="hint-text text-uppercase bold fs-12">Create and manage your reviews</h5>
                                <div class="m-b-50">
                                    <h2 class="text-black inline semi-bold">What others are saying</h2>
                                </div>

                                <div class="m-b-15"><p class="fs-14 text-black">Use this section to view and manage all your reviews. You can also request a <strong>Basic Review</strong> from anyone in your Contacts list.</p></div>
                                <div class="m-b-15"><p class="fs-14 text-black"><a href="{{ path('review_request_standard') }}"><strong>Basic Reviews</strong></a> ask for very basic information from your contacts, incluindg a request for positive feedback, areas of improvements and a rating.</p></div>
                                <div class="m-b-15"><p class="fs-14 text-black"><a href="{{ path('review_templates') }}"><strong>Comprehensive Reviews</strong></a> ask for more detail about specific experiences, such as having an appointment or webinar with you. They optionally include a request for positive feedback, areas of improvements and a rating.</p></div>

                                <p class="fs-14 text-black m-b-15"><a href="{{ path('review_templates', {type: 9}) }}"><strong>Custom Reviews</strong></a> are those you create yourself - you choose the questions and you can optionally remove the request for a rating.</p>
                            </div>
                            <div class="col-md-7 text-right m-t-40">
                                <img src="{{ asset('assets/img/stars.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>


    <!-- START CONTAINER FLUID -->
    <div id="reviews-container" class="container-fluid container-fixed-lg bg-white">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">


                {{ include('::flash-output.html.twig') }}

                <div class="panel-title">Reviews</div>

                <div class="row m-t-20">
                    {% if financialAdviser.subscribed %}
                    <div class="export-options-container inline m-r-20"></div>
                    <button id="add-review-button" class="btn btn-primary btn-cons inline" data-toggle="modal" data-target="#reviews-request-modal">
                        <i class="fa fa-plus"></i> Request Basic Review
                    </button>
                    {% endif %}

                    <div class="pull-right">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {% if reviews %}
                    <table class="table table-hover demo-table-search" id="reviews-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Review Type</th>
                            <th>Rating</th>
                            <th>Date</th>
                            <th>Published</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for review in reviews %} {# @var review \AppBundle\Entity\Review #}
                                <tr id="review-{{ review.id }}-row" data-id="{{ review.id }}">
                                    <td class="v-align-middle semi-bold">
                                        {{ review.client.person.fullName }}
                                    </td>
                                    <td class="v-align-middle">
                                        {{ review.typeName }}
                                    </td>
                                    <td class="v-align-middle">
                                        {{ review.rating is not null ? review.rating /2 : 'N/A' }}
                                    </td>
                                    <td class="v-align-middle">
                                        {{ review.receivedAt|date('d/m/Y H:i') }}
                                    </td>

                                    <td>
                                        <span class="published-state m-r-10 {{ review.published ? 'published' : 'unpublished' }}">
                                            {% if  review.published %}
                                                <i class="fa fa-eye "></i> Published
                                            {% else %}
                                                <i class="fa fa-eye-slash"></i> Unpublished
                                            {% endif %}
                                        </span>
                                        {% if review.typeId == 9 %}
                                            <button class="publish-review btn btn-sm" data-id="{{ review.id }}"><i class="fa fa-refresh"></i></button>
                                        {% endif %}
                                    </td>
                                    <td style="width: 150px">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="view-review btn btn-group-sm btn-primary" data-id="{{ review.id }}">View</button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <br/>
                    <br/>
                    <p>You have not added any reviews yet. Click the "Add Review" button to get started.</p>
                {% endif %}
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->

    <div class="modal fade slide-up" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="review-modal" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    {{ include('AppBundle:Review/widgets:review-request-modal.html.twig') }}

{% endblock %}