{% extends 'layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app/Message.js') }}"></script>

{% endblock %}

{% block inner_content %}

    <input id="message-mark-read-url" type="hidden" value="{{ path('message_mark_read') }}" />
    <input id="trash-message-url" type="hidden" value="{{ path('message_trash') }}" />

    <div class="ui table-header segment inverted">
        <div class="title">Messages</div>
        <div class="filter"></div>
        <div class="rpp"></div>

        {{ knp_pagination_render(pagination) }}
    </div>

    <div id="messages-container" class="ui grid inverted segment">

        <div id="message-sidebar" class="four wide column">
            <div class="ui vertical menu large inverted">
                <a class="item {{ filter['tray'] == 'inbox' ? 'active' : '' }}" href="{{ path('message_list') }}">
                    <i class="inbox icon large"></i>
                    Messages
                    {% if unread_count != 0 %}
                        <div class="ui label">{{ unread_count }}</div>
                    {% endif %}
                </a>
                <a class="item {{ filter['tray'] == 'sent' ? 'active' : '' }}" href="{{ path('message_sent') }}">
                    Sent
                </a>
                <div class="horizontal-divider"></div>
                <a class="item {{ filter['tray'] == 'trash' ? 'active' : '' }}" href="{{ path('message_trash_list') }}">
                    Trash
                </a>

            </div>

        </div>
        <div id="messages-list" class="twelve wide column">

            {% for message in pagination %}
                {% if loop.index != 1 %}
                    <div class="horizontal-divider"></div>
                {% endif %}
                <div class="message">
                    <div class="read-status {{ message.readAt is null ? 'unread' : ''}}"></div>
                    <div class="ui inverted actions">
                        {% if filter['tray'] == 'inbox' %}
                            {% if message.readAt is null %}
                                <button type="button" class="ui button inverted mini mark-read" data-id="{{ message.id }}">mark as read</button>
                            {% endif %}
                            <span class="trash-message" data-id="{{ message.id }}"><i class="trash icon large  inverted"></i></span>
                        {% endif %}
                    </div>
                    <div class="content">
                        <b>{{ message.subject }}</b><br/>
                        On <b>{{ message.created|date('d M Y') }}</b> at {{ message.created|date('H:i') }},
                        {% if filter['tray'] == 'sent' %}
                            sent to
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin_user_view', {id: message.userTo.id }) }}" target="_blank"><b>{{ message.userTo.getName() }}</b></a>:
                            {% else %}
                                <b>{{ message.userTo ? message.userTo.getName() : 'd-Risk'}}</b>:
                            {% endif %}
                            <br/>
                        {% else %}
                            <b>{{ message.userFrom ? message.userFrom.getName() : 'd-Risk'}}</b> said:<br/>
                        {% endif %}
                        {{ message.body|raw|nl2br }}
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}
