
<div class="ui table-header segment inverted">
    <form action="{{ filterUrl is defined ? filterUrl : '' }}" method="get" id="list-filter">
        <input id="filter-page" name="page" value="{{ filter.page }}" type="hidden" />
        <input id="filter-rows" name="rows" value="{{ filter.rows }}" type="hidden" />

        {% block list_header_filter_form %}{% endblock %}

        <div class="ui grid">
            <div class="title three wide column left aligned">{{ title }}</div>
            <div class="filter ten wide column">

                {% block list_header_filters %}{% endblock %}

            </div>
            <div class="rpp three wide column right aligned inverted">
                <label>Display:</label>
                <select id="rows-select" class="ui dropdown tiny">
                    <option {{ filter.rows == 10 ? 'selected="selected"' }}>10</option>
                    <option {{ filter.rows == 25 ? 'selected="selected"' }}>25</option>
                    <option {{ filter.rows == 50 ? 'selected="selected"' }}>50</option>
                    <option {{ filter.rows == 100 ? 'selected="selected"' }}>100</option>
                    <option {{ filter.rows == 250 ? 'selected="selected"' }}>250</option>
                    <option {{ filter.rows == 500 ? 'selected="selected"' }}>500</option>
                </select>
            </div>
        </div>

        {% block list_header_pagination %}
            {{ knp_pagination_render(pagination) }}
        {% endblock %}
    </form>
</div>
