{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="dataTables_paginate paging_simple_numbers">
    <ul>
        <li class="paginate_button previous {% if previous is defined %}active{% else %}disabled{% endif %}">
            {% if first is defined and current != first %}
                <!-- <a class="first" href="{{ path(route, query|merge({(pageParameterName): first})) }}">&nbsp;</a> -->
            {% endif %}
            {% if previous is defined %}
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="pg-arrow_left"></i></a>
            {% else %}
                <a href="#"><i class="pg-arrow_left"></i></a>
            {% endif %}
        </li>

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="paginate_button">
                    <a class="page" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="paginate_button active">
                    <a href="#" class="current">{{ page }}</a>
                </li>
            {% endif %}

        {% endfor %}

        <li class="paginate_button {% if next is defined %}active{% else %}disabled{% endif %}">
            {% if next is defined %}
                <a class="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="pg-arrow_right"></i></a>
            {% else %}
                <a class="next" href="#"><i class="pg-arrow_right"></i></a>
            {% endif %}

            {% if last is defined and current != last %}
                <!-- <a class="last" href="{{ path(route, query|merge({(pageParameterName): last})) }}">&nbsp;</a> -->
            {% endif %}
        </li>
    </ul>
</div>
{% endif %}
