<div class="panel panel-transparent">
    <div class="panel-body">

        {{ include('::flash-output.html.twig') }}

        {{ form_start(form, {attr: {action: path('webinar_save', {id: webinar is defined ? webinar.id : ''}), id: 'webinar-form', class: 'form-horizontal', 'novalidate': 'novalidate'}}) }}

        {{ form_errors(form) }}
        {{ form_widget(form._token) }}


        <div class="form-group required">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                {{ form_widget(form.calendarEvent.summary, {attr: {class: 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                {{ form_widget(form.calendarEvent.description, {attr: {class: 'form-control', style: 'min-height: 250px'}}) }}
            </div>
        </div>

        <div class="form-group required">
            <label class="col-sm-3 control-label">Start Date &amp; Time</label>
            <div class="col-sm-4">

                {{ form_widget(form.calendarEvent.startAt, {attr: {
                    class: 'form-control date-time-picker',
                    'data-min-date': 'now'|date('Y-m-d')
                }}) }}

                {#
                {{ form_widget(form.calendarEvent.startAt.date, {attr: {
                    class: 'form-control',
                    'data-provide': "datepicker",
                    'data-date-format':"dd/mm/yyyy",
                    'data-auto-close':true,
                    'data-date-start-date':'0d'
                }}) }}
            </div>
            <div class="col-sm-4">
                <div class="input-group bootstrap-timepicker">

                    {{ form_widget(form.calendarEvent.startAt.time, {attr: {
                        class: 'form-control'
                    }}) }}
                    <span class="input-group-addon"><i class="pg-clock"></i></span>
                </div>
                #}
            </div>
        </div>


        <div class="form-group required">
            <label class="col-sm-3 control-label">Expected Running Time</label>
            <div class="col-sm-9">
                <div class="input-group bootstrap-timepicker">
                    {{ form_widget(form.expectedRunningTime, {attr: {class: 'form-control'}}) }}
                    <span class="input-group-addon"><i class="pg-clock"></i></span>
                </div>

                <p class="m-t-5">Enter the expected running time of your webinar in hours and minutes</p>
            </div>
        </div>


        {% if webinar is defined and not webinar.calendarEvent.dirty %}
            <div class="form-group required">
                <label class="col-sm-3 control-label">Attendees</label>

                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-select2 attendees-select">
                                <label>Contacts</label>
                                <input type="hidden" id="webinar-client-select" class="full-width" data-clients-data="{{ clientsData }}" name="client_id" multiple="multiple">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-select2 attendees-select">
                                <label>Groups</label>
                                <input type="hidden" id="webinar-group-select" class="full-width" data-groups-data="{{ groupsData }}" name="group_id" multiple="multiple">
                            </div>
                        </div>
                    </div>
                </div>

                {% if webinar is defined and webinar.calendarEvent.calendarEventAttendees|length > 0 %}
                <div class="col-sm-12">
                    {% for attendee in webinar.calendarEvent.calendarEventAttendees %}{# @var attendee \AppBundle\Entity\CalendarEventAttendee #}
                        <div class="col-sm-3">
                            {% if attendee.client.person.fullName %}
                                <span>{{ attendee.client.person.fullName }}</span><br/>
                            {% endif %}
                            <span><a href="mailto:{{ attendee.client.person.email }}">{{ attendee.client.person.email }}</a></span>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        {% endif %}
        {% if webinar is defined and webinar.calendarEvent.dirty %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Attendees</label>

                <p>Please sync your account with Google Calendar to invite attendees to this Webinar</p>
            </div>

        {% endif %}
        {% if webinar is not defined %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Attendees</label>

                <p>Attendees can be added after you have created your Webinar</p>
            </div>

        {% endif %}
        <div class="form-group required">
            <label class="col-sm-3 control-label">&nbsp;</label>
            <div class="col-sm-9">
                <input type="submit" class="btn btn-primary" value="Save Webinar" />
                {% if webinar is defined %}
                    {% if webinar.url %}
                        <a class="btn btn-success" href="{{ webinar.url }}" target="_blank"><i class="fa fa-video-camera"></i> Start Webinar</a>
                    {% endif %}
                {% endif %}
                {% if webinar is defined %}
                    <button class="btn btn-danger pull-right delete-webinar" type="button" data-id="{{ webinar.id }}"><i class="fa fa-remove"></i> Delete</button>
                {% endif %}
                <a class="btn btn-default pull-right m-r-5"  href="{{ path('webinar') }}"><i class="fa fa-arrow-left"></i> Back</a>

            </div>
        </div>

        {{ form_end(form, {render_rest: false}) }}
    </div>
</div>