{% if uploader_no_delete is not defined %}
    {% set uploader_no_delete = false %}
{% endif %}

{% if upload_owner_id is not defined %}
    {% set upload_owner_id = '' %}
{% endif %}
{% if upload_owner2_id is not defined %}
    {% set upload_owner2_id = '' %}
{% endif %}
{% if uploader_handler_url is not defined %}
    {% set uploader_handler_url = path('ipqd_upload') %}
{% endif %}
{% if uploader_delete_route is not defined %}
    {% set uploader_delete_route = 'ipqd_delete' %}
{% endif %}
{% if locked is not defined %}
    {% set locked = false %}
{% endif %}

<div class="uploader-container">
    <div class="ui inverted dimmer">
        <div class="ui text loader">Loading</div>
    </div>

    <table id="{{ uploader_name }}-uploader" data-owner-id="{{ upload_owner_id }}" data-owner2-id="{{ upload_owner2_id }}"
           data-section="{{ section|default('') }}"
           class="ui table uploader" data-multiple-files="{{ uploader_multiple_files }}">

        <thead>
            <tr>
                <th class="icon">&nbsp;</th>
                <th class="name">Document</th>
                <th class="status">Status</th>
                <th class="buttons">&nbsp;</th>
            </tr>
        </thead>
        <tfoot>
            {% if uploader_multiple_files and not locked %}
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="right aligned">
                    <div class="upload-another" style="{% if uploads|length == 0 %}display:none{% endif %}">
                        <span>Upload another document &raquo;</span>
                    </div>
                </td>
                <td class="right aligned">
                    <button type="button" class="ui right button green upload-button" data-uploader="{{ uploader_name }}" style="{% if uploads|length == 0 %}display:none{% endif %}">Upload</button>
                </td>
            </tr>
            {% endif %}
        </tfoot>
        <tbody>
            {% block existing_uploads %}
            {% endblock %}
            <tr class="document-row-template upload" style="display: none" data-delete-url="{{ path(uploader_delete_route, {'id': '__id__'}) }}">
                <td class="pdf-icon">
                    <div class="icon status-1"></div>
                </td>
                <td class="document-name">{{ uploader_doc_name }}</td>
                <td class="status">Uploaded</td>
                <td class="right aligned">
                    {% if not locked %}
                        <input name="{{ uploader_name }}[upload_ids][]" type="hidden" value="" class="upload-id" disabled="disabled" />
                        {% if uploader_no_delete == false %}
                            <button type="button" class="ui button red delete-button">Delete</button>
                        {% endif %}
                        <button type="button" class="ui button blue replace-button" data-uploader="{{ uploader_name }}" data-replace="1">Replace</button>
                    {% endif %}
                </td>
            </tr>
            {% if not locked %}
            <tr class="upload-row" style="{% if uploads|length > 0 %}display:none{% endif %}">
                <td class="pdf-icon"><div class="icon status-1"></div></td>
                <td class="document-name">{{ uploader_doc_name }}</td>
                <td class="status"><span class="ui colour red">Please Upload &raquo;</span></td>
                <td class="right aligned">
                    <button type="button" class="ui button red upload-button" data-uploader="{{ uploader_name }}">Upload</button>
                </td>
            </tr>
            {% endif %}
        </tbody>

    </table>

    <input id="{{ uploader_name }}" type="file" name="{{ uploader_name }}[]" data-url="{{ uploader_handler_url }}" data-sequential-uploads="true" data-form-ignore-changes="true" multiple style="display:none">
</div>