{% extends '::layout.html.twig' %}

{# @var reviewTemplate \AppBundle\Entity\ReviewTemplate #}

{% block content %}

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li>
                <a href="#">Admin</a>
            </li>
            <li><a href="{{ path('admin_review_templates') }}" class="active">Review Templates</a></li>
            <li>Edit Review Template</li>
        </ul>


        <div class="row">
            <div class="col-lg-7 col-md-6 ">
                <!-- START PANEL -->
                <div class="panel-heading">
                    <h1>Edit Review Template: {{ reviewTemplate.name }}</h1>
                </div>

                <div class="panel panel-transparent">
                    <div class="panel-body">

                        {{ include('::flash-output.html.twig') }}

                        {{ form_start(form, {attr: {class: 'form-horizontal'}}) }}

                        {{ form_errors(form) }}
                        {{ form_widget(form._token) }}


                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.name, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Type</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.typeId, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Subject</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.subject, {attr: {class: 'form-control'}}) }}
                                <p>The subject of the email which will be sent for this review</p>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Message</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.message, {attr: {class: 'form-control', style: 'height: 8em'}}) }}
                                <br/>
                                <p>The message body of the email which will be sent for this review</p>
                                <p>Use short code <b>{adviserName}</b> to add the Financial Adviser's name</p>
                                <p>Use short code <b>{link:Click here}</b> to add the link the client will use to get to the review page. The link title 'Click Here' can be replaced with some other text if required</p>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Archived</label>
                            <div class="col-sm-9">
                                <input type="hidden" value="0" name="archived" />
                                <input type="checkbox" value="1" name="archived" {{ reviewTemplate.archivedAt ? 'checked="checked"' : '' }} />
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">&nbsp;</label>
                            <div class="col-sm-9">
                                <input type="submit" class="btn btn-primary" />
                            </div>
                        </div>

                        {{ form_end(form, {render_rest: false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
