{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables-responsive/css/datatables.responsive.css') }}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/table.js') }}" type="text/javascript"></script>

{% endblock %}

{% block content %}

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <h2>Review Templates</h2>

                <form action="" method="get" id="table-filter">
                    <input id="filter-page" name="page" value="{{ filter.page }}" type="hidden" />
                    <input id="filter-rows" name="rows" value="{{ filter.rows }}" type="hidden" />

                    <div class="pull-left m-b-10">
                        <a href="{{ path('admin_review_template_add') }}" class="btn btn-primary"><i class="fa fa-user-plus"></i> Add Review Template</a>
                    </div>
                    <div class="pull-right m-b-10 col-sm-4">

                        <div class="form-group form-group-default-select2 pull-right">
                            <label>Display:</label>
                            <select id="rows-select" class="cs-select cs-skin-slide calendar-event-type" data-init-plugin="cs-select">
                                <option {{ filter.rows == 10 ? 'selected="selected"' }}>10</option>
                                <option {{ filter.rows == 25 ? 'selected="selected"' }}>25</option>
                                <option {{ filter.rows == 50 ? 'selected="selected"' }}>50</option>
                                <option {{ filter.rows == 100 ? 'selected="selected"' }}>100</option>
                                <option {{ filter.rows == 250 ? 'selected="selected"' }}>250</option>
                                <option {{ filter.rows == 500 ? 'selected="selected"' }}>500</option>
                            </select>
                        </div>
                    </div>

                </form>

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {% if pagination|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-hover dataTables_wrapper" id="users-table">
                        <thead>
                        <tr>
                            <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user
                                                Comman Practice Followed
                                                -->
                            <th{% if pagination.isSorted('rt.typeId') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Type', 'rt.typeId') }}</th>
                            <th{% if pagination.isSorted('rt.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'rt.name') }}</th>
                            <th{% if pagination.isSorted('rt.subject') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Subject', 'rt.subject') }}</th>

                            <th{% if pagination.isSorted('rt.archivedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Archived', 'rt.archivedAt') }}</th>
                            <th{% if pagination.isSorted('rt.created') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Created', 'rt.created') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                            {% for reviewTemplate in pagination %}{# @var reviewTemplate \AppBundle\Entity\ReviewTemplate #}

                                <tr>
                                    <td class="v-align-middle">{{ reviewTemplate.typeName }}</td>
                                    <td class="v-align-middle">{{ reviewTemplate.name }}</td>
                                    <td class="v-align-middle">{{ reviewTemplate.subject }}</td>


                                    <td class="v-align-middle">{{ reviewTemplate.archivedAt ?  reviewTemplate.archivedAt|date('d/m/Y H:i') : '-' }}</td>
                                    <td class="v-align-middle">{{ reviewTemplate.created|date('d/m/Y H:i') }}</td>
                                    <td class="v-align-middle">
                                        <a href="{{ path('admin_review_template_view', {id: reviewTemplate.id}) }}" class="btn btn-small btn-default"><i class="fa fa-list"></i> View</a>
                                        <a href="{{ path('admin_review_template_edit', {id: reviewTemplate.id}) }}" class="btn btn-small btn-default"><i class="fa fa-edit"></i> Edit</a>
                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3" align="left" class="">
                                    <b>You're viewing {{ pagination|length }} of {{ pagination.getPaginationData()['totalCount'] }} records in this table</b>
                                </th>
                                <th colspan="2" align="right">
                                    {{ knp_pagination_render(pagination) }}
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                {% else %}
                    <p>No records found</p>
                {% endif %}
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->


{% endblock %}
