{% extends '::layout.html.twig' %}

{# @var reviewTemplate \AppBundle\Entity\ReviewTemplate #}

{% block content %}

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li>
                <a href="#">Admin</a>
            </li>
            <li><a href="{{ path('admin_review_templates') }}" class="active">Review Templates</a></li>
            <li>Review Template</li>
        </ul>


        <div class="row">
            <div class="col-lg-7 col-md-6 ">
                <!-- START PANEL -->
                <div class="panel-heading">
                    <h1>Review Template: {{ reviewTemplate.name }}</h1>
                </div>

                <div class="panel panel-transparent">
                    <div class="panel-body">

                        {{ include('::flash-output.html.twig') }}

                        <div class="form-horizontal">

                            <div class="form-group required">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    {{ reviewTemplate.name }}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-3 control-label">Type</label>
                                <div class="col-sm-9">
                                    {{ reviewTemplate.typeName }}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-3 control-label">Subject</label>
                                <div class="col-sm-9">
                                    {{ reviewTemplate.subject }}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-3 control-label">Message</label>
                                <div class="col-sm-9">
                                    {{ reviewTemplate.message }}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-3 control-label">Archived</label>
                                <div class="col-sm-9">
                                    {{ reviewTemplate.archivedAt ? 'Yes: ' ~ reviewTemplate.archivedAt|date('Y-m-d H:i') : 'No' }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7 col-md-6 ">
                <!-- START PANEL -->
                <div class="panel-heading">
                    <h1>Review Template Questions</h1>
                </div>

                <div class="panel panel-transparent">
                    <div class="panel-body">

                        <div class="pull-right top-right">
                            <a href="{{ path('admin_review_template_question_add', {id: reviewTemplate.id}) }}" class="btn btn-default btn-small"><i class="fa fa-plus"></i> Add Question</a>
                        </div>

                        {% if reviewTemplate.reviewTemplateQuestions|length > 0 %}
                        <table class="table">
                            <thead>
                                <th>Question</th>
                                <th>Archived</th>
                                <th>&nbsp;</th>
                            </thead>
                            <tbody>
                                {% for reviewTemplateQuestion in reviewTemplate.reviewTemplateQuestions %}{# @var reviewTemplateQuestion \AppBundle\Entity\ReviewTemplateQuestion #}
                                <tr>
                                    <td>{{ reviewTemplateQuestion.question }}</td>
                                    <td class="{{ reviewTemplateQuestion.archivedAt ? 'text-danger bold' : 'text-success semi-bold' }}">{{ reviewTemplateQuestion.archivedAt ? 'Yes: ' ~ reviewTemplateQuestion.archivedAt|date('Y-m-d H:i') : 'No' }}</td>
                                    <td>
                                        <a href="{{ path('admin_review_template_question_edit', {id: reviewTemplateQuestion.id}) }}" class="btn btn-default btn-small"><i class="fa-align-center fa-edit"></i> Edit</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p>No questions have been added yet for this Review Template.</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
