<div class="audit-log-feed">
    <div class="ui internally celled grid">

        {% for auditLog in auditLogs %}
            <div class="row">
                <div class="two wide column">
                    <div class="time">
                        {{ auditLog.created|time_diff }}
                    </div>
                </div>
                <div class="one wide column time-line">
                    <div class="line"></div>
                    <div class="notch"></div>
                </div>
                <div class="thirteen wide column">
                    <div class="content">
                        <div class="summary">
                            {% if auditLog.isMetaJSON %}
                                Score was
                                {% if auditLog.getMeta()['action'] == 'set' %}
                                    <b>set</b> at <span class="carbon-score">{{ auditLog.getMeta()['units']['to']|units }}</span> {{ measure.measureType.getUnitTypeName() }} by the installer
                                {% elseif auditLog.getMeta()['action'] == 'changed' %}
                                    <b>changed</b> to <span class="carbon-score">{{ auditLog.getMeta()['units']['to']|units }}</span> {{ measure.measureType.getUnitTypeName() }} by the staff member
                                {% elseif auditLog.getMeta()['action'] == 'agreed' %}
                                    <span class="green text"><b>agreed</b></span> by the staff member
                                {% elseif auditLog.getMeta()['action'] == 'rejected' %}
                                    <span class="red text"><b>rejected</b></span> by the staff member
                                {% endif %}
                                <b>{{ auditLog.user.getName() }}</b> at <b>{{ auditLog.created|date('h:ia') }}</b> on {{ auditLog.created|date('d F Y') }}
                            {% else %}
                                {{ auditLog.meta }}
                            {% endif %}
                        </div>
                        <div class="notes">
                            {% if auditLog.isMetaJSON and auditLog.getMeta()['reason'] is defined and auditLog.getMeta()['reason']|length > 0 %}
                                <b>Notes:</b> {{ auditLog.getMeta()['reason'] }}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}

    </div>
</div>