<div class="audit-log-feed">
    <div class="ui internally celled grid">

        {% if heading is defined %}
            <h2>{{ heading }}</h2>
        {% endif %}

        {% for auditLog in auditLogs %}
            <div class="row">
                <div class="two wide column">
                    <div class="time">
                        {{ auditLog.created|time_diff }}
                    </div>
                </div>
                <div class="one wide column time-line">
                    <div class="line"></div>
                    <div class="notch"></div>
                </div>
                <div class="thirteen wide column">
                    <div class="content">
                        <div class="summary">
                            {{ auditLog.getActionName()|capitalize }} by {{ auditLog.user.getName() }} on  {{ auditLog.created|date('d F Y') }}
                        </div>
                        <div class="notes">
                            {% if not auditLog.isMetaJSON %}
                                {{ auditLog.meta }}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}

    </div>
</div>