<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="message-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5 class="title"></h5>
                <p class="subtitle"></p>
            </div>
            <div class="modal-body">
                <div class="content"></div>
                <div class="row">
                    <div class="col-sm-4 pull-right">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->
<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="confirm-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5 class="title"></h5>
                <p class="subtitle"></p>
            </div>
            <div class="modal-body">
                <div class="content"></div>
                <div class="row">
                    <div class="col-sm-5 pull-right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-success confirm" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->