<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <title>{% block title %}Wealth College Pro&reg;{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta content="" name="description" />
        <meta content="" name="author" />

        {% block metas %}{% endblock %}

        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
            'assets/plugins/pace/pace-theme-flash.css'
            'assets/plugins/boostrapv3/css/bootstrap.min.css'
            'assets/plugins/font-awesome/css/font-awesome.css'
            'assets/plugins/jquery-scrollbar/jquery.scrollbar.css'
            'assets/plugins/select2/select2.css'
            'assets/plugins/switchery/css/switchery.min.css'
            'assets/plugins/codrops-stepsform/css/component.css'
            'assets/plugins/period_picker/jquery.periodpicker.min.css'
            'assets/plugins/period_picker/jquery.timepicker.min.css'
            'pages/css/pages-icons.css'
            'assets/css/style.css'
            output="assets/css/combined.css"
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}



            {% block main_stylesheet %}
                <link class="main-stylesheet" rel="stylesheet" href="{{ asset('pages/css/pages.css') }}" type="text/css"/>
            {% endblock %}

            {% include "stylesheets.html.twig" %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/print.css') }}" type="text/css" media="print"/>

        <!--
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        -->
        <!--[if lte IE 9]>
        <link href="/pages/css/ie9.css" rel="stylesheet" type="text/css" />
        <![endif]-->
        <script type="text/javascript">
            window.onload = function()
            {
                // fix for windows 8
                if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
                    document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="/pages/css/windows.chrome.fix.css" />'
            }
        </script>
    </head>
    <body id="page_{{ app.request.attributes.get('_route') }}"
          class="fixed-header {% block body_class %}{% endblock %}"
        >
        {% block before_body %}{{ include('before-body.html.twig') }}{% endblock %}
        {% block body %}{% endblock %}
        {% block after_body %}{{ include('after-body.html.twig') }}{% endblock %}
        {% block javascripts %}

            {% if app.environment == 'prod' %}
                {% javascripts
                    'bundles/fosjsrouting/js/router.js'
                    'assets/plugins/pace/pace.min.js'
                    'assets/plugins/jquery/jquery-1.11.1.min.js'
                    'assets/plugins/modernizr.custom.js'
                    'assets/plugins/jquery-ui/jquery-ui.min.js'
                    'assets/plugins/boostrapv3/js/bootstrap.min.js'
                    'assets/plugins/jquery/jquery-easy.js'
                    'assets/plugins/jquery-unveil/jquery.unveil.min.js'
                    'assets/plugins/jquery-bez/jquery.bez.min.js'
                    'assets/plugins/jquery-ios-list/jquery.ioslist.min.js'
                    'assets/plugins/jquery-actual/jquery.actual.min.js'
                    'assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js'
                    'assets/plugins/select2/select2.full.js'
                    'assets/plugins/classie/classie.js'
                    'assets/plugins/switchery/js/switchery.min.js'
                    'assets/plugins/jquery-validation/js/jquery.validate.min.js'
                    'assets/plugins/period_picker/jquery.periodpicker.full.min.js'
                    'assets/plugins/period_picker/jquery.timepicker.min.js'
                    'assets/plugins/moment/moment-with-locales.min.js'
                    'assets/plugins/moment/mement-timezone.js'
                    'pages/js/pages.frontend.min.js'
                    'assets/js/scripts.js'
                    output='assets/js/combined.js'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% else %}
                {% javascripts
                    'bundles/fosjsrouting/js/router.js'
                    'assets/plugins/pace/pace.min.js'
                    'assets/plugins/jquery/jquery-1.11.1.min.js'
                    'assets/plugins/modernizr.custom.js'
                    'assets/plugins/jquery-ui/jquery-ui.min.js'
                    'assets/plugins/boostrapv3/js/bootstrap.min.js'
                    'assets/plugins/jquery/jquery-easy.js'
                    'assets/plugins/jquery-unveil/jquery.unveil.min.js'
                    'assets/plugins/jquery-bez/jquery.bez.min.js'
                    'assets/plugins/jquery-ios-list/jquery.ioslist.min.js'
                    'assets/plugins/jquery-actual/jquery.actual.min.js'
                    'assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js'
                    'assets/plugins/select2/select2.full.js'
                    'assets/plugins/classie/classie.js'
                    'assets/plugins/switchery/js/switchery.min.js'
                    'assets/plugins/jquery-validation/js/jquery.validate.min.js'
                    'assets/plugins/period_picker/jquery.periodpicker.full.min.js'
                    'assets/plugins/period_picker/jquery.timepicker.min.js'
                    'assets/plugins/moment/moment-with-locales.min.js'
                    'assets/plugins/moment/mement-timezone.js'
                    'pages/js/pages.frontend.min.js'
                    'assets/js/scripts.js'
                    output='assets/js/combined-dev.js'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
                <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            {% endif %}


            {#<script src="{{ asset('assets/plugins/bootstrap-select2/select2.js') }}"></script>#}

        {% endblock %}
        <script>
            App.timezone = moment.tz.guess();
            {% if app.user  %}
                if (App.timezone && App.timezone != "{{ app.user.preferences.timezone|default('') }}") {
                    $.post(Routing.generate('set_timezone', {timezone: App.timezone}));
                }
            {% endif %}
        </script>
        {% block last_javascripts %}
            <script src="{{ asset('pages/js/pages.min.js') }}"></script>

        {% endblock %}

    </body>
</html>
