{% extends 'base.html.twig' %}

{% block body %}

    <!-- START PAGE-CONTAINER -->
    <div class="page-container {% block page_container_class %}{% endblock %}">

        <!-- START PAGE CONTENT WRAPPER -->
        <div class="page-content-wrapper {% block page_content_wrapper_class %}{% endblock %}">
            <!-- START PAGE CONTENT -->
            <div class="content {% block content_class %}{% endblock %}">

                {% block content %}



                {% endblock %}

            </div>
            <!-- END PAGE CONTENT -->

            {% block footer %}
                <!-- START COPYRIGHT -->
                <!-- START CONTAINER FLUID -->
                <!-- START CONTAINER FLUID -->
                <div class="container-fluid container-fixed-lg footer">
                    <div class="copyright sm-text-center">
                        <p class="small no-margin pull-left sm-pull-reset">
                            <span class="hint-text">Copyright &copy; {{ "now"|date('Y') }} </span>
                            <span class="font-montserrat">Wealth College Pro&reg;</span>.
                            <span class="hint-text">All rights reserved. </span>
                            <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
                        </p>
                        <p class="small no-margin pull-right sm-pull-reset">
                            <!--<a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love ®</span>-->
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- END COPYRIGHT -->
            {% endblock %}
        </div>
    </div>

{% endblock %}
