<!-- BEGIN HEADER -->
<nav class="header md-header light " data-pages="header" data-pages-header="autoresize">
    <div class="container relative">
        <!-- BEGIN LEFT CONTENT -->
        <div class="pull-left z-index-1">
            <!-- BEGIN HEADER TOGGLE FOR MOBILE -->
            <div class="visible-sm-inline visible-xs-inline menu-toggler pull-right " data-pages="header-toggle" data-pages-element="#header">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>
        <!-- BEGIN CENTER CONTENT -->
        <div class="pull-center">
            <div class="pull-center-inner">
                <div class="header-inner ">
                    <!-- BEGIN LOGO -->
                    <a href="{{ path('home_page') }}">
                        <img src="{{ asset('assets/img/logo-nav.png') }}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- END CENTER CONTENT -->
        <!-- BEGIN MENU -->
        <div class=" menu-content clearfix" data-pages="menu-content" data-pages-direction="slideLeft" id="header">
            <!-- BEGIN HEADER CLOSE TOGGLE FOR MOBILE -->
            <div class="pull-left">
                <a href="#" class="text-black link padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="header-toggle" data-pages-element="#header">
                    <i class=" pg-close_line"></i>
                </a>
            </div>
            <div class="pull-left sm-block sm-full-width">
                <div class="header-inner">
                    <!-- BEGIN MENU ITEMS -->
                    <ul class="menu">
                        <li>
                            <a href="{{ path('home_page') }}" data-text="Home" class="active">Home</a>
                        </li>
                        {#
                        <li class="classic">

                            <a href="{{ path('features') }}" data-text="Features">Features</i></a>
                        </li>
                        #}
                        <li>
                            {% if app.user %}
                                <a href="{{ path('dashboard') }}" data-text="Dashboard" class="text-success">Dashboard</a>
                            {% else %}
                                <a href="{{ path('fos_user_registration_register') }}" data-text="Registration" class="">Register</a>
                            {% endif %}
                        </li>
                    </ul>
                    <!-- END MENU ITEMS -->
                </div>
            </div>
            <div class="pull-right sm-block sm-full-width">
                <div class="header-inner">
                    <!-- BEGIN MENU ITEMS -->
                    <ul class="menu">
                        {#
                        <li>
                            <a href="{{ path('pricing') }}" data-text="Pricing">Pricing </a>
                        </li>
                        <li>
                            <a href="{{ path('contact') }}" data-text="Contact">Contact </a>
                        </li>
                        #}
                        <li>
                            {% if app.user %}
                                <a href="{{ path('fos_user_security_logout') }}" data-text="Log Out">Log Out</a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}" data-text="Log In">Log In</a>
                            {% endif %}

                        </li>
                    </ul>
                    <!-- END MENU ITEMS -->
                </div>
            </div>
        </div>
        <!-- END MENU -->
    </div>
</nav>
<!-- END HEADER -->