<!-- BEGIN FOOTER -->
<section class="p-b-50 p-t-50 bg-master-darker ">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p class="fs-11 no-margin font-arial text-white small-text">Wealth College Pro&reg; is a product of Wealth Hub Pte Ltd. <a href="http://www.designdynamos.com" target="_blank">Web &amp; Application Development by Design Dynamos.</a></p>
                <p class="fs-11 hint-text text-white font-arial no-margin small-text">Copyright &copy; {{ 'today'|date('Y') }} Wealth Hub Pte Ltd. All Rights Reserved.</p>
                <ul class="no-style fs-11 no-padding font-arial m-t-20">
                    <li class="inline no-padding"><a href="{{ path('home_page') }}" class="text-white p-r-10">Home</a></li>
                    <li class="inline no-padding"><a href="{{ path('features') }}" class="text-white p-r-10">Features</a></li>
                    <li class="inline no-padding"><a href="{{ path('pricing') }}" class="text-white p-r-10">Pricing</a></li>
                    <li class="inline no-padding"><a href="{{ path('contact') }}" class="text-white p-r-10">Contact</a></li>
                    <li class="inline no-padding"><a href="/assets/documents/Privacy%20Policy%20&%20Terms%20of%20Use%20(rev%202Aug2016).pdf" target="_blank" class="text-white p-r-10">Privacy Policy/Terms of Use</a></li>
                    <li class="inline no-padding"><a href="{{ path('fos_user_security_login') }}" class="text-white p-r-10">Log In</a></li>
                    {#
                    <li class="inline no-padding"><a href="#" class="text-white p-l-10 p-r-10 hint-text">Themeforest Profile</a></li>
                    <li class="inline no-padding"><a href="#" class="text-white p-l-10 p-r-10 hint-text">Support</a></li>
                    <li class="inline no-padding"><a href="#" class="text-white p-l-10 p-r-10 hint-text xs-no-padding xs-m-t-10">Made with Pages</a></li>
                    #}
                </ul>
            </div>
            <div class="col-md-5">
                <ul class="no-style fs-12 no-padding pull-right xs-pull-left xs-m-t-20">
                    <li class="inline no-padding"><a href="#" class="text-white p-l-30 fs-16 xs-no-padding"><i class="fa fa-facebook"></i></a></li>
                    <li class="inline no-padding"><a href="#" class="text-white p-l-30 fs-16"><i class="fa fa-twitter"></i></a></li>
                    <li class="inline no-padding"><a href="#" class="text-white p-l-30 fs-16"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- END FOOTER -->