{% extends 'base.html.twig' %}

{% if not app.user %}
    {% block main_stylesheet %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('pages/css/pages-frontend.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('pages/css/pages-icons-frontend.css') }}" type="text/css"/>
    {% endblock  %}
{% endif %}

{% block body %}


    {% block sidebar %}
        {% if is_granted('ROLE_USER') %}
            {{ include('AppBundle:Layout:sidebar.html.twig') }}
        {% endif %}
    {% endblock sidebar %}

    {% block content_outer %}

        <!-- START PAGE-CONTAINER -->
        <div class="page-container {% block page_container_class %}{% endblock %} {{ is_granted('ROLE_USER') ? '' : 'no-sidebar'}}">

            {% block header %}
                {% if app.user %}
                    {{ include('AppBundle:Layout:header.html.twig') }}
                {% else %}
                    {{ include('::frontend-header.html.twig') }}
                {% endif %}

            {% endblock header %}

            <!-- START PAGE CONTENT WRAPPER -->
            <div class="page-content-wrapper {% block page_content_wrapper_class %}{% endblock %}">
                <!-- START PAGE CONTENT -->
                <div class="content {% block content_class %}{% endblock %} {{ is_granted('ROLE_FA') and app.user.financialAdviser.numSubscriptionDaysRemaining <= 28 ? 'warning-bar-showing' : '' }}">

                    {% block content %}



                    {% endblock %}

                </div>
                <!-- END PAGE CONTENT -->

                {% block footer %}
                    {% if app.user %}
                        <!-- START COPYRIGHT -->
                        <!-- START CONTAINER FLUID -->
                        <!-- START CONTAINER FLUID -->
                        <div class="container-fluid container-fixed-lg footer">
                            <div class="copyright sm-text-center">
                                <p class="small no-margin pull-left sm-pull-reset">
                                    <span class="hint-text">Copyright &copy; {{ "now"|date('Y') }} </span>
                                    <span class="font-montserrat">Wealth College Pro&reg;</span>.
                                    <span class="hint-text">All rights reserved. </span>
                                    <span class="sm-block"><a href="/assets/documents/Privacy%20Policy%20&%20Terms%20of%20Use%20(rev%202Aug2016).pdf" target="_blank" class="p-r-10">Privacy Policy/Terms of Use</a></span>
                                    {% block extra_footer_links %}{% endblock %}


                                </p>
                                </p>
                                <p class="small no-margin pull-right sm-pull-reset">
                                    <!--<a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love ®</span>-->
                                </p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-- END COPYRIGHT -->
                    {% else %}
                        {{ include('::frontend-footer.html.twig') }}
                    {% endif %}

                {% endblock %}
            </div>
        </div>
    {% endblock %}


    {# include('AppBundle:Layout:quickview.html.twig') #}
    {{ include('AppBundle:Layout:overlay.html.twig') }}

{% endblock %}
