{% extends 'base.html.twig' %}


{% block body_class %}horizontal-menu{% endblock %}
{% block body %}

    {% block navbar %}{% endblock navbar %}

    {% block content %}
        {% block fos_user_content %}
        {% endblock fos_user_content %}

        {% block inner_content %}
        {% endblock %}

    {% endblock %}


{% endblock %}
