{% extends 'base.html.twig' %}

{% block main_stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('pages/css/pages-frontend.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('pages/css/pages-icons-frontend.css') }}" type="text/css"/>
{% endblock  %}

{% block body %}

    {% block frontend_header %}
        {{ include('::frontend-header.html.twig') }}
    {% endblock %}

    {% block content_outer %}
    <div class="p-t-60">
        <!-- BEGIN PRICING SECTION -->
        <section class="p-t-40 p-b-75">
            <div class="container p-t-20">
                {% block content %}{% endblock %}
            </div>
        </section>
    </div>
    {% endblock %}

    {% block frontend_footer %}
        {{ include('::frontend-footer.html.twig') }}
    {% endblock %}

{% endblock %}
