
{{ form_start(client_event_types_form, {attr: {id: 'client-event-types-form', class: 'form live-form'}}) }}

    {{ form_errors(client_event_types_form) }}
    {{ form_widget(client_event_types_form._token) }}

    {% for clientEventType in client_event_types_form.clientEventTypes %}
        <div class="col-sm-6">
            <div class="form-group form-group-default">
                <label for="client-event-type-{{ clientEventType.vars.value.id }}">Pipeline Event {{ loop.index }}</label>
                {{ form_widget(clientEventType.name, {attr: {class: 'form-control'}}) }}
            </div>
        </div>
    {% endfor %}
    {% for i in client_event_types_form.clientEventTypes|length..9 %}
        <div class="col-sm-6">
            <div class="form-group form-group-default">
                <label for="client-event-type-i-{{ i }}">Pipeline Event {{ i+1 }}</label>
                <input type="text" value="" name="client_event_types[clientEventTypes][{{ i }}][name]" class="form-control" />
            </div>
        </div>
    {% endfor %}

    <div class="row text-right ">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success m-r-15">Save</button>
    </div>

{{ form_end(client_event_types_form, {render_rest: false}) }}
