<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="client-event-types-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5><span class="semi-bold">Pipeline Event</span></h5>
                <p>The standard list of Pipelines Events you can choose from are: <br/><i>First Contact, Appointment Made, Appointment Attended, Appointment Cancelled, Appointment Deferred, Offer Made, Counter Offer Made, Follow-Up, Offer Accepted, Offer Negotiated, Offer Declined, Offer Reviewed, Offer Complete</i><br/>
                    <br/>You can add up to 10 more.
                </p>
            </div>
            <div class="modal-body">

                {{ include('AppBundle:Client/widget:client-event-types-form.html.twig') }}

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->