{# @var client \AppBundle\Entity\Client #}

<div class="tab-pane slide-left active" id="profile">
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">Details For</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9 col-md-7">
                    <h3>{{ client.person.fullName }}</h3>
                    {% if client.person.dob %}
                        <p>{{ client.person.fullName }}’s birthday is on {{ client.person.dob|date('d F Y') }}</p>
                    {% endif %}
                    <br/>

                    {{ form_start(profile_form, {attr: {id: 'profile-form', class: 'form-horizontal confirm-exit'}}) }}

                        {{ form_errors(profile_form) }}
                        {{ form_widget(profile_form._token) }}

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-2">
                                <div class="form-group-default">
                                    {{ form_label(profile_form.person.title) }}
                                    {{ form_widget(profile_form.person.title, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group-default">
                                    {{ form_label(profile_form.person.firstName) }}
                                    {{ form_widget(profile_form.person.firstName, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group-default">
                                    {{ form_label(profile_form.person.lastName) }}
                                    {{ form_widget(profile_form.person.lastName, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{ form_label(profile_form.typeId) }}</label>
                            <div class="col-sm-9">
                                <div class="radio radio-success">
                                    {{ form_widget(profile_form.typeId, {attr: {class: ''}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="col-sm-9">
                                <div class="radio radio-success">
                                    {{ form_widget(profile_form.person.gender, {attr: {class: ''}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Photo</label>
                            <div class="col-sm-9">

                                <label id="photo-upload" class="thumbnail-wrapper d96 circular bordered b-white">

                                        {% if client.photoUpload %}
                                            <img src="{{ image(client.photoUpload.location).zoomCrop(150, 150) }}" alt="Photo" height="150"/>
                                        {% else %}
                                            <img src="{{ image(web_path~'/assets/img/profiles/default.jpg').zoomCrop(150, 150) }}" alt="Photo" height="150"/>
                                        {% endif %}

                                    <input type="file" id="photo-upload-id" name="photo_upload_id" style="display: none" data-url="{{ path('ajax_client_photo_upload', {id: client.id}) }}"/>


                                </label>
                                <!-- Default height -->
                                <div id="photo-upload-progress" class="progress" style="display: none">
                                    <div style="width: 0%;" class="progress-bar progress-bar-success"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Race</label>
                            <div class="col-sm-9">
                                <div class="input-group date">
                                    {{ form_widget(profile_form.race, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nationality</label>
                            <div class="col-sm-9">
                                <div class="form-group-select2">
                                    {{ form_widget(profile_form.nationalityCountry, {attr: {class: ''}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">NRIC/Passport</label>
                            <div class="col-sm-9">
                                <div class="input-group date">
                                    {{ form_widget(profile_form.person.nricPassport, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Marital Status</label>
                            <div class="col-sm-9">
                                <div class="form-group-select2">
                                    {{ form_widget(profile_form.person.maritalStatusId, {attr: {class: 'form-control', 'data-init-plugin': 'select2'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Date of Birth</label>
                            <div class="col-sm-9">
                                <div class="input-group date">
                                    {{ form_widget(profile_form.person.dob, {attr: {class: 'form-control date-mask'}}) }}
                                    {# form_widget(profile_form.person.dob, {attr: {class: 'form-control', 'data-provide':"datepicker", 'data-date-format':"yyyy-mm-dd"}}) #}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Religion</label>
                            <div class="col-sm-9">
                                <div class="input-group date">
                                    {{ form_widget(profile_form.religion, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>

                            <div class="col-sm-9">
                                <div class="form-group-default">
                                    {{ form_label(profile_form.address.address1) }}
                                    {{ form_widget(profile_form.address.address1, {attr: {class : 'form-control'}, required: false}) }}
                                </div>

                                <div class="form-group-default">
                                    {{ form_label(profile_form.address.address2) }}
                                    {{ form_widget(profile_form.address.address2, {attr: {class : 'form-control'}}) }}
                                </div>

                                <div class="form-group-default">
                                    {{ form_label(profile_form.address.city) }}
                                    {{ form_widget(profile_form.address.city, {attr: {class : 'form-control'}, required: false}) }}
                                </div>

                                <div class="form-group-default">
                                    {{ form_label(profile_form.address.postCode) }}
                                    {{ form_widget(profile_form.address.postCode, {attr: {class : 'form-control'}, required: false}) }}
                                </div>

                                <div class="form-group-default">
                                    {{ form_label(profile_form.address.country) }}
                                    {{ form_widget(profile_form.address.country, {attr: {class : 'form-control'}, required: false}) }}
                                </div>
                            </div>

                        </div>
                    
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <div class="form-group-default">
                                    {{ form_label(profile_form.person.email) }}
                                    {{ form_widget(profile_form.person.email, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Telephone</label>
                            <div class="col-sm-9">
                                <div class="form-group-default">
                                    <label>Home</label>
                                    {{ form_widget(profile_form.person.telephone, {attr: {class: 'form-control'}}) }}
                                </div>
                                <div class="form-group-default">
                                    {{ form_label(profile_form.person.telephoneWork) }}
                                    {{ form_widget(profile_form.person.telephoneWork, {attr: {class: 'form-control'}}) }}
                                </div>
                                <div class="form-group-default">
                                    {{ form_label(profile_form.person.mobile) }}
                                    {{ form_widget(profile_form.person.mobile, {attr: {class: 'form-control'}}) }}
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Websites</label>
                            <div class="col-sm-9">
                                <div class="form-group-default">
                                    {{ form_label(profile_form.website1) }}
                                    {{ form_widget(profile_form.website1, {attr: {class: 'form-control'}}) }}
                                </div>
                                <div class="form-group-default">
                                    {{ form_label(profile_form.website2) }}
                                    {{ form_widget(profile_form.website2, {attr: {class: 'form-control'}}) }}
                                </div>
                                <div class="form-group-default">
                                    {{ form_label(profile_form.website3) }}
                                    {{ form_widget(profile_form.website3, {attr: {class: 'form-control'}}) }}
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Social</label>
                            <div class="col-sm-9">
                                <div class="form-group-default">
                                    {{ form_label(profile_form.facebook) }}
                                    {{ form_widget(profile_form.facebook, {attr: {class: 'form-control'}}) }}
                                </div>
                                <div class="form-group-default">
                                    {{ form_label(profile_form.twitter) }}
                                    {{ form_widget(profile_form.twitter, {attr: {class: 'form-control'}}) }}
                                </div>
                                <div class="form-group-default">
                                    {{ form_label(profile_form.linkedin) }}
                                    {{ form_widget(profile_form.linkedin, {attr: {class: 'form-control'}}) }}
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Work</label>
                            <div class="col-sm-9">
                                <div class="form-group-default">
                                    {{ form_label(profile_form.occupation) }}
                                    {{ form_widget(profile_form.occupation, {attr: {class: 'form-control'}}) }}
                                </div>
                                <div class="form-group-default">
                                    {{ form_label(profile_form.jobTitle) }}
                                    {{ form_widget(profile_form.jobTitle, {attr: {class: 'form-control'}}) }}
                                </div>
                                <div class="form-group-default">
                                    <label>Company Name</label>
                                    {{ form_widget(profile_form.person.businessName, {attr: {class: 'form-control'}}) }}
                                </div>

                                <div class="form-group-default">
                                    {{ form_label(profile_form.companyAddress.address1) }}
                                    {{ form_widget(profile_form.companyAddress.address1, {attr: {class : 'form-control'}, required: false}) }}
                                </div>

                                <div class="form-group-default">
                                    {{ form_label(profile_form.companyAddress.address2) }}
                                    {{ form_widget(profile_form.companyAddress.address2, {attr: {class : 'form-control'}}) }}
                                </div>

                                <div class="form-group-default">
                                    {{ form_label(profile_form.companyAddress.city) }}
                                    {{ form_widget(profile_form.companyAddress.city, {attr: {class : 'form-control'}, required: false}) }}
                                </div>

                                <div class="form-group-default">
                                    {{ form_label(profile_form.companyAddress.postCode) }}
                                    {{ form_widget(profile_form.companyAddress.postCode, {attr: {class : 'form-control'}, required: false}) }}
                                </div>

                                <div class="form-group-default">
                                    {{ form_label(profile_form.companyAddress.country) }}
                                    {{ form_widget(profile_form.companyAddress.country, {attr: {class : 'form-control'}, required: false}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Referred By</label>
                            <div class="col-sm-9">
                                {{ form_widget(profile_form.referredBy, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Linked Contacts</label>
                            <div class="col-sm-9">
                                <p>Link this contact to others in your list so you know how they relate</p>


                                <div class="client-relations" data-prototype="{{ form_widget(profile_form.clientRelations.vars.prototype)|e }}">
                                    {% for clientRelation in profile_form.clientRelations if clientRelation.vars.value.id %} {# @var clientRelation \AppBundle\Entity\ClientRelation #}
                                        <div id="client-relation-{{ loop.index }}" class="form-group client-relation">
                                            <div class="col-sm-4">
                                                {{ form_widget(clientRelation.relatedClient, {attr: {class: 'form-control'}}) }}
                                            </div>
                                            <div class="col-sm-2">
                                                <strong>is {{ client.person.firstName }}'s</strong>
                                            </div>
                                            <div class="col-sm-4">
                                                {{ form_widget(clientRelation.relationshipTypeId, {attr: {class: 'form-control'}}) }}
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-default remove-client-relation"><i class="fa fa-remove"></i> Remove</button>
                                                <a class="btn btn-default" href="{{ path('client_detail', {id: clientRelation.vars.value.relatedClient.id }) }}"><i class="fa fa-user"></i> View Profile</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <button class="btn btn-default add-client-relation" type="button"><i class="fa fa-plus"></i> Add Relation</button>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Special Dates</label>
                            <div class="col-sm-9">

                                <div class="client-dates" data-prototype="{{ form_widget(profile_form.clientDates.vars.prototype)|e }}">

                                    {% for clientDate in profile_form.clientDates if clientDate.vars.value.id %} {# @var clientDate \AppBundle\Entity\ClientDate #}
                                        <div id="client-date-{{ loop.index }}" class="form-group client-date">
                                            <div class="col-sm-3">
                                                <div class="form-group-default">
                                                    {{ form_label(clientDate.dateTypeId) }}
                                                    {{ form_widget(clientDate.dateTypeId, {attr: {class: 'form-control date-type-id'}}) }}
                                                    <div class="date-type-name" style="display: {{ clientDate.dateTypeId.vars.value == 3 ? 'block' : 'none' }}">
                                                        {{ form_label(clientDate.dateTypeName) }}
                                                        {{ form_widget(clientDate.dateTypeName, {attr: {class: 'form-control'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group-default">
                                                    {{ form_label(clientDate.date) }}
                                                    {# form_widget(clientDate.date, {attr: {class: 'form-control', 'data-provide':"datepicker", 'data-date-format':"yyyy-mm-dd"}}) #}
                                                    {{ form_widget(clientDate.date, {attr: {class: 'form-control date-mask'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group-default">
                                                    {{ form_label(clientDate.reminder) }}
                                                    {{ form_widget(clientDate.reminder, {attr: {class: 'date-reminder'}}) }}
                                                    <div class="date-reminder" style="display: {{ clientDate.reminder.vars.checked ? 'block' : 'none' }}">
                                                        {{ form_label(clientDate.reminderDate) }}
                                                        {# form_widget(clientDate.reminderDate, {attr: {class: 'form-control', 'data-provide':"datepicker", 'data-date-format':"yyyy-mm-dd"}}) #}
                                                        {{ form_widget(clientDate.reminderDate, {attr: {class: 'form-control date-mask'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-default remove-client-date"><i class="fa fa-remove"></i> Remove</button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <button class="btn btn-default add-client-date" type="button"><i class="fa fa-plus"></i> Add Special Date</button>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Groups</label>
                            <div class="col-sm-9">
                                {{ form_widget(profile_form.clientGroups, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Notes</label>
                            <div class="col-sm-9">
                                {{ form_widget(profile_form.notes, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>

                        {% if client.financialAdviser.subscribed %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">&nbsp;</label>
                            <div class="col-sm-9">
                                <button class="btn btn-primary btn-cons m-t-10" type="submit">Update</button>
                            </div>
                        </div>
                        {% endif %}


                    {{ form_end(profile_form, {render_rest: false}) }}

                </div>
            </div>
        </div>
    </div>
</div>