{# @var client \AppBundle\Entity\Client #}

<div class="tab-pane slide-left" id="wpm">

    {% if client.financialAdviser.subscribed %}
    <div class="row">
        <a href="{{ path('client_wpm_edit', {id: client.id}) }}" class="btn btn-primary pull-right m-r-25"><i class="fa fa-edit"></i> Edit</a>
    </div>
    {% endif %}


    <div class="panel panel-transparent">
        <div class="panel-heading">
            <h2 class="text-center semi-bold">Wealth Planning Model (WPM&reg;)</h2>
        </div>
        <div class="panel-body">

            {% if client.clientWPM %}

            <div class="container-fluid wpm">

                <div class="row clear-fix">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h4 class="text-center semi-bold">Annual Cash Flow Balance (&dollar;{{ client.clientWPM.annualCashFlowBalance|default(0)|number_format(0) }})</h4>
                    </div>
                </div>

                <div class="row clear-fix">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h4 class="text-center semi-bold">Gift &amp; Estate Planning (&dollar;{{ client.clientWPM.giftEstatePlanning|default(0)|number_format(0) }})</h4>
                        <div class="row clear-fix">
                            <div data-pages="portlet" class="panel panel-default col-md-4 ">
                                <div class="panel-body text-center">
                                    <h5 class="semi-bold">Net Estate<br/>&dollar;{{ client.clientWPM.netEstate|default(0)|number_format(0) }}</h5>
                                </div>
                            </div>
                            <div data-pages="portlet" class="panel panel-default col-md-4">
                                <div class="panel-body text-center">

                                </div>
                            </div>
                            <div data-pages="portlet" class="panel panel-default col-md-4">
                                <div class="panel-body text-center">

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row">
                    <h4 class="text-center semi-bold">Investment &amp; Retirement Planning (&dollar;{{ client.clientWPM.investmentRetirementPlanning|default(0)|number_format(0) }})</h4>
                </div>
                <div class="row clear-fix">
                    <div class="col-md-2">
                        <div data-pages="portlet" class="panel panel-default m-b-10">
                            <div class="panel-body text-center">
                                <h5 class="semi-bold">Active Income<br/>&dollar;{{ client.clientWPM.activeIncome|default(0)|number_format(0) }}</h5>
                            </div>
                        </div>
                        <div data-pages="portlet" class="panel panel-default">
                            <div class="panel-body text-center">
                                <h5 class="semi-bold">Fixed Expenses<br/>&dollar;{{ client.clientWPM.fixedExpenses|default(0)|number_format(0) }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row clear-fix">
                            <div data-pages="portlet" class="panel panel-default col-md-4 m-b-0">
                                <div class="panel-body text-center">
                                    <h5 class="semi-bold">Assets<br/>(Lower Risk)<br/>&dollar;{{ client.clientWPM.assetsLowerRisk|default(0)|number_format(0) }}</h5>
                                </div>
                            </div>
                            <div data-pages="portlet" class="panel panel-default col-md-4 m-b-0">
                                <div class="panel-body text-center">
                                    <h5 class="semi-bold">Assets<br/>(Moderate Risk)<br/>&dollar;{{ client.clientWPM.assetsModerateRisk|default(0)|number_format(0) }}</h5>
                                </div>
                            </div>
                            <div data-pages="portlet" class="panel panel-default col-md-4 m-b-0">
                                <div class="panel-body text-center">
                                    <h5 class="semi-bold">Assets<br/>(Higher Risk)<br/>&dollar;{{ client.clientWPM.assetsHigherRisk|default(0)|number_format(0) }}</h5>
                                </div>
                            </div>
                            <div data-pages="portlet" class="panel panel-default col-md-4 m-b-0">
                                <div class="panel-body text-center">
                                    <h5 class="semi-bold">Liabilities<br/>(Lower Risk)<br/>&dollar;{{ client.clientWPM.liabilitiesLowerRisk|default(0)|number_format(0) }}</h5>
                                </div>
                            </div>
                            <div data-pages="portlet" class="panel panel-default col-md-4 m-b-0">
                                <div class="panel-body text-center">
                                    <h5 class="semi-bold">Liabilities<br/>(Moderate Risk)<br/>&dollar;{{ client.clientWPM.liabilitiesModerateRisk|default(0)|number_format(0) }}</h5>
                                </div>
                            </div>
                            <div data-pages="portlet" class="panel panel-default col-md-4 m-b-0">
                                <div class="panel-body text-center">
                                    <h5 class="semi-bold">Liabilities<br/>(Higher Risk)<br/>&dollar;{{ client.clientWPM.liabilitiesHigherRisk|default(0)|number_format(0) }}</h5>
                                </div>
                            </div>
                            <div data-pages="portlet" class="panel panel-default col-md-12" style="min-height: 0;">
                                <div class="panel-body text-center">
                                    <h5 class="semi-bold">Net Worth &dollar;{{ client.clientWPM.investmentNetWorth|default(0)|number_format(0) }}</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div data-pages="portlet" class="panel panel-default m-b-10">
                            <div class="panel-body text-center">
                                <h5 class="semi-bold">Passive Income<br/>&dollar;{{ client.clientWPM.passiveIncome|default(0)|number_format(0) }}</h5>
                            </div>
                        </div>
                        <div data-pages="portlet" class="panel panel-default">
                            <div class="panel-body text-center">
                                <h5 class="semi-bold">Variable Expenses<br/>&dollar;{{ client.clientWPM.variableExpenses|default(0)|number_format(0) }}</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clear-fix">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h4 class="text-center semi-bold">Risk &amp; Insurance Planning (&dollar;{{ client.clientWPM.riskInsurancePlanning|default(0)|number_format(0) }})</h4>
                        <div class="row clear-fix">
                            <div data-pages="portlet" class="panel panel-default col-md-4 ">
                                <div class="panel-body text-center">
                                    <p class="semi-bold">Death &dollar;{{ client.clientWPM.death|default(0)|number_format(0) }}</p>
                                    <p class="semi-bold">Disability - riders &dollar;{{ client.clientWPM.disabilityRiders|default(0)|number_format(0) }}</p>
                                    <p class="semi-bold">Disability - sup benefit &dollar;{{ client.clientWPM.disabilitySubBenefits|default(0)|number_format(0) }}</p>
                                    <p class="semi-bold">PA - std alone &dollar;{{ client.clientWPM.paStdAlone|default(0)|number_format(0) }}</p>
                                    <p class="semi-bold">PA - riders &dollar;{{ client.clientWPM.paRiders|default(0)|number_format(0) }}</p>
                                    <p class="semi-bold">PA - supp benefit &dollar;{{ client.clientWPM.paSubBenefits|default(0)|number_format(0) }}</p>
                                </div>
                            </div>
                            <div data-pages="portlet" class="panel panel-default col-md-4">
                                <div class="panel-body text-center">
                                    <p class="semi-bold">CI - std alone &dollar;{{ client.clientWPM.ciStdAlone|default(0)|number_format(0) }}</p>
                                    <p class="semi-bold">CI - riders &dollar;{{ client.clientWPM.ciRiders|default(0)|number_format(0) }}</p>
                                    <p class="semi-bold">CI - sup benefit &dollar;{{ client.clientWPM.ciSubBenefits|default(0)|number_format(0) }}</p>
                                    <p class="semi-bold">Hosp - std alone &dollar;{{ client.clientWPM.hospStdAlone|default(0)|number_format(0) }}</p>
                                    <p class="semi-bold">Hosp - riders &dollar;{{ client.clientWPM.hospRiders|default(0)|number_format(0) }}</p>
                                    <p class="semi-bold">Hosp - supp benefit &dollar;{{ client.clientWPM.hospSubBenefits|default(0)|number_format(0) }}</p>
                                </div>
                            </div>
                            <div data-pages="portlet" class="panel panel-default col-md-4">
                                <div class="panel-body text-center">

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2"></div>
                </div>

            </div>

            {% else %}

            <p class="text-center">No data has been populated yet for the WPM</p>

            {% endif %}

        </div>
    </div>
</div>