{# @var client \AppBundle\Entity\Client #}

<div class="tab-pane slide-left" id="pipeline">

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid bg-master">
        <div class="container ">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <h1 class="text-white semi-bold">Pipeline</h1>
                </div>
                <div class="panel-body">

                    {{ form_start(client_event_form, {attr: {id: 'client-event-form', class: 'form-horizontal'}}) }}

                        {{ form_errors(client_event_form) }}
                        {{ form_widget(client_event_form._token) }}

                        <div class="form-group">
                            <label class="col-sm-3 control-label text-white">Pipeline Event</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    {{ form_widget(client_event_form.clientEventType, {attr: {class: 'form-control'}}) }}

                                        <span id="add-client-event-type" class="input-group-addon warning" data-toggle="modal" data-target="#client-event-types-modal" style="cursor: pointer">
                                            Add Pipeline Event
                                        </span>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label text-white">Description</label>
                            <div class="col-sm-9">
                                {{ form_widget(client_event_form.description, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label text-white">Date of Event</label>
                            <div class="col-sm-9">
                                {{ form_widget(client_event_form.date, {attr: {class: 'form-control date-picker'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label text-white">&nbsp;</label>
                            {% if client.financialAdviser.subscribed %}
                            <div class="col-sm-9">
                                <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> Add</button>
                            </div>
                            {% endif %}
                        </div>

                    {{ form_end(client_event_form, {render_rest: false}) }}


                </div>
            </div>
            <!-- END PANEL -->
        </div>
    </div>
    <!-- END CONTAINER FLUID -->

    <div class="container-fluid sm-p-l-5 bg-master-lighter ">
        <div class="timeline-container top-circle">
            <section class="timeline client-events">

                {% for clientEvent in clientEvents %}
                    {{ include('AppBundle:Client/widget:pipeline-client-event.html.twig', {clientEvent: clientEvent, financialAdviser: client.financialAdviser }) }}
                {% endfor %}

            </section>
        </div>
        <!-- -->
    </div>
    <!-- END CONTAINER FLUID -->
</div>

