{# @var clientEvent \AppBundle\Entity\ClientEvent #}
{# @var financialAdviser \AppBundle\Entity\FinancialAdviser #}

                <div id="client-event-{{ clientEvent.id }}" class="timeline-block client-event">
                    <div class="timeline-point warning">
                        <i class="fa fa-arrow-down"></i>
                    </div>
                    <!-- timeline-point -->
                    <div class="timeline-content">
                        <div class="card share full-width">
                            <div class="remove pull-right top-right" data-id="{{ clientEvent.id }}"><i class="portlet-icon portlet-icon-close"></i></div>
                            <div class="card-header clearfix">
                                <div class="user-pic">
                                    <img alt="Avatar" width="55" height="55"
                                         data-src-retina="{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(66, 66) }}"
                                         data-src="{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(33, 33) }}"
                                         src="{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(33, 33) }}"
                                    >
                                </div>
                                <h5>{{ clientEvent.clientEventType.name }}</h5>
                                <h6>{{ financialAdviser.user.name }}</h6>
                            </div>
                            <div class="card-description">
                                <p>{{ clientEvent.description }}</p>
                            </div>
                        </div>
                        <div class="event-date">
                            <h6 class="font-montserrat all-caps hint-text m-t-0">{{ clientEvent.date|date('d F Y, H:i A') }}</h6>
                        </div>
                    </div>
                    <!-- timeline-content -->
                </div>
