{# @var client \AppBundle\Entity\Client #}
{# @var investmentForm \AppBundle\Entity\ClientWPMInvestment #}



<div class="panel panel-default investment">

    <div class="panel-heading" role="tab" id="investmentHeading-{{ investmentForm.vars.value.id }}">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#insurance-policies" href="#investment-{{ investmentForm.vars.value.id }}" class="collapsed">
                Investment {{ investmentForm.vars.value.type ? investmentForm.vars.value.type : index }}
            </a>
            <button class="btn btn-default btn-small top-right m-t-10 m-r-40 remove-investment" type="button" data-id="{{ investmentForm.vars.value.id }}">
                <i class="fa fa-remove"></i> Remove
            </button>
        </h4>
    </div>

    <div id="investment-{{ investmentForm.vars.value.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="investmentHeading-{{ investmentForm.vars.value.id }}">
        <div class="panel-body">

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.type) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(investmentForm.type) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.riskClass) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(investmentForm.riskClass) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <div class="checkbox">
                            {{ form_widget(investmentForm.liquidateOnDeath) }}
                            {{ form_label(investmentForm.liquidateOnDeath) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.country) }}</div>
                    <div class="col-sm-3">{{ form_widget(investmentForm.country) }}</div>
                </div>
            </div>

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.ownershipType) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(investmentForm.ownershipType) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.owner) }}</div>
                    <div class="col-sm-3">{{ form_widget(investmentForm.owner) }}</div>
                </div>
            </div>

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.percentOwnership) }}</div>
                    <div class="col-sm-3">{{ form_widget(investmentForm.percentOwnership) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.originalValue) }}</div>
                    <div class="col-sm-3">{{ form_widget(investmentForm.originalValue) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.originalValuationDate) }}</div>
                    <div class="col-sm-3">{{ form_widget(investmentForm.originalValuationDate) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.originalLoanAmount) }}</div>
                    <div class="col-sm-3">{{ form_widget(investmentForm.originalLoanAmount) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.currentLoanAmount) }}</div>
                    <div class="col-sm-3">{{ form_widget(investmentForm.currentLoanAmount) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.currentMarketValue) }}</div>
                    <div class="col-sm-3">{{ form_widget(investmentForm.currentMarketValue) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.currentValuationDate) }}</div>
                    <div class="col-sm-3">{{ form_widget(investmentForm.currentValuationDate) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.investmentMode) }}</div>
                    <div class="col-sm-3">{{ form_widget(investmentForm.investmentMode) }}</div>
                </div>
            </div>

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3 bold">{{ form_label(investmentForm.sourceFunds) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(investmentForm.sourceFunds) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3 bold">{{ form_label(investmentForm.distribution) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(investmentForm.distribution) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.specialLaw) }}</div>
                    <div class="col-sm-3">{{ form_widget(investmentForm.specialLaw) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.beneficiaries) }}</div>
                    <div class="col-sm-3">{{ form_widget(investmentForm.beneficiaries) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(investmentForm.remarks) }}</div>
                    <div class="col-sm-3">{{ form_widget(investmentForm.remarks) }}</div>
                </div>
            </div>

        </div>
    </div>
</div>
