{# @var client \AppBundle\Entity\Client #}
{# @var clientWPM \AppBundle\Entity\ClientWPM #}

<div class="tab-pane slide-left active" id="cashflow">
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">WPM - Cashflow</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9 col-md-7">
                    <h3>{{ client.person.fullName }}</h3>
                    <br/>

                    {{ form_start(form, {attr: {id: 'cashflow-form', class: 'live-form', 'novalidate': 'novalidate'}}) }}

                        {{ form_errors(form) }}
                        {{ form_widget(form._token) }}

                        <h3>Active Income</h3>

                        <div class="form-group-attached">
                            <div class="row">
                                <label class="col-sm-3 control-label">Salary</label>
                                <div class="col-sm-3">{{ form_row(form.salary) }}</div>
                                <div class="col-sm-3">{{ form_row(form.salaryMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.salaryDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Allowances</label>
                                <div class="col-sm-3">{{ form_row(form.allowances) }}</div>
                                <div class="col-sm-3">{{ form_row(form.allowancesMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.allowancesDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Commissions</label>
                                <div class="col-sm-3">{{ form_row(form.commissions) }}</div>
                                <div class="col-sm-3">{{ form_row(form.commissionsMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.commissionsDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Bonuses</label>
                                <div class="col-sm-3">{{ form_row(form.bonuses) }}</div>
                                <div class="col-sm-3">{{ form_row(form.bonusesMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.bonusesDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Other</label>
                                <div class="col-sm-3">{{ form_row(form.cashflowActiveOthers) }}</div>
                            </div>
                        </div>

                        <h3>Passive Income</h3>

                        <div class="form-group-attached">
                            <div class="row">
                                <label class="col-sm-3 control-label">Dividends</label>
                                <div class="col-sm-3">{{ form_row(form.dividends) }}</div>
                                <div class="col-sm-3">{{ form_row(form.dividendsMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.dividendsDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Coupons</label>
                                <div class="col-sm-3">{{ form_row(form.coupons) }}</div>
                                <div class="col-sm-3">{{ form_row(form.couponsMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.couponsDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Rentals</label>
                                <div class="col-sm-3">{{ form_row(form.rentals) }}</div>
                                <div class="col-sm-3">{{ form_row(form.rentalsMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.rentalsDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Other</label>
                                <div class="col-sm-3">{{ form_row(form.cashflowPassiveOthers) }}</div>
                            </div>
                        </div>

                        <h3>Fixed Expenses</h3>

                        <div class="form-group-attached">
                            <div class="row">
                                <label class="col-sm-3 control-label">Home</label>
                                <div class="col-sm-3">{{ form_row(form.home) }}</div>
                                <div class="col-sm-3">{{ form_row(form.homeMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.homeDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Transport</label>
                                <div class="col-sm-3">{{ form_row(form.transport) }}</div>
                                <div class="col-sm-3">{{ form_row(form.transportMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.transportDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Personal</label>
                                <div class="col-sm-3">{{ form_row(form.personal) }}</div>
                                <div class="col-sm-3">{{ form_row(form.personalMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.personalDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Food/Clothing</label>
                                <div class="col-sm-3">{{ form_row(form.food) }}</div>
                                <div class="col-sm-3">{{ form_row(form.foodMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.foodDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Medical/Dental</label>
                                <div class="col-sm-3">{{ form_row(form.medical) }}</div>
                                <div class="col-sm-3">{{ form_row(form.medicalMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.medicalDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Children</label>
                                <div class="col-sm-3">{{ form_row(form.children) }}</div>
                                <div class="col-sm-3">{{ form_row(form.childrenMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.childrenDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Loans</label>
                                <div class="col-sm-3">{{ form_row(form.loans) }}</div>
                                <div class="col-sm-3">{{ form_row(form.loansMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.loansDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Other</label>
                                <div class="col-sm-3">{{ form_row(form.cashflowFixedOthers) }}</div>
                            </div>
                        </div>

                        <h3>Variable Expenses</h3>

                        <div class="form-group-attached">
                            <div class="row">
                                <label class="col-sm-3 control-label">Recreation</label>
                                <div class="col-sm-3">{{ form_row(form.recreation) }}</div>
                                <div class="col-sm-3">{{ form_row(form.recreationMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.recreationDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Miscellaneous</label>
                                <div class="col-sm-3">{{ form_row(form.miscellaneous) }}</div>
                                <div class="col-sm-3">{{ form_row(form.miscellaneousMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.miscellaneousDate) }}</div>
                            </div>

                        </div>

                        <h3>Others</h3>

                        <div class="form-group-attached">
                            <div class="row">
                                <label class="col-sm-3 control-label">Insurances</label>
                                <div class="col-sm-3">{{ form_row(form.insurances) }}</div>
                                <div class="col-sm-3">{{ form_row(form.insurancesMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.insurancesDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Savings/Investments</label>
                                <div class="col-sm-3">{{ form_row(form.savings) }}</div>
                                <div class="col-sm-3">{{ form_row(form.savingsMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.savingsDate) }}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label">Gifts/Contributions</label>
                                <div class="col-sm-3">{{ form_row(form.gifts) }}</div>
                                <div class="col-sm-3">{{ form_row(form.giftsMode) }}</div>
                                <div class="col-sm-3">{{ form_row(form.giftsDate) }}</div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">&nbsp;</label>
                            <div class="col-sm-9">
                                <button class="btn btn-primary btn-cons m-t-10" type="submit">Update</button>
                            </div>
                        </div>



                    {{ form_end(form, {render_rest: false}) }}

                </div>
            </div>
        </div>
    </div>
</div>