{# @var client \AppBundle\Entity\Client #}
{# @var clientWPM \AppBundle\Entity\\AppBundle\Entity\ClientWPM #}

<div class="tab-pane slide-left" id="investment">
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">WPM - Investment Planning</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9 col-md-7">
                    <h3>{{ client.person.fullName }}</h3>
                    <br/>

                    {{ form_start(form, {attr: {id: 'investment-form', class: 'live-form', 'novalidate': 'novalidate'}}) }}

                        {{ form_errors(form) }}
                        {{ form_widget(form._token) }}

                        <div class="panel-group" id="investments" >

                            {% for investmentForm in form.clientWPMInvestments %} {# @var investment \AppBundle\Entity\ClientWPMInvestment #}
                                {{ include('AppBundle:Client/widget:wpm-tab-investment-form.html.twig', {investmentForm: investmentForm, client: client, index: loop.index}) }}
                            {% endfor %}


                        </div>
                        <div class="row">
                            <button id="add-investment" type="button" class="btn btn-success" data-client-id="{{ client.id }}"><i class="fa fa-plus"></i> Add Investment</button>
                            <button id="save-investments" class="btn btn-primary btn-cons m-t-10 pull-right" type="submit" style="display: {{ form.clientWPMInvestments|length > 0 ? 'block' : 'none' }}">Save changes</button>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">&nbsp;</label>
                            <div class="col-sm-9">

                            </div>
                        </div>



                    {{ form_end(form, {render_rest: false}) }}

                </div>
            </div>
        </div>
    </div>
</div>