{# @var client \AppBundle\Entity\Client #}
{# @var clientWPM \AppBundle\Entity\\AppBundle\Entity\ClientWPM #}

<div class="tab-pane slide-left" id="insurance">
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">WPM - Insurance Planning</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9 col-md-7">
                    <h3>{{ client.person.fullName }}</h3>
                    <br/>

                    {{ form_start(form, {attr: {id: 'insurance-form', class: 'live-form', 'novalidate': 'novalidate'}}) }}

                        {{ form_errors(form) }}
                        {{ form_widget(form._token) }}

                        <div class="panel-group" id="insurance-policies" >

                            {% for insurancePolicyForm in form.clientWPMInsurancePolicies %} {# @var insurancePolicy \AppBundle\Entity\ClientWPMInsurancePolicy #}
                                {{ include('AppBundle:Client/widget:wpm-tab-insurance-policy-form.html.twig', {insurancePolicyForm: insurancePolicyForm, client: client, index: loop.index}) }}
                            {% endfor %}


                        </div>
                        <div class="row">
                            <button id="add-insurance-policy" type="button" class="btn btn-success" data-client-id="{{ client.id }}"><i class="fa fa-plus"></i> Add Insurance Policy</button>
                            <button id="save-insurance-policies" class="btn btn-primary btn-cons m-t-10 pull-right" type="submit" style="display: {{ form.clientWPMInsurancePolicies|length > 0 ? 'block' : 'none' }}">Save changes</button>
                        </div>





                    {{ form_end(form, {render_rest: false}) }}

                </div>
            </div>
        </div>
    </div>
</div>