{# @var client \AppBundle\Entity\Client #}
{# @var estateForm \AppBundle\Entity\ClientWPMEstate #}



<div class="panel panel-default estate">

    <div class="panel-heading" role="tab" id="estateHeading-{{ estateForm.vars.value.id }}">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#insurance-policies" href="#estate-{{ estateForm.vars.value.id }}" class="collapsed">
                Estate {{ estateForm.vars.value.documentType ? estateForm.vars.value.documentType : index }}
            </a>
            <button class="btn btn-default btn-small top-right m-t-10 m-r-40 remove-estate" type="button" data-id="{{ estateForm.vars.value.id }}">
                <i class="fa fa-remove"></i> Remove
            </button>
        </h4>
    </div>

    <div id="estate-{{ estateForm.vars.value.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="estateHeading-{{ estateForm.vars.value.id }}">
        <div class="panel-body">

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(estateForm.documentType) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(estateForm.documentType) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(estateForm.documentCreatedDate) }}</div>
                    <div class="col-sm-3">{{ form_widget(estateForm.documentCreatedDate) }}</div>
                </div>
            </div>

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(estateForm.country) }}</div>
                    <div class="col-sm-3">{{ form_widget(estateForm.country) }}</div>
                </div>
            </div>


            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(estateForm.location) }}</div>
                    <div class="col-sm-3">{{ form_widget(estateForm.location) }}</div>
                </div>
            </div>

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(estateForm.appointedRepresentatives) }}</div>
                    <div class="col-sm-3">{{ form_widget(estateForm.appointedRepresentatives) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(estateForm.beneficiaries) }}</div>
                    <div class="col-sm-3">{{ form_widget(estateForm.beneficiaries) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(estateForm.remarks) }}</div>
                    <div class="col-sm-3">{{ form_widget(estateForm.remarks) }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
