{# @var client \AppBundle\Entity\Client #}
{# @var insurancePolicyForm \AppBundle\Entity\ClientWPMInsurancePolicy #}



<div class="panel panel-default insurance-policy">

    <div class="panel-heading" role="tab" id="insurancePolicyHeading-{{ insurancePolicyForm.vars.value.id }}">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#insurance-policies" href="#insurancePolicy-{{ insurancePolicyForm.vars.value.id }}" class="collapsed">
                Insurance Policy {{ insurancePolicyForm.vars.value.policyType ? insurancePolicyForm.vars.value.policyType : index }}
            </a>
            <button class="btn btn-default btn-small top-right m-t-10 m-r-40 remove-insurance-policy" type="button" data-id="{{ insurancePolicyForm.vars.value.id }}">
                <i class="fa fa-remove"></i> Remove
            </button>
        </h4>
    </div>

    <div id="insurancePolicy-{{ insurancePolicyForm.vars.value.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="insurancePolicyHeading-{{ insurancePolicyForm.vars.value.id }}">
        <div class="panel-body">

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.policyType) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(insurancePolicyForm.policyType) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <label class="col-sm-3 control-label">Document</label>
                    <div class="col-sm-9">

                        <label>Policy Document Upload</label>
                        <input id="insurance-document-upload-{{ insurancePolicyForm.vars.value.id }}" class="insurance-document-upload" type="file" name="document_upload_id" style="" data-id="{{ insurancePolicyForm.vars.value.id }}" />

                        <div id="insurance-document-{{ insurancePolicyForm.vars.value.id }}" style="display : {{ insurancePolicyForm.vars.value.documentUpload ? 'block' : 'none' }}">
                            {% if insurancePolicyForm.vars.value.documentUpload %}
                                <a href="{{ path('client_insurance_policy_download', {id: insurancePolicyForm.vars.value.id }) }}" target="_blank" class="btn btn-warning m-t-5"><i class="fa fa-download"></i> Download: {{ insurancePolicyForm.vars.value.documentUpload.filename }}</a>
                            {% endif %}
                        </div>

                        <!-- Default height -->
                        <div id="insurance-policy-progress-{{ insurancePolicyForm.vars.value.id }}" class="progress" style="display: none">
                            <div style="width: 0%;" class="progress-bar progress-bar-success"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.company) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.company) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.policyNumber) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.policyNumber) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.status) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(insurancePolicyForm.status) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.locationCountry) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.locationCountry) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.ownershipType) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(insurancePolicyForm.ownershipType) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.owner) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.owner) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3 bold">{{ form_label(insurancePolicyForm.mainBenefit) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(insurancePolicyForm.mainBenefit) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.sumAssured) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.sumAssured) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.startDate) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.startDate) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.endDate) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.endDate) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.premium) }}</div>
                    <div class="col-sm-3">{{ form_row(insurancePolicyForm.premium) }}</div>
                    <div class="col-sm-3">{{ form_row(insurancePolicyForm.premiumMode) }}</div>
                    <div class="col-sm-3">{{ form_row(insurancePolicyForm.premiumDate) }}</div>
                </div>
            </div>

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3 bold">{{ form_label(insurancePolicyForm.riderBenefit) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(insurancePolicyForm.riderBenefit) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.riderSumAssured) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.riderSumAssured) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.riderStartDate) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.riderStartDate) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.riderEndDate) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.riderEndDate) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.riderPremium) }}</div>
                    <div class="col-sm-3">{{ form_row(insurancePolicyForm.riderPremium) }}</div>
                    <div class="col-sm-3">{{ form_row(insurancePolicyForm.riderPremiumMode) }}</div>
                    <div class="col-sm-3">{{ form_row(insurancePolicyForm.riderPremiumDate) }}</div>
                </div>
            </div>

            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3 bold">{{ form_label(insurancePolicyForm.supBenefit) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(insurancePolicyForm.supBenefit) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.supSumAssured) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.supSumAssured) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.supStartDate) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.supStartDate) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.supEndDate) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.supEndDate) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.supPremium) }}</div>
                    <div class="col-sm-3">{{ form_row(insurancePolicyForm.supPremium) }}</div>
                    <div class="col-sm-3">{{ form_row(insurancePolicyForm.supPremiumMode) }}</div>
                    <div class="col-sm-3">{{ form_row(insurancePolicyForm.supPremiumDate) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.sourceFunds) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(insurancePolicyForm.sourceFunds) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.grossCashSurrenderValue) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.grossCashSurrenderValue) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.policyLoan) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.policyLoan) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.netCashValue) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.netCashValue) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.distribution) }}</div>
                    <div class="col-sm-3">
                        <div class="form-group-default">
                            {{ form_widget(insurancePolicyForm.distribution) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.specialLaw) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.specialLaw) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.beneficiaries) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.beneficiaries) }}</div>
                </div>
            </div>
            <div class="form-group-attached m-b-5">
                <div class="row">
                    <div class="col-sm-3">{{ form_label(insurancePolicyForm.remarks) }}</div>
                    <div class="col-sm-3">{{ form_widget(insurancePolicyForm.remarks) }}</div>
                </div>
            </div>

        </div>
    </div>
</div>
