{% extends '::layout.html.twig' %}

{% block content %}


<div id="content_container" class="container-fluid container-fixed-lg m-t-50">

    <div class="section-content">

        <h2>Payment Cancelled</h2>

        <p>Your payment was cancelled</p>

    </div>
</div>

{% endblock %}