{% extends '::layout.html.twig' %}

{% block content %}

<div id="content_container" class="container-fluid container-fixed-lg m-t-50">

    <div class="section-content">

        <h2>Payment Failed</h2>

        <p>Sorry there was a problem completing your payment. Please try again, if the problem persists please contact support.</p>

        {{ include('::flash-output.html.twig') }}

    </div>
</div>

{% endblock %}