{% extends '::layout.html.twig' %}
{# @var order AppBundle\Entity\Order #}
{# @var payment AppBundle\Entity\Payment #}

{% block content %}

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <div id="rootwizard" class="m-t-50">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
                <li class="active">
                    <a data-toggle="tab" href="#tab1"><i class="fa fa-shopping-cart tab-icon"></i> <span>Confirm Payment</span></a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane padding-20 active slide-left" id="tab1">
                    <div class="row row-same-height">
                        <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
                            <div class="padding-30 m-t-50">
                                <i class="fa fa-shopping-cart fa-2x hint-text"></i>
                                <h2>Confirm Payment</h2>
                                <p>Review your purchase below and if you are happy, click the 'Confirm Payment' button.</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="padding-30">
                                <table class="table table-condensed">
                                    {% for orderLine in order.orderLines %} {# @var orderLine \AppBundle\Entity\OrderLine #}

                                    <tr>
                                        <td class="col-lg-8 col-md-6 col-sm-7 ">
                                            <span class="m-l-10 font-montserrat fs-18 all-caps">{{ orderLine.product.title }}</span>
                                            <span class="m-l-10 "></span>
                                        </td>
                                        <td class="col-lg-2 col-md-3 col-sm-3 text-right">
                                            <span>Qty {{ orderLine.quantity }}</span>
                                        </td>
                                        <td class="col-lg-2 col-md-3 col-sm-2 text-right">
                                            <h4 class="text-primary no-margin font-montserrat">${{ orderLine.price|number_format(2) }}</h4>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </table>
                                <br>
                                <div class="container-sm-height">
                                    <div class="row row-sm-height b-a b-grey">
                                        <div class="col-sm-3 col-sm-height col-middle p-l-10 sm-padding-15">

                                        </div>
                                        <div class="col-sm-7 col-sm-height col-middle sm-padding-15 ">

                                        </div>
                                        <div class="col-sm-2 text-right bg-primary col-sm-height col-middle padding-10">
                                            <h5 class="font-montserrat all-caps small no-margin hint-text text-white bold">Total</h5>
                                            <h4 class="no-margin text-white">${{ order.total|number_format(2) }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="padding-20 bg-white">
                    <ul class="pager wizard">
                        <li class="next">
                            <form action="{{ path('payment_paypal_execute') }}" method="post">
                                <input type="hidden" name="PayerID" value="{{ PayerID }}" />
                                <input type="hidden" name="token" value="{{ token }}" />
                                <input type="hidden" name="paymentId" value="{{ paymentId }}" />

                                <button class="btn btn-primary btn-cons btn-animated from-left fa fa-credit-card pull-right" type="submit">
                                    <span>Confirm Payment</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- END CONTAINER FLUID -->

{% endblock %}