{% extends '::layout.html.twig' %}
{# @var order AppBundle\Entity\Order #}

{% block content %}

<div id="content_container" class="container-fluid container-fixed-lg m-t-50">

    <div class="section-content">

        <h2>Order Completed</h2>

        <p>Thank you! Your order has been completed and payment was taken successfully.</p>


    </div>
</div>

{% endblock %}