{% extends "::base.html.twig" %}

{% block body %}

<div class="register-container full-height sm-p-t-30">
    <div class="container-sm-height full-height">
        <div class="row row-sm-height">
            <div class="col-sm-12 col-sm-height col-middle">
                <h3>Welcome to Wealth College Pro&reg;!</h3>
                <p>Your account has been created, but is not yet activated. We will review your registration request and email you when your account is activated.</p>

                <a class="btn btn-primary btn-cons m-t-10" type="submit" href="{{ path('home_page') }}">Go to home page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

