{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/plugins/bootstrap-datepicker/css/datepicker3.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {# <script src="https://www.google.com/recaptcha/api.js"></script> #}
    <script src="https://www.recaptcha.net/recaptcha/api.js"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/register.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}

    <div class="register-container full-height sm-p-t-30">
        <div class="container-sm-height full-height">
            <div class="row row-sm-height">
                <div class="col-sm-12 col-sm-height col-middle">
                    <a href="{{ path('home_page') }}">
                        <img src="{{ asset('assets/img/logo-nav.png') }}" alt="logo" data-src="{{ asset('assets/img/logo-nav.png') }}" data-src-retina="{{ asset('assets/img/logo-nav.png') }}" width="230" height="43">
                    </a>
                    <h3 style="font-size: 1.7rem">Wealth College Pro&reg; your exclusive membership that offers tools and services to help you succeed in your professional practice easily!</h3>
                    <p>
                        <small>
                            Create a Wealth College Pro&reg; account.
                        </small>
                    </p>


                    {{ form_start(form, {attr: {id: 'form-register', 'class': 'p-t-15', 'role': 'form', action: path('fos_user_registration_register')}}) }}
                        {{ form_widget(form._token) }}

                        {{ include('::flash-output.html.twig') }}

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group form-group-default required">
                                    <label>Title</label>
                                    {{ form_widget(form.title, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group form-group-default">
                                    <label>First Name</label>
                                    {{ form_widget(form.firstName, {attr: {class : 'form-control', placeholder: 'E.g. Francis'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group form-group-default required">
                                    <label>Last Names</label>
                                    {{ form_widget(form.lastName, {attr: {class : 'form-control', placeholder: 'E.g. Lim or Lim Hock Seng'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default required">
                                    <label>Business Name</label>
                                    {{ form_widget(form.financialAdviser.businessName, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        {#
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Date of birth</label>
                                    {{ form_widget(form.dob, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        #}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>City</label>
                                    {{ form_widget(form.financialAdviser.address.city, {attr: {class : 'form-control', placeholder: 'E.g. Singapore, London'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Country</label>
                                    {#  form_widget(form.financialAdviser.address.country, {value: 192, attr: {class : 'form-control'}}) #}
                                    <input name="fos_user_registration_form[financialAdviser][address][country]" type="hidden" value="{{ singaporeCountryId }}" />
                                    Singapore
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default required">
                                    {{ form_label(form.financialAdviser.licenceNo) }}
                                    {{ form_widget(form.financialAdviser.licenceNo, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default required">
                                    <label>Email</label>
                                    {{ form_widget(form.email, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default required">
                                    <label for="fos_user_registration_form_plainPassword_first">Password</label>
                                    {{ form_widget(form.plainPassword.first, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default required">
                                    <label for="fos_user_registration_form_plainPassword_second">Confirm Password</label>
                                    {{ form_widget(form.plainPassword.second, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="g-recaptcha" data-sitekey="6LcmmaQUAAAAAPkb1-bhSySK8nrqNIeRJeFmoYg1"></div>

                        <div class="row m-t-10">
                            <div class="col-md-12 text-right">
                                <a href="{{ path('contact') }}" class="text-info small">Help? Contact Support</a>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-md-12">
                                <label>
                                    <input type="hidden" value="0" name="fos_user_registration_form[agreedTerms]"/>
                                    <input type="radio" value="1" name="fos_user_registration_form[agreedTerms]"/>
                                    I agree and consent to the Terms stipulated in the PDPA Privacy Policy. <a href="/assets/documents/Subscribers%20n%20Users%20PDPA%20Policy(1Nov2016).pdf" target="_blank" class="text-info small">Read Our Privacy Policy / Terms of Use</a></label>

                                <label>
                                    <input type="radio" value="0" name="fos_user_registration_form[agreedTerms]"/>
                                    I disagree and do not consent to the Terms stipulated in the PDPA Privacy Policy. <a href="/assets/documents/Subscribers%20n%20Users%20PDPA%20Policy(1Nov2016).pdf" target="_blank" class="text-info small">Read Our Privacy Policy / Terms of Use</a></label>


                            </div>

                        </div>
                        <button class="btn btn-primary btn-cons m-t-10" type="submit">Create a new account</button>

                    {{ form_end(form, {'render_rest': false}) }}

                </div>
            </div>
        </div>
        <div class=" full-width">
            <div class="m-b-10 clearfix">
                <div class="col-md-10 m-t-15">
                    <p>
                        <a href="/assets/documents/Subscribers%20n%20Users%20PDPA%20Policy(1Nov2016).pdf" target="_blank" class="p-r-10">Privacy Policy/Terms of Use</a>
                    </p>

                    <p class="hinted-text small inline ">No part of this website or any of its contents may be reproduced, copied, modified or adapted, without the prior written consent of the author, unless otherwise indicated for stand-alone materials.</p>

                </div>
            </div>
        </div>
    </div>



{% endblock body %}
