
<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
    <form action="{{ path('fos_user_registration_register') }}"  method="POST" class="ui form fos_user_registration_register">
        {{ form_start(form) }}
            {{ form_widget(form._token) }}


            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}


            <div class="field column ui checkbox">
                <input type="checkbox" value="1" required="required" name="fos_user_registration_form[agreedTerms]" id="fos_user_registration_form_agreedTerms">
                <label class="required" for="fos_user_registration_form_agreedTerms">
                    &nbsp;I agree to the terms and conditions
                </label>
            </div>

            <div class="g-recaptcha" data-sitekey="6LdYPScTAAAAAK9A7N0L8UTgyQRFTiu3KsiDiaZA"></div>

            {{ form_errors(form) }}

            <div class="field">
                <input class="fluid ui primary button" type="submit" value="Sign up" />
            </div>
        {{ form_end(form, {'render_rest': false}) }}
    </form>

</div>