{% extends '::layout.html.twig' %}

{# @var clientGroup \AppBundle\Entity\ClientGroup #}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables-responsive/css/datatables.responsive.css') }}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ asset('assets/plugins/jquery-nestable/jquery.nestable.css') }}" rel="stylesheet" type="text/css" media="screen" />

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables-responsive/js/datatables.responsive.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables-responsive/js/lodash.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-nestable/jquery.nestable.js') }}" type="text/javascript"></script>

    <script src="{{ asset('assets/js/client.list.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/client-group.clients.js') }}" type="text/javascript"></script>
{% endblock %}

{% block last_javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/datatables.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-pages="parallax">
        <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
            <div class="inner">
                <!-- START BREADCRUMB
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Tables</a>
                    </li>
                    <li><a href="#" class="active">Data Tables</a>
                    </li>
                </ul>
                -->
                <!-- END BREADCRUMB -->
                <div class="row">
                    <div class="col-lg-7 col-md-6 ">
                        <!-- START PANEL -->
                        <div class="full-height">
                            <div class="panel-body text-center">
                                <img class="image-responsive-height demo-mw-600" src="/assets/img/demo/tables.jpg" alt="">
                            </div>
                        </div>
                        <!-- END PANEL -->
                    </div>
                    <div class="col-lg-5 col-md-6 ">
                        <!-- START PANEL -->
                        <div class="panel panel-transparent">
                            <div class="panel-heading">
                                <div class="panel-title">Add contacts to this group
                                </div>
                            </div>
                            <div class="panel-body">
                                <form id="add-client-group-client-form" class="ui form live-form" action="{{ path('ajax_client_group_client_add', {clientGroupId: clientGroup.id}) }}" method="post">

                                    <div class="form-group form-group-select2">
                                        <label>Contacts</label>
                                        <select name="clientId" data-init-plugin="select2" required class="full-width">
                                            <option value="">Select Contact</option>
                                            {% for client in availableClients %}
                                                <option value="{{ client.id }}">{{ client.text }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" value="Add" class="btn btn-primary"><i class="fa fa-plus"></i> Add Contact</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!-- END PANEL -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END JUMBOTRON -->

    <!-- START CONTAINER FLUID -->
    <div id="clients-container" class="container-fluid container-fixed-lg bg-white">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">

                {{ include('::flash-output.html.twig') }}
                <div class="panel-title">{{ clientGroup.name }} - Contact list</div>

                <div class="pull-right">

                    <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
            {% if clients %}
                <table class="table table-hover demo-table-search row-selectable" id="clients-table">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Last Update</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %} {# @var client \AppBundle\Entity\Client #}
                            <tr id="client-{{ client.id }}-row" data-id="{{ client.id }}" data-has-email="{{ client.person.email ? 1 : 0 }}">
                                <td>&nbsp;</td>
                                <td>
                                    {% if client.photoUpload %}
                                    <div class="thumbnail-wrapper d48 circular bordered b-white">
                                        <img src="{{ image(client.photoUpload.location).zoomCrop(50, 50) }}" alt="Photo" height="50"/>
                                    </div>
                                    {% endif %}
                                </td>
                                <td class="v-align-middle semi-bold">
                                    <a href="{{ path('client_detail', {id: client.id}) }}">{{ client.person.fullName }}</a>
                                    <div class="m-t-5">
                                        <a href="{{ path('client_detail', {id: client.id}) }}"><span class="label label-info">Open</span></a>
                                    </div>

                                </td>
                                <td class="v-align-middle">
                                    {{ client.address ? client.address.addressLineShort : '' }}
                                </td>
                                <td class="v-align-middle">
                                    {{ client.person.telephone }}
                                </td>
                                <td class="v-align-middle">
                                    {{ client.person.email }}
                                </td>
                                <td class="v-align-middle">
                                    {{ client.modified|date('d/m/Y') }}
                                </td>
                                <td style="width: 150px">
                                    {% if financialAdviser.subscribed %}
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn remove-client-group-client btn-secondary" data-client-group-id="{{ clientGroup.id }}" data-client-id="{{ client.id }}"><i class="fa fa-trash"></i> Remove</button>
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <br/>
                <br/>
                <p>You have not added any contacts to this group yet. Click the "Add Contact" button to get started.</p>
            {% endif %}
            </div>
        </div>
    </div>
    <!-- END PANEL -->

    <!-- END CONTAINER FLUID -->

{% endblock %}