{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables-responsive/css/datatables.responsive.css') }}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables-responsive/js/datatables.responsive.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables-responsive/js/lodash.min.js') }}"></script>

    <script src="{{ asset('assets/js/client-group.list.js') }}" type="text/javascript"></script>
{% endblock %}

{% block last_javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/datatables.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-pages="parallax">
        <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
            <div class="inner">
                <!-- START BREADCRUMB
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Tables</a>
                    </li>
                    <li><a href="#" class="active">Data Tables</a>
                    </li>
                </ul>
                -->
                <!-- END BREADCRUMB -->
                <div class="row">
                    <div class="col-lg-7 col-md-6 ">
                        <!-- START PANEL -->
                        <div class="full-height">
                            <div class="panel-body text-center">
                                <img class="image-responsive-height demo-mw-600" src="/assets/img/demo/tables.jpg" alt="">
                            </div>
                        </div>
                        <!-- END PANEL -->
                    </div>
                    <div class="col-lg-5 col-md-6 ">
                        <!-- START PANEL -->
                        <div class="panel panel-transparent">
                            <div class="panel-heading">
                                <div class="panel-title">Getting started
                                </div>
                            </div>
                            <div class="panel-body">
                                <h3>Manage your groups</h3>
                            </div>
                        </div>
                        <!-- END PANEL -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END JUMBOTRON -->
    <!-- START CONTAINER FLUID -->
    <div id="client-groups-container" class="container-fluid container-fixed-lg bg-white">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">


                {{ include('::flash-output.html.twig') }}

                <div class="panel-title">Groups</div>

                <div class="row m-t-20">
                    {% if financialAdviser.subscribed %}
                    <div class="export-options-container inline m-r-20"></div>
                    <button id="add-client-group-button" class="btn btn-primary btn-cons inline" data-toggle="modal" data-target="#add-client-group-modal">
                        <i class="fa fa-plus"></i> Add group
                    </button>
                    {% endif %}

                    <div class="pull-right">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {% if clientGroups|length > 0 %}
                    <table class="table table-hover demo-table-search" id="client-groups-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for clientGroup in clientGroups %} {# @var clientGroup \AppBundle\Entity\ClientGroup #}
                                <tr id="client-group-{{ clientGroup.id }}-row" data-id="{{ clientGroup.id }}">
                                    <td class="v-align-middle semi-bold">
                                        {{ clientGroup.name }}
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            {% if financialAdviser.subscribed %}
                                            <button type="button" class="edit-client-group btn btn-group-sm btn-secondary" data-id="{{ clientGroup.id }}"><i class="fa fa-edit"></i> Edit</button>
                                            <a class="btn btn-group-sm btn-secondary" href="{{ path('client_group_clients', {id: clientGroup.id }) }}"><i class="fa fa-users"></i>
                                                Contacts
                                                {{ clientGroupClientCounts[clientGroup.id] is defined ? '('~clientGroupClientCounts[clientGroup.id]~')' : '' }}
                                            </a>
                                            <button type="button" class="btn delete-client-group btn-secondary" data-id="{{ clientGroup.id }}"><i class="fa fa-trash"></i></button>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <br/>
                    <br/>
                    <p>You have not added any groups yet. Click the "Add Client" button to get started.</p>
                {% endif %}
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->

    <div class="modal fade fill-in" id="add-client-group-modal" tabindex="-1" role="dialog" aria-labelledby="add-client-group-modal" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close"></i>
        </button>
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-left p-b-5"><span class="semi-bold">Group</span></h5>
                </div>
                <div class="modal-body">


                    {{ form_start(client_group_form, {attr: {id: 'save-client-group-form', class: 'p-t-15 live-form', role: 'form', 'data-success-handler': 'App.Client.client_group_saved_handler'}}) }}
                        {{ form_widget(client_group_form._token) }}

                        <input class="client-group-id" type="hidden" name="id" value="" />

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    {{ form_label(client_group_form.name) }}
                                    {{ form_widget(client_group_form.name, {attr: {class : 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-cons m-t-10" type="submit">Save</button>
                        <button class="btn btn-default btn-cons m-t-10" type="button" class="close" data-dismiss="modal" aria-hidden="true">Cancel</button>

                    {{ form_end(client_group_form, {'render_rest': false}) }}

                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade fill-in" id="invite-to-webinar-modal" tabindex="-1" role="dialog" aria-labelledby="invite-to-webinar-modal" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close"></i>
        </button>
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-left p-b-5"><span class="semi-bold">Invite to Webinar</span></h5>
                </div>
                <div class="modal-body">

                    <form id="invite-to-webinar-form" action="{{ path('ajax_calendar_event_invite_groups') }}" method="post" class="form">
                        <p ><span class="groups-selected"></span> groups selected</p>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label for="invite-event-id">Webinar</label>
                                    <select id="invite-event-id" name="calendarEventId" class="form-control">
                                        <option value="">Select Webinar</option>
                                        {% for webinar in webinars %} {# @var webinar \AppBundle\Entity\Webinar #}
                                            <option value="{{ webinar.calendarEvent.id }}">{{ webinar.calendarEvent.summary }} - {{ webinar.calendarEvent.startAt|date('d/m/y') }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-cons m-t-10" type="submit">Send Invites</button>
                        <button class="btn btn-default btn-cons m-t-10 close" type="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}