{% extends '::layout.html.twig' %}

{% block content %}
    <div class="container-fluid padding-25 sm-padding-10">
        <h1>Access Denied</h1>
        <p>Sorry you are not allowed to access this area</p>
    </div>
{% endblock %}
