{% extends '::layout.html.twig' %}

{% block last_javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/review.template.form.js') }}"></script>

{% endblock %}

{% block content %}


    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li>
                <a href="{{ path('review_templates', {type: 9}) }}">Review Forms</a>
            </li>
            <li>Add Custom Review form</li>
        </ul>


        <div class="row">
            <div class="col-lg-7 col-md-6 ">
                <!-- START PANEL -->
                <div class="panel-heading">
                    <h1>Add Review Form</h1>
                </div>

                <div class="panel panel-transparent">
                    <div class="panel-body">

                        {{ include('::flash-output.html.twig') }}

                        {{ form_start(form, {attr: {class: 'form-horizontal'}}) }}

                        {{ form_errors(form) }}
                        {{ form_widget(form._token) }}


                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.name, {attr: {class: 'form-control'}}) }}
                                <p>The name of this review form. This will help you to identify it again later</p>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Subject</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.subject, {attr: {class: 'form-control'}}) }}
                                <p>The subject of the email which will be sent for this review</p>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Message</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.message, {attr: {class: 'form-control', style: 'height: 8em'}}) }}
                                <br/>
                                <p>The message body of the email which will be sent for this review</p>
                                <p>Use short code <b>{adviserName}</b> to add the Financial Adviser's name</p>
                                <p>Use short code <b>{link:Click here}</b> to add the link the client will use to get to the review page. The link title 'Click Here' can be replaced with some other text if required</p>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Star Ratings and Feedback</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.ratingFeedbackEnabled, {attr: {class: 'radio radio-primary'}}) }}
                                <p>Normally, your custom questions will be followed by a request for positive feedback, areas of improvement and an overall star rating. You can disable this feature to prevent your clients from including this information in their reply.</p>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Comments</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.commentsEnabled, {attr: {class: 'radio radio-primary'}}) }}
                                <br/>
                                <p>Use the comments box to ask your client for generic feedback. Write a question in the Label box so it’s clear what you’re asking for - example: Do you have any specific requirements I can help you with. If so, please tell me here.</p>
                                {{ form_widget(form.commentsQuestion, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>

                        <div id="review-template-questions" data-prototype="{{ form_widget(form.reviewTemplateQuestions.vars.prototype)|e }}">
                            {% for reviewTemplateQuestion in form.reviewTemplateQuestions %} {# @var reviewAnswer \AppBundle\Entity\ReviewAnswer #}

                                <div class="form-group question">
                                    <label class="col-sm-3 control-label">Question {{ loop.index }}</label>
                                    <div class="col-sm-9">
                                        {{ form_widget(reviewTemplateQuestion.question, {attr: {class: 'form-control'}}) }}
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-3 control-label">&nbsp;</label>
                            <div class="col-sm-9">
                                <button class="btn btn-default add-question" type="button">Add Question</button>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">&nbsp;</label>
                            <div class="col-sm-9">
                                <input type="submit" class="btn btn-primary" />
                                <a class="btn btn-default" href="{{ path('review_templates', {type: 9}) }}"><i class="fa fa-ban"></i> Cancel</a>
                            </div>
                        </div>

                        {{ form_end(form, {render_rest: false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
