{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/plugins/jquery-metrojs/MetroJs.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-isotope/isotope.pkgd.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-nouislider/jquery.nouislider.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-nouislider/jquery.liblink.js') }}" type="text/javascript"></script>
{% endblock %}

{% block last_javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/review.templates.js') }}"></script>
    <script src="{{ asset('assets/js/review.request.js') }}"></script>
    {% if showRequestReview %}
    <script>
        $(document).ready(function () {
            $('#reviews-request-modal').modal('show');
        });
    </script>
    {% endif %}
{% endblock %}
{% block main_stylesheet %}
    <link class="main-stylesheet" rel="stylesheet" href="{{ asset('pages/css/pages.css') }}" type="text/css"/>
{% endblock %}

{% block content %}

    <div class="clearfix action-bar">

        <ul class="list-inline text-right m-r-20 m-t-10 m-b-10">

            <li class="hint-text">Display: </li>
            <li><a href="{{ path('review_templates', {type: 2}) }}" class="text-master p-r-5 p-l-5 {{ filter.type == 2 ? 'bold' : '' }}">Comprehensive</a></li>
            <li><a href="{{ path('review_templates', {type: 9}) }}" class="text-master p-r-5 p-l-5 {{ filter.type == 9 ? 'bold' : '' }}">Custom</a></li>

        </ul>

    </div>

    {% if filter.type == 9 and financialAdviser.subscribed %}
        <div class="m-t-70 m-b-20 pull-right m-r-10">
            <a href="{{ path('review_template_add') }}" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;&nbsp; Create New Custom Review</a>
        </div>
    {% endif %}

    
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">

        {% if app.session.flashBag.peekAll|length > 0 %}
            <div class="m-t-100">
                <br/>
                {{ include('::flash-output.html.twig') }}
            </div>
        {% endif %}

        {% if reviewTemplates|length > 0 %}
            <!-- START CATEGORY -->
            <div class="gallery">


                <!-- START GALLERY ITEM -->
                <!--
                      FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN
                      FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT
                  -->

                {% for reviewTemplate in reviewTemplates %}{# @var reviewTemplate \AppBundle\Entity\ReviewTemplate #}

                    <div class="gallery-item" data-width="1" data-height="1">
                        <!-- START PREVIEW -->
                        <img src="{{ asset('/assets/img/img-reviewsquare.jpg') }}" alt="" class="image-responsive-height">
                        <!-- END PREVIEW -->
                        {% if financialAdviser.subscribed %}
                        <div class="top-right m-r-10 m-t-10">

                            <button type="button" class="btn btn-sm btn-default request-review"
                                data-review-template-id="{{ reviewTemplate.id }}"
                                data-toggle="modal"
                                data-target="#reviews-request-modal"
                                data-subject="{{ reviewTemplate.subject }}"
                                data-message="{{ reviewTemplate.message }}"
                            >
                                <i class="fa fa-send"></i>&nbsp;
                                Request Review
                            </button>

                            {% if reviewTemplate.financialAdviser %}
                                <a href="{{ path('review_template_edit', {id: reviewTemplate.id}) }}" class="btn btn-default"><i class="fa fa-edit"></i></a>
                            {% endif %}
                            {% if filter.type == 9 and reviewTemplate.financialAdviser %}
                                <a href="{{ path('review_template_delete', {id: reviewTemplate.id}) }}" class="btn btn-default delete-review-template"><i class="fa fa-trash"></i></a>
                            {% endif %}
                        </div>
                        {% endif %}
                        <!-- START ITEM OVERLAY DESCRIPTION -->
                        <div class="bottom-left full-width">
                            <p class="pull-left bold text-white fs-14 p-t-10 p-l-20">{{ reviewTemplate.name }}</p>
                        </div>
                        <!-- END PRODUCT OVERLAY DESCRIPTION -->
                    </div>
                    <!-- END GALLERY ITEM -->
                {% endfor %}

            </div>
            <!-- END CATEGORY -->

        {% elseif filter.type == 9 %}
            <p class="m-t-100">You haven't created any Custom Review forms yet. <a href="{{ path('review_template_add') }}">Click here to do just that...</a></p>
        {% else %}
            <p class="m-t-100">No review templates exist yet.</p>
        {% endif %}

    </div>


    {{ include('AppBundle:Review/widgets:review-request-modal.html.twig') }}

{% endblock %}
