{% extends '::layout.html.twig' %}


{% block last_javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/review.request.js') }}"></script>

{% endblock %}

{% block content %}

    <div class="clearfix action-bar">

        <ul class="list-inline text-right m-r-20 m-t-10 m-b-10">

            <li class="hint-text">Display: </li>
            <li><a href="{{ path('review_templates', {type: 2}) }}" class="text-master p-r-5 p-l-5 ">Comprehensive</a></li>
            <li><a href="{{ path('review_templates', {type: 9}) }}" class="text-master p-r-5 p-l-5 ">Custom</a></li>

        </ul>

    </div>

    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20 m-t-60">

        {{ include('::flash-output.html.twig') }}

        <h2>Basic Review Request</h2>

        <div class="row">
            <div class="col-md-6">
                <h3 class="semi-bold">Find out how your clients feel about you!</h3>
                <p>It is one thing for you to tell the world about yourself and quite
                another to have others tell about you! Reviews are a very
                important consideration for potential clients in deciding if they
                should engage you. So get your happy clients to give you a positive
                review and even let you know how you can become even better!</p>
            </div>
        </div>

        <p>
            {% if financialAdviser.subscribed %}
                <button class="btn btn-primary" data-toggle="modal" data-target="#reviews-request-modal"><i class="fa fa-send"></i> Send Basic Review Request</button>
            {% else %}
                It is not possible to request reviews while your subscription is expired
            {% endif %}
        </p>

    </div>


    {{ include('AppBundle:Review/widgets:review-request-modal.html.twig') }}

{% endblock %}
