{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css') }}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/plugins/interactjs/interact.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js') }}"></script>

{% endblock %}

{% block last_javascripts %}
    {{ parent() }}

    <script src="{{ asset('pages/js/pages.calendar.js') }}"></script>
    <script src="{{ asset('assets/js/calendar.js') }}" type="text/javascript"></script>

{% endblock %}

{% if view == 'month' %}
    {% block page_container_class %}full-height{% endblock %}
    {% block page_content_wrapper_class %}full-height{% endblock %}
    {% block content_class %}full-height{% endblock %}
{% endif %}

{% block footer %}{% endblock %}
{% block content %}


    <div class="clearfix action-bar">
        <div class="col-md-2 col-xs-5 col-sm-3 pull-right m-r-20 m-t-10 m-b-10">
            <input id="calendar-url" type="hidden" value="{{ path('calendar', {view: '__view__'}) }}">
            <select class="full-width" data-init-plugin="select2"  id="calendar-action" name="calendar-action">
                <option value="">Display...</option>
                <option value="month">Monthly Calendar</option>
                <option value="week">Weekly Calendar</option>
                <option value="event-types">Event Types ...</option>
            </select>
        </div>
        <div class="col-md-2 col-xs-4 col-sm-2 m-r-20 m-t-10 m-b-10 pull-right text-right">
            {% if app.user.financialAdviser.subscribed %}
                <button id="add-event" type="button" class="btn btn-primary btn-cons m-r-10 ">Add event</button>
            {% endif %}
        </div>
    </div>

    <!-- START CALENDAR -->
    <div id="myCalendar" class="full-height" data-view="{{ view }}" data-start-date="{{ startDate is defined ? startDate|date('Y-m-d') : '' }}"></div>
    <!-- END CALENDAR -->
    <!-- START EVENT MANAGER -->
    <!-- START Calendar Events Form -->
    <div class="quickview-wrapper calendar-event" id="calendar-event">
        <form class="view-port clearfix" id="eventForm" role="form" action="{{ path('ajax_calendar_event_save') }}">
            <input id="calendar-event-id" name="id" type="hidden" />
            <input id="calendar-event-index" type="hidden" />

            <div class="view bg-white">
                <div class="scrollable">
                    <div class="p-l-30 p-r-30 p-t-20">
                        <a class="pg-close text-master link pull-right" data-toggle="quickview" data-toggle-element="#calendar-event" href="#"></a>
                        <h4 id="event-date">&amp;</h4>
                        <div id="event-time" class="m-b-20">
                            <i class="fa fa-clock-o"></i>
                            <span id="lblfromTime"></span> to
                            <span id="lbltoTime"></span>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <input id="eventIndex" name="eventIndex" type="hidden">
                        <div class="form-group-attached">
                            <div class="form-group form-group-default required">
                                <label>Title</label>
                                <input type="text" class="form-control" id="txtEventName" name="calendar_event[summary]" placeholder="event name" required>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>Location</label>
                                        <input type="text" class="form-control" id="txtEventLocation" name="calendar_event[location]" placeholder="name of place">
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default required">
                                        <label>Time</label>
                                        <input type="text" class="form-control" id="event-date-range" placeholder="event time" required>
                                        <input id="calendar-event-start-at" type="hidden" name="calendar_event[startAt]" value=""/>
                                        <input id="calendar-event-end-at" type="hidden" name="calendar_event[endAt]" value=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default required full-width">
                                        <label>Event Type</label>
                                        <select class="calendar-event-type" data-init-plugin="select2"  id="calendar-event-type" name="calendar_event[calendarEventType]">
                                            {% for calendarEventType in calendarEventTypes if calendarEventType.handle == 'CUSTOM' %}
                                                <option value="{{ calendarEventType.id }}" data-handle="{{ calendarEventType.handle }}"><i class="colour event-type-{{ calendarEventType.handle }} bg"></i> {{ calendarEventType.name }}</option>
                                            {% endfor %}
                                            {% set custom_type_index = 1 %}
                                            {% for calendarEventType in calendarEventTypes if calendarEventType.handle != 'CUSTOM' and calendarEventType.handle != "FINTRAIN_SESSIONS" %}
                                                <option value="{{ calendarEventType.id }}" data-handle="{{ calendarEventType.handle }}"><i class="colour event-type-CUSTOM-{{ custom_type_index }} bg"></i> {{ calendarEventType.name }}</option>
                                                {% set custom_type_index = custom_type_index + 1 %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="form-group form-group-default">
                                    <label>Note</label>
                                    <textarea class="form-control" placeholder="description" id="txtEventDesc" name="calendar_event[description]"></textarea>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="form-group m-l-15 m-r-15">
                                    <label for="alert-type-1">Alerts</label>
                                    <div class="radio radio-success p-t-10">
                                        <input type="radio" value="1" id="alert-type-1" name="calendar_event[alertTypeId]"/>
                                        <label for="alert-type-1">No alert</label>
                                        <br/>
                                        <input type="radio" value="2" id="alert-type-2" name="calendar_event[alertTypeId]"/>
                                        <label for="alert-type-2">On day of event</label>
                                        <br/>
                                        <input type="radio" value="3" id="alert-type-3" name="calendar_event[alertTypeId]"/>
                                        <label for="alert-type-3">Number of days before</label>
                                        <br/>
                                        <input type="radio" value="4" id="alert-type-4" name="calendar_event[alertTypeId]"/>
                                        <label for="alert-type-4">Number of days after</label>
                                    </div>
                                </div>
                                <div class="form-group m-l-25 m-r-25 required">

                                    <div class="event-alert-days-container alert-type-3 alert-type-4" style="display: none">
                                        <label for="event-alert-days">Days</label>
                                        <input type="text" value="" id="event-alert-days" name="calendar_event[alertDays]" placeholder="number of days" class="form-control" maxlength="2" required disabled/>
                                    </div>

                                </div>
                                <div class="form-group m-l-25 m-r-25">
                                    <div class="alert-time-container alert-type-2 alert-type-3 alert-type-4" style="display: none">
                                        <label for="event-alert-time">At</label>
                                        <div class="input-group bootstrap-timepicker">
                                            <input id="event-alert-time" name="calendar_event[alertTime]" type="text" class="form-control" required disabled>
                                            <span class="input-group-addon"><i class="pg-clock"></i></span>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-l-30 p-r-30 p-t-30">
                        <button id="eventSave" class="btn btn-warning btn-cons" type="submit">Save Event</button>
                        <button id="eventDelete" class="btn btn-white" data-target="#confirm-delete-event-modal" data-toggle="modal"><i class="fa fa-trash-o" ></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="view bg-white">
                <div class="navbar navbar-default navbar-sm">
                    <div class="navbar-inner">
                        <a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#eventForm" data-view-animation="push-parrallax">
                            <i class="pg-arrow_left"></i>
                        </a>
                        <div class="view-heading">
                            <span class="font-montserrat text-uppercase fs-13">Alerts</span>
                        </div>
                        <a href="#" class="inline action p-r-10 pull-right link text-master">
                            <i class="pg-search"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- END Calendar Events Form -->

{% endblock %}

{% block after_body %}
    {{ parent() }}
    <!-- MODAL STICK UP SMALL ALERT -->
    <div class="modal fade slide-right" id="confirm-delete-event-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content-wrapper">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                    <div class="container-xs-height full-height">
                        <div class="row-xs-height">
                            <div class="modal-body col-xs-height col-middle text-center   ">
                                <h5 class="text-primary ">Are you sure you want to <span class="semi-bold">delete</span> the selected event? When it's gone, it's gone.</h5>
                                <br>
                                <button id="confirm-delete-event" type="button" class="btn btn-danger btn-block">Delete</button>
                                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END MODAL STICK UP SMALL ALERT -->
    <!-- MODAL STICK UP  -->
    <div class="modal fade stick-up" id="event-types-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                    <h5><span class="semi-bold">Event Types</span></h5>
                    <p>Change which event types are displayed in your calendar</p>
                </div>
                <div class="modal-body">
                    <form id="event-types-form" role="form" action="{{ path('ajax_calendar_event_save_types') }}" method="post">
                        {% for calendarEventType in calendarEventTypes if calendarEventType.handle == 'CUSTOM' %}
                            <div class="checkbox check-info">
                                <input type="checkbox" value="{{ calendarEventType.id }}" id="calendar-event-type-{{ calendarEventType.id }}" name="eventTypeIDs[]"
                                        {{ calendarEventType.id in app.user.preferences.getSelectedCalendarEventTypeIDs() ? 'checked="checked"' : ''}}
                                >
                                <label for="calendar-event-type-{{ calendarEventType.id }}">
                                    <span class="legend event-type-{{ calendarEventType.handle }} bg">&nbsp;</span>
                                    {{ calendarEventType.name }}
                                </label>
                            </div>
                        {% endfor %}
                        {% set custom_type_index = 1 %}
                        {% for calendarEventType in calendarEventTypes if calendarEventType.handle != 'CUSTOM' %}
                            <div class="checkbox check-info">
                                <input type="checkbox" value="{{ calendarEventType.id }}" id="calendar-event-type-{{ calendarEventType.id }}" name="eventTypeIDs[]"
                                        {{ calendarEventType.id in app.user.preferences.getSelectedCalendarEventTypeIDs() ? 'checked="checked"' : ''}}
                                >
                                <label for="calendar-event-type-{{ calendarEventType.id }}">
                                    <span class="legend event-type-{{ calendarEventType.handle }} bg">&nbsp;</span>
                                    {{ calendarEventType.name }}
                                </label>
                            </div>
                            {% set custom_type_index = custom_type_index + 1 %}
                        {% endfor %}
                    </form>
                    <div class="row text-right">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END MODAL STICK UP  -->
{% endblock %}
