{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables-responsive/css/datatables.responsive.css') }}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables-responsive/js/datatables.responsive.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/datatables-responsive/js/lodash.min.js') }}"></script>

    <script src="{{ asset('assets/js/review.list.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/review.request.js') }}"></script>

{% endblock %}

{% block last_javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}


    <!-- START CONTAINER FLUID -->
    <div id="reviews-container" class="container-fluid container-fixed-lg bg-white">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">


                {{ include('::flash-output.html.twig') }}

                <div class="panel-title">Reviews</div>

                <div class="row m-t-20">
                    <div class="pull-right">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {% if reviews %}
                    <table class="table table-hover demo-table-search" id="reviews-table">
                        <thead>
                        <tr>
                            <th>FAR</th>
                            <th>Name</th>
                            <th>Review Type</th>
                            <th>Rating</th>
                            <th>Date</th>
                            <th>Published</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for review in reviews %} {# @var review \AppBundle\Entity\Review #}
                                <tr id="review-{{ review.id }}-row" data-id="{{ review.id }}">
                                    <td class="v-align-middle semi-bold">
                                        <a href="{{ path('profile_view', {id: review.financialAdviser.id}) }}">{{ review.financialAdviser.user.name }}</a>
                                    </td>
                                    <td class="v-align-middle semi-bold">
                                        {{ review.client ? review.client.person.fullName : '' }}
                                    </td>
                                    <td class="v-align-middle">
                                        {{ review.typeName }}
                                    </td>
                                    <td class="v-align-middle">
                                        {{ review.rating is not null ? review.rating /2 : 'N/A' }}
                                    </td>
                                    <td class="v-align-middle">
                                        {{ review.receivedAt|date('d/m/Y H:i') }}
                                    </td>

                                    <td>
                                        <span class="published-state m-r-10 {{ review.published ? 'published' : 'unpublished' }}">
                                            {% if  review.published %}
                                                <i class="fa fa-eye "></i> Published
                                            {% else %}
                                                <i class="fa fa-eye-slash"></i> Unpublished
                                            {% endif %}
                                        </span>
                                        <button class="publish-review btn btn-sm" data-id="{{ review.id }}"><i class="fa fa-refresh"></i></button>
                                    </td>

                                    <td style="width: 150px">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="view-review btn btn-group-sm btn-primary" data-id="{{ review.id }}">View</button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <br/>
                    <br/>
                    <p>You have not added any reviews yet. Click the "Add Review" button to get started.</p>
                {% endif %}
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->

    <div class="modal fade slide-up" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="review-modal" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    {{ include('AppBundle:Review/widgets:review-request-modal.html.twig') }}

{% endblock %}