{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block last_javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/dashboard.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="container-fluid sm-p-l-5 bg-master-lighter ">

        {{ include('::flash-output.html.twig') }}

        <div class="row">
            <div class="col-md-6">
                <h2>Upcoming Events</h2>

                {% if calendarEvents|length > 0 %}
                    <p>These are your events for the next 7 days</p>
                {% else %}
                    <p>You have no upcoming events for the next 7 days</p>
                {% endif %}

            </div>

            {% if clientDateReminders and clientDateReminders|length > 0 %}
                <div class="col-md-3">
                    <h4>Client Special Date Reminders</h4>
                    <ul class="p-l-0">
                        {% for clientDateReminder in clientDateReminders %}{# @var clientDateReminder \AppBundle\Entity\ClientDate #}
                            <li style="list-style: none">
                                <a href="{{ path('client_detail', {id: clientDateReminder.client.id}) }}">
                                    <i class="fa fa-calendar"></i>&nbsp;
                                    <span class="">{{ clientDateReminder.client.person.fullName }}'s {{ clientDateReminder.dateTypeIdName }}</span>
                                    <span class="">on {{ clientDateReminder.date.format('d/m/Y') }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            {% endif %}
            {% if clientDates and clientDates|length > 0 %}
                <div class="col-md-3">
                    <h4>Client Special Dates</h4>

                    <ul class="p-l-0">
                        {% for clientDate in clientDates %}{# @var clientDate \AppBundle\Entity\ClientDate #}
                            <li style="list-style: none">
                                <a href="{{ path('client_detail', {id: clientDate.client.id}) }}">
                                    <i class="fa fa-calendar"></i>&nbsp;
                                    <span class="pull left">{{ clientDate.client.person.fullName }}'s {{ clientDate.dateTypeIdName }}</span>
                                    <span class="pull right">on {{ clientDate.date.format('d/m/Y') }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            {% endif %}
        </div>

        {% if calendarEvents|length > 0 %}

            <div class="timeline-container top-circle dashboard-calendar-events">
                <section class="timeline">

                    {% for calendarEvent in calendarEvents %}
                        {{ include('AppBundle:Dashboard/widgets:timeline-calendar-event.html.twig', {calendarEvent: calendarEvent, financialAdviser: financialAdviser }) }}

                    {% endfor %}

                </section>
            </div>

        {% endif %}
        <!-- -->
    </div>
    <!-- END CONTAINER FLUID -->
{% endblock %}
