{% extends '::layout.html.twig' %}

{% block content %}


<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li>
            <a href="#">Admin</a>
        </li>
        <li><a href="{{ path('admin_user') }}" class="active">Users</a></li>
        <li>Add User</li>
    </ul>


    <div class="row">
        <div class="col-lg-7 col-md-6 ">
            <!-- START PANEL -->
            <div class="panel-heading">
                <h1>Add User</h1>
            </div>

            <div class="panel panel-transparent">
                <div class="panel-body">

                    {{ include('::flash-output.html.twig') }}

                    {{ form_start(form) }}

                        {{ form_errors(form) }}
                        {{ form_widget(form._token) }}

                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>First name</label>
                                    {{ form_widget(form.firstName, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Last name</label>
                                    {{ form_widget(form.lastName, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default required">
                                    <label>Email address</label>
                                    {{ form_widget(form.email, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Password</label>
                                    {{ form_widget(form.plainPassword.first, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Repeat Password</label>
                                    {{ form_widget(form.plainPassword.second, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Roles</p>
                                {% for i, choice in form.roles.vars.choices  %}
                                    <div class="ui field checkbox">
                                            {# <input type="hidden" value="0" name="user[roles][{{ i }}]" /> #}
                                        <input id="user_role_{{ choice.value }}" type="checkbox" value="{{ choice.value }}" name="user[roles][{{ i }}]" />
                                        <label for="user_role_{{ choice.value }}">{{ choice.value|replace({'_': ' '})|replace({'ROLE ': ''})|capitalize }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row m-t-10">
                            <div class="col-sm-12">
                                <input type="submit" class="btn btn-primary" />
                            </div>
                        </div>
                    {{ form_end(form, {render_rest: false}) }}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
