{% extends '::layout.html.twig' %}

{% block content %}

{# @var user \AppBundle\Entity\User #}

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li>
            <a href="#">Admin</a>
        </li>
        <li><a href="{{ path('admin_user') }}" class="active">Users</a></li>
        <li>Edit User</li>
    </ul>


    <div class="row">
        <div class="col-lg-7 col-md-6 ">
            <!-- START PANEL -->
            <div class="panel-heading">
                <h1>Edit User: {{ user.fullName }}</h1>
            </div>

            <div class="panel panel-transparent">
                <div class="panel-body">

                    {{ include('::flash-output.html.twig') }}

                    {{ form_start(form) }}

                        {{ form_errors(form) }}
                        {{ form_widget(form._token) }}

                        {% if user.hasRole('ROLE_FA') %}
                            <div class="row">
                                <div class="col-sm-12">
                                    {% if user.financialAdviser.hidden %}
                                        <strong>Adviser Profile Hidden</strong><br/>
                                        <a href="{{ path('admin_fa_show', {id: user.financialAdviser.id}) }}" class="btn btn-small btn-default">Make Profile Visible</a>
                                    {% else %}
                                        <strong>Adviser Profile Visible</strong><br/>
                                        <a href="{{ path('admin_fa_hide', {id: user.financialAdviser.id}) }}" class="btn btn-small btn-default">Make Profile Hidden</a>
                                    {% endif %}
                                    <br/>
                                </div>
                            </div>
                            <br/>
                        {% endif %}

                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>First name</label>
                                    {{ form_widget(form.firstName, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Last name</label>
                                    {{ form_widget(form.lastName, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default required">
                                    <label>Email address</label>
                                    {{ form_widget(form.email, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Password</label>
                                    {{ form_widget(form.plainPassword.first, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    <label>Repeat Password</label>
                                    {{ form_widget(form.plainPassword.second, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        {% if user.hasRole('ROLE_FA') %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-attached required">
                                    <label>Subscription</label>
                                    <br/>
                                    <a href="{{ path('admin_fa_edit', {id: user.financialAdviser.id}) }}">
                                        {% if user.financialAdviser.subscriptionEndsAt %}
                                            {% if user.financialAdviser.subscribed %}
                                                Expires:&nbsp;
                                            {% else %}
                                                Expired on:&nbsp;
                                            {% endif %}
                                            {{ user.financialAdviser.subscriptionEndsAt|date('d/m/Y') }}
                                        {% else %}
                                            No subscription
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-12">

                                <div class="field checkbox">
                                    {{ form_widget(form.enabled, {attr: {class: ''}}) }}
                                    <label for="user_enabled">Enabled</label><br/>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <b>Roles</b><br/>
                                {% for i, choice in form.roles.vars.choices  %}
                                    <div class="ui field checkbox">
                                        <input id="user_role_{{ choice.value }}" type="checkbox" value="{{ choice.value }}" name="user[roles][{{ i }}]" {{ choice.value in user.roles ? 'checked="checked"' : ''}}/>
                                        <label for="user_role_{{ choice.value }}">{{ choice.value|replace({'_': ' '})|replace({'ROLE ': ''})|capitalize }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>



                        <div class="row m-t-10">
                            <div class="col-sm-12">
                                <input type="submit" class="btn btn-primary" />
                            </div>
                        </div>
                    {{ form_end(form, {render_rest: false}) }}

                </div>
            </div>
        </div>
    {{ form_end(form, {render_rest: false}) }}


{% endblock %}
