{% extends '::layout.html.twig' %}
{# @var user \AppBundle\Entity\User #}
{% block content %}

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li>
            <a href="#">Admin</a>
        </li>
        <li><a href="{{ path('admin_user') }}" class="active">Users</a></li>
        <li><a href="{{ path('admin_user_view', {id: user.id}) }}" class="active">{{ user.name }}</a></li>
        <li>Subscription</li>
    </ul>


    <div class="row">
        <div class="col-lg-7 col-md-6 ">
            <!-- START PANEL -->
            <div class="panel-heading">
                <h1>Edit User Subscription: {{ user.fullName }}</h1>
            </div>

            <div class="panel panel-transparent">
                <div class="panel-body">

                    {{ include('::flash-output.html.twig') }}

                    {{ form_start(form) }}

                        {{ form_errors(form) }}
                        {{ form_widget(form._token) }}

                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    {{ form_label(form.financialAdviser.subscriptionEndsAt) }}
                                    {{ form_widget(form.financialAdviser.subscriptionEndsAt, {attr: {class: 'form-control date-picker', 'data-min-date': 'today'|date('Y-m-d')}}) }}
                                </div>
                            </div>

                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default required">
                                    {{ form_label(form.financialAdviser.score) }}
                                    {{ form_widget(form.financialAdviser.score, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>

                        </div>

                        <div class="row m-t-10">
                            <div class="col-sm-12">
                                <input type="submit" class="btn btn-primary" />
                            </div>
                        </div>
                    {{ form_end(form, {render_rest: false}) }}

                </div>
            </div>
        </div>
    {{ form_end(form, {render_rest: false}) }}


{% endblock %}
