{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables-responsive/css/datatables.responsive.css') }}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/table.js') }}" type="text/javascript"></script>

{% endblock %}

{% block content %}

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white">
        {{ include('::flash-output.html.twig') }}
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <h2>Users</h2>

                <form action="" method="get" id="table-filter">
                    <input id="filter-page" name="page" value="{{ filter.page }}" type="hidden" />
                    <input id="filter-rows" name="rows" value="{{ filter.rows }}" type="hidden" />
                    <input id="filter-role" name="role" value="{{ filter.role }}" type="hidden" />

                    <div class="pull-left m-b-10">
                        <a href="{{ path('admin_user_add') }}" class="btn btn-primary"><i class="fa fa-user-plus"></i> Add User</a>
                        <br/>
                        <p>The Add User button should not be used to add FARs</p>
                    </div>
                    <div class="pull-right m-b-10 col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group form-group-default">
                                    <label>Search</label>
                                    <input type="text" name="search" value="{{ filter.search }}" placeholder="Search for a user..." class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-group-default">
                                    <label>User Type</label>
                                    <select id="role-filter" class="cs-select cs-skin-slide calendar-event-type" data-init-plugin="cs-select">
                                        <option {{ filter.role == '' ? 'selected="selected"' }} value="">All Users</option>
                                        <option {{ filter.role == 'ROLE_ADMIN' ? 'selected="selected"' }} value="ROLE_ADMIN">Staff Only</option>
                                        <option {{ filter.role == 'ROLE_FA' ? 'selected="selected"' }} value="ROLE_FA">FAR Only</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-group-default-select2">
                                    <label>Display:</label>
                                    <select id="rows-select" class="cs-select cs-skin-slide calendar-event-type" data-init-plugin="cs-select">
                                        <option {{ filter.rows == 10 ? 'selected="selected"' }}>10</option>
                                        <option {{ filter.rows == 25 ? 'selected="selected"' }}>25</option>
                                        <option {{ filter.rows == 50 ? 'selected="selected"' }}>50</option>
                                        <option {{ filter.rows == 100 ? 'selected="selected"' }}>100</option>
                                        <option {{ filter.rows == 250 ? 'selected="selected"' }}>250</option>
                                        <option {{ filter.rows == 500 ? 'selected="selected"' }}>500</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {% if pagination|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-hover dataTables_wrapper" id="users-table">
                        <thead>
                        <tr>
                            <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user
                                                Comman Practice Followed
                                                -->
                            <th{% if pagination.isSorted('u.firstName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'First Name', 'u.firstName') }}</th>
                            <th{% if pagination.isSorted('u.email') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
                            <th>Role</th>
                            <th>Subscription</th>
                            <th{% if pagination.isSorted('u.lastLogin') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Last Login', 'u.lastLogin') }}</th>
                            <th{% if pagination.isSorted('u.created') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date Registered', 'u.created') }}</th>
                            <th{% if pagination.isSorted('u.enabled') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Status', 'u.enabled') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                            {% for user in pagination %} {# @var user \AppBundle\Entity\User #}

                                <tr>
                                    <td class="v-align-middle">{{ user.firstName|title }} {{ user.lastName|title }}</td>
                                    <td class="v-align-middle">{{ user.email }}</td>
                                    <td class="v-align-middle">{{ user.roles|join(', ') }}</td>
                                    <td class="v-align-middle">
                                        {% if user.hasRole('ROLE_FA') and user.financialAdviser %}
                                            <a href="{{ path('admin_fa_edit', {id: user.financialAdviser.id}) }}">
                                            {% if user.financialAdviser.subscriptionEndsAt %}
                                                {% if user.financialAdviser.subscribed %}
                                                    Expires:&nbsp;
                                                {% else %}
                                                    Expired on:&nbsp;
                                                {% endif %}
                                                {{ user.financialAdviser.subscriptionEndsAt|date('d/m/Y') }}
                                            {% else %}
                                                No subscription
                                            {% endif %}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="v-align-middle">{{ user.lastLogin ? user.lastLogin|date('d/m/Y H:i') : '-' }}</td>
                                    <td class="v-align-middle">{{ user.created ? user.created|date('d/m/Y H:i') : '-' }}</td>
                                    <td class="v-align-middle">{{ user.enabled ? 'Enabled' : 'Disabled' }}</td>
                                    <td class="v-align-middle">
                                        <a href="{{ path('admin_user_view', {id: user.id}) }}" class="btn btn-small btn-default"><i class="fa fa-search"></i> View</a>

                                        <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-small btn-default"><i class="fa fa-edit"></i> Edit</a>
                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3" align="left" class="">
                                    <b>You're viewing {{ pagination|length }} of {{ pagination.getPaginationData()['totalCount'] }} records in this table</b>
                                </th>
                                <th colspan="2" align="right">
                                    {{ knp_pagination_render(pagination) }}
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                {% else %}
                    <p>No users found</p>
                {% endif %}
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->


{% endblock %}
