{% extends '::layout.html.twig' %}

{# @var user \AppBundle\Entity\User #}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/user.view.js') }}" type="text/javascript"></script>

{% endblock %}

{% block content %}
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li>
            <a href="#">Admin</a>
        </li>
        <li><a href="{{ path('admin_user') }}" class="active">Users</a></li>
        <li>Add User</li>
    </ul>

    {{ include('::flash-output.html.twig') }}

    <div class="row">
        <div class="col-lg-12 col-md-12 ">

            <!-- START PANEL -->
            <div class="panel-heading">
                <h1>User: {{ user.fullName }}</h1>

                <div class="pull-right top-right">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}

                        <button class="btn btn-small btn-danger delete-user" data-url="{{ path('admin_user_delete', {id: user.id, token: csrf_token("delete_user") }) }}"><i class="fa fa-trash"></i> Delete User Permanently</button>
                    {% endif %}
                    <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-small btn-default"><i class="fa fa-edit"></i> Edit User Details</a>

                    {% if user.hasRole('ROLE_FA') %}
                        <a href="{{ path('admin_fa_edit', {id: user.financialAdviser.id}) }}" class="btn btn-small btn-default"><i class="fa fa-edit"></i> Edit Financial Adviser Details</a>
                    {% endif %}

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="btn btn-small btn-default" href="{{ path('admin_login_as_user', {id: user.id}) }}"><i class="fa fa-key"></i> Login as User</a>
                    {% endif %}
                </div>
            </div>

            <div class="panel-body">

                <div class="form-horizontal" autocomplete="off">
                    <div class="form-group">
                        <label for="fname" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            {{ user.fullName }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            {{ user.email }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Roles</label>
                        <div class="col-sm-9">
                            {{ user.roles|join(', ') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="position" class="col-sm-3 control-label">Enabled</label>
                        <div class="col-sm-9">
                            {{ user.enabled ? 'Yes' : 'No' }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Last Login</label>
                        <div class="col-sm-9">
                            {{ user.lastLogin|date('d/m/Y H:i') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Created</label>
                        <div class="col-sm-9">
                            {{ user.created|date('d/m/Y H:i') }}
                        </div>
                    </div>
                </div>

                {% if user.hasRole('ROLE_FA') %}

                    <h4>Financial Adviser Details</h4>

                    {{ include('AppBundle:Profile:widgets/fa-essential-details.html.twig', {financialAdviser: user.financialAdviser}) }}


                {% endif %}

            </div>



        </div>
        <div class="col-lg-5 col-md-6">

        </div>
    </div>
</div>
{% endblock %}
