
<div id="send-message-modal" class="ui fullscreen modal hidden">
    <div class="ui inverted dimmer">
        <div class="ui text loader">Loading</div>
    </div>

    <i class="close icon"></i>
    <div class="header">
        Send Message to {{ userTo.getName() }}
    </div>
    <div class="content">

        <form action="{{ path('ajax_admin_send_message') }}" method="post" class="ui form">
            <input name="message[userToId]" type="hidden" value="{{ userTo.id }}" />
            <div class="field">
                <label>Subject</label>
                <input type="text" name="message[subject]" />
            </div>
            <div class="field">
                <label>Message</label>
                <textarea id="body" name="message[body]"></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui red negative button">Cancel</div>
        <div class="ui green button positive"><i class="mail icon"></i>Send Message</div>
    </div>
</div>