@import "compass/utilities";
@import "compass/css3";

@import "global";

$green: #41b5ab;
$light_green: #eef8f7;
$dark_purple: #413768;
$light_blue: #d9effe;
$blue: #48b0f7;

.bg-light-green {
  background-color: $light_green;
}

/* Pages overrides */
div.cs-skin-slide.cs-active,
.dropdown-menu {
  z-index: 1001 !important;
}
.cs-select.cs-skin-slide.calendar-event-type .cs-placeholder {
  padding: 0px 33px 0 10px;
  height: 30px;
  line-height: 30px;
}
.cs-select {
  &.full-width {
    width: 100% !important;
  }
}
.col-sm-3 {
  & .select2-container {
    width: 100% !important;
  }
}
.form-group-default {
  & .cs-select {
    & .cs-backdrop {
      border: 0;
    }
  }
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}
@media (min-width: 768px) {
  #gallery-image-modal .modal-dialog {
      width: 70vw;
  }
}
.login-wrapper .bg-caption {
  width: 600px;
}
.login-wrapper .bg-pic > img {
  float: right;
  right: 126px;
  position: relative;
}
.form-group.required:after {
  color: #eb7374;
  content: "*";
  font-family: arial;
  font-size: 20px;
  position: absolute;
  right: 12px;
  top: 6px;
}

.form-horizontal {
  & .form-group {
    position: relative;
    overflow: auto;

    &.required:after {
      right: 0px;
      top: 17px;
    }

  }

}


i.fa.circular {
  @include border-radius(10px);
  padding: 5px;
}

.page-container {
  &.no-sidebar {
    padding-left: 0;
  }
}


.social {
  & .jumbotron {
    margin-bottom: 0;
  }
  & .nav-tabs-simple > li:after {
    background-color: $green !important;
  }
  & .panel {
    & .nav-tabs {
      height: 52px;
    }
    & .nav-tabs-simple:after {
      border: 0 !important;
    }
  }
}
.input-group {
  & .select2-container {
    width: 100% !important;
  }
}

.page-container .page-content-wrapper {
  & .content {
    &.warning-bar-showing {
      padding-top: 0px !important;

      & #myCalendar {
        margin-top: 0px;
      }
      
    }

  }

}

.calendar .calendar-container .view .tble .thead .tcell .weekday,
.calendar .weeks-wrapper .week.active .day-wrapper .week-date,
.calendar .weeks-wrapper .week .day-wrapper .day {
  color: rgba(0, 0, 0, 1) !important;
}

/* END Pages overrides */

/* TEXT COLOURS */
.text-primary-darker {
  color: $dark_purple;
}
.text-light-blue {
  color: $light_blue;
}
/* END */


/* CALENDAR */
#myCalendar {
  margin-top: 50px;
}
#event-date{
  white-space: normal !important;
}

#calendar-event-type {
  & .colour {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}

.event-type-EVENTS {
  &.fg {
    color: #d0f5f2;
  }
  &.bg {
    background-color: #d0f5f2;
  }
}
.event-type-OCCATIONS {
  &.fg {
    color: #e7dcf4;
  }
  &.bg {
    background-color: #e7dcf4;
  }
}
.event-type-APPOINTMENTS {
  &.fg {
    color: #fef8e8;
  }
  &.bg {
    background-color: #fef8e8;
  }
}
.event-type-PERSONAL {
  &.fg {
    color: #dbeffc;
  }
  &.bg {
    background-color: #dbeffc;
  }
}
.event-type-FINTRAIN_SESSIONS {
  &.fg {
    color: #fdd4d4;
  }
  &.bg {
    background-color: #fdd4d4;
  }
}
.event-type-CUSTOM-1 {
  &.fg {
    color: #f0dbfc;
  }
  &.bg {
    background-color: #f0dbfc;
  }
}
.event-type-CUSTOM-2 {
  &.fg {
    color: #d6f5d0;
  }
  &.bg {
    background-color: #d6f5d0;
  }
}
.event-type-CUSTOM-3 {
  &.fg {
    color: #e8eefe;
  }
  &.bg {
    background-color: #e8eefe;
  }
}
.event-type-CUSTOM-4 {
  &.fg {
    color: #d4fde0;
  }
  &.bg {
    background-color: #d4fde0;
  }
}
.event-type-CUSTOM-5 {
  &.fg {
    color: #f4ebdc;
  }
  &.bg {
    background-color: #f4ebdc;
  }
}

.action-bar {
  background: #fff;
  z-index: 10;
  border-bottom: 1px solid #eee;
  width: 100%;
}


.calendar {

  & .time-slot-wrapper {
    & .time-slot {
      height: 40px !important;
    }
  }
  & .calendar-container {
    & .view {
      & .tble {
        & .tcell {
          height: 40px !important;

          & .cell-inner {
            height: 20px !important;
          }
        }
        & .trow {
          height: 40px !important;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .calendar .calendar-container .view.week-view .tble .trow {
    height: 40px !important;
  }
}
/* END CALENDAR */

/* START PROFILE */

.profile {
  & .pic {
    position: relative;

    & .thumbnail-wrapper {
      text-align: right;
      width: 100%;

      & p {
        text-align: right;
        padding-right: 13px;
        margin-top: 10px;

        & span {
          display: inline-block;
        }
      }

      & img {
        width: 100%;
        max-width: 250px;
        height: auto;
      }
    }

  }

  & .header-widget {

    & .star-rating {
      float: left;
      padding-right: 20px;
    }
    & .star-rating-subtitle {
      position: relative;
      float: left;
      top: 14px;
      font-size: 1.2rem;
    }

  }
}
.stbutton {display:block;height:16px;}
.stButton * {
  box-sizing: content-box;
}

.star-rating {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  &.card-content {
    padding-top: 20px;
  }

  &.bg-green {
    background-color: $green;
  }
  &.bg-amber {
    background-color: #eac459;
  }
  &.bg-red {
    background-color: #ce4e4d;
  }
  &.bg-gray {
    background-color: #eeeeee;
  }
  & span {
    color: #ffffff;
  }
  &.bg-white {
    & span {
      color: inherit !important;
    }
  }
  &.text-green {
    color: $green;
  }
  &.text-amber {
    color: #eac459;
  }
  &.text-red {
    color: #ce4e4d;
  }
  &.text-gray {
    color: #eeeeee;
  }

  & .stars {
    width: 213px;
    margin: 0 auto;

    & i {
      opacity: 0.25;
    }

    &.value-set {
      & i {
        opacity: 1;

        &.fa-star-o,.fa-star-o,.fa-star-half-o {
          opacity: 0.25;
        }
      }

    }
  }
  &.align-left {
    & .stars-score {
      text-align: left;
    }
  }
  &.smaller {
    & .stars {
      width: 150px;
    }
    & .score {
      font-size: 1.5rem;
      line-height: 30px;
    }
  }

  & .stars-score {

    text-align: center;
    width: 100%;

    & .stars {
      display: inline-block;
      vertical-align: top;
      height: 30px;
      margin-right: 10px;

    }
    & .score {
      display: inline-block;
      font-size: 2em;
      font-weight: bold;
      line-height: 1em;
    }
  }

  & .score-text {
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 0;
    margin-top: 20px;
  }

}

/*
.star-rating {
  color: #FFFFFF;
  background-color: $green;

  padding: 18px;
  padding-top: 25px;
  padding-bottom: 0px;

  & .stars-score {

    text-align: center;
    width: 100%;

    & .stars {
      display: inline-block;
      vertical-align: top;
      height: 30px;
      margin-right: 10px;

      background: url("/assets/img/profiles/stars.png") no-repeat left center;

    }
    & .score {
      display: inline-block;
      font-size: 2em;
      font-weight: bold;
      line-height: 1em;
    }


  }
  & .score-text {
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 0;
  }
}
*/
.stars-content {
  & .title {
    font-size: 1.4em;
    padding-left: 16px;
    padding-right: 16px;
  }

}
.card {
  & .stars-content {
    margin-top: 16px;
  }
}
.review {

  &.full {
    background-color: #48b0f7;
    & .stars-content {

      & .star-rating {
        background-color: transparent !important;
      }

      & .title {
        color: #FFFFFF;
      }
    }
    & .card-description {
      color: #FFFFFF;
    }
    & .card-header {
      background-color: #FFFFFF;
      border-top: 1px solid #e1f0fd;
    }
    & .card-footer {
      background-color: #FFFFFF;
    }
  }

}

.profile-summary-card {
  & .card-content {
    color: #ffffff;;
    padding: 16px;
    font-size: 2em;
    line-height: 1.3em;
  }

}

#reviews-request-form {
  & .select2.select2-container {
    width: 100% !important;
  }
}

#review-form {
  & .review-answer {
    & .radio {
      display: inline-block;
      margin-bottom: 30px;

      & label {
        padding-left: 0 !important;

        &:before {
          left: 50%;
          top: 110%;
          margin-left: -8px;
        }
      }
    }
  }
}

.feed.essential-details {

  border-top: 2px solid #7c7c7c;
  border-bottom: 2px solid #7c7c7c;
  background: #ffffff;
  margin-bottom: 20px;

  & h5 {
    color: $blue;
  }
  & p {
    & strong {

    }
    font-weight: normal;
  }

}

.uploaded-photos {
  & .photo {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;

    & .delete-gallery-photo {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }

}

.card {
  & .footer-link {
    background-color: #f9d145;
    color: #FFFFFF;
    display: inline-block;
    width: 100%;
    padding: 20px;
    text-align: center;

    & i {
      position: relative;
      float: left;
    }
  }
}

#links {
  & .additional-items {
    vertical-align: middle;
    line-height: 40px;
    text-align: center;
    background-color: #FFF;
    opacity: 0.5;
  }
  & img {
    top: -2px;
    position: relative;
  }
}

.profile-content-background {
  background: url("/assets/img/profile-topbg.jpg") no-repeat left top #d3dfff;
}



/* END PROFILE */

/* CLIENTS */
.row-selectable {
  tr.active td:first-child:before {
    content: "\f046";
  }
  tr td:first-child:before {
    content: "\f096";
    font-family: FontAwesome;
  }
}

/* END CLIENTS */

/* WEBINARS */

#page_webinar {
  & .market-hero {
    background-image: url("/assets/img/webinar-headshot.jpg");
  }
}

.webinars {
  & .widget-item {
    & .widget-detail {
      & a.detail-link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }

  }
}

/* END WEBINARS */

/* REVIEWS */

.export-options-container {
  position: relative;
  float: left;
}
#add-review-button {
  float: left;
}
#add-client-button {
  float: left;
}
.reviews.jumbotron {
  & a {
    color: #000000;

    &:hover {
      text-decoration: underline;
    }

  }
}

.published-state {
  &.published {
    color: $green;
  }
  &.unpublished {
    color: #eac459;
  }
}

/* END REVIEWS */


/* FORMS */
.progress-overlay {
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1010;

}

form {
  position: relative;
  overflow: visible;

}

.progress-circle-indeterminate {
  &.center {
    position: absolute;
    left: 45%;
    top: 45%;
  }
}

.checkbox {
  & label {
    & .legend {
      display: inline-block;
      width: 16px;
      height: 16px;
    }
  }
}

.period_picker_box .period_picker_show:before {
  background-url: $green !important;
}

.modal-dialog {
  & .modal-body {
    max-height: 80vh;
    overflow: auto;
  }
}

#search-tools-container {
  & #ageTo {
    width: 50px;
  }
  & #ageFrom {
    width: 50px;
  }
  & i.fa.circular {
    margin-left: -32px;
    margin-right: 7px;
  }
}

/* END FORMS */

/* WPM */

.wpm {
  & .panel {
    min-height: 8em;
  }
  & .panel-body {
    padding: 5px;
  }
}

/* END WPM */

/* DASHBOARD */
.dashboard-calendar-events {

  & .timeline-block {

    & h6 {
      opacity: 1;
      -moz-opacity: 1;
    }
    & .card-footer {
      & .time {
        color: #f7554e;
        opacity: 1;
        -moz-opacity: 1;
      }
    }

    & .event-description {
      color: #000000;
      padding: 20px;
    }

    & .timeline-point {
      background: #6d5bae;
    }

    &.EVENTS {
      & .timeline-point {
        background: #41b5ab;
      }
    }
    &.OCCATIONS {
      & .timeline-point {
        background: #6d5bae;
      }
    }
    &.APPOINTMENTS {
      & .timeline-point {
        background: #fad246;
      }
    }
    &.PERSONAL {
      & .timeline-point {
        background: #41aef9;
      }
    }
    &.FINTRAIN_SESSIONS {
      & .timeline-point {
        background: #f7554e;
      }
      & .event-description {
        color: #FFFFFF;
        background: #f7554e;
      }
    }
  }
}
/* END DASHBOARD*/

/* FRONTEND */
#fa-search-form {
  & button.btn-primary {
    position: relative;
    height: 45px;
    top: 25px;
  }
  & .form-group {
    & input[type=text] {
      height: 45px;
    }
  }
  & .select2-selection--single {
    height: 45px;
  }
  & .select2-selection--single {
    height: 45px;
  }
  & .select2-selection__rendered {
    line-height: 43px;
  }
  & .select2-search--inline {
    line-height: 43px;
  }
  & .select2-selection__arrow {
    top: 10px;
  }
}

tr,
tr:hover {

  &.bg-green td {
    background-color: $green !important;
    color: #ffffff;
    & a {
      color: #ffffff;
    }
  }

  &.bg-amber td {
    background-color: #eac459 !important;
    color: #ffffff;
    & a {
      color: #ffffff;
    }
  }

  &.bg-red td {
    background-color: #ce4e4d !important;
    color: #ffffff;
    & a {
      color: #ffffff;
    }
  }
}

#page_home_page {
  & .swiper-button-prev {
    background-image: none;
  }
  & .swiper-button-next {
    background-image: none;
  }
}


/* END FRONTEND */
