{% extends '::layout-front.html.twig' %}


{% block last_javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/contact.js') }}"></script>
    <script src="{{ asset('assets/js/google_map.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAyzLy-uYfI_MoBsGgp1khRmStIs0Vhzjs&callback=initMap" async defer></script>
    {# <script src="https://www.google.com/recaptcha/api.js"></script> #}
    <script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content_outer %}

    <div class="p-t-60 bg-white">
        <!-- START CONTACT SECTION -->
        <section class="container container-fixed-lg p-t-65 p-b-100  sm-p-b-30 sm-m-b-30">
            <div class="row">
                <div class="col-md-6">
                    <h2>How can we assist you?</h2>
                    <div class="p-r-40 sm-p-r-0">
                        <p>Months on ye at by esteem desire warmth former. Sure that that way gave any fond now. His boy middleton sir nor engrossed affection excellent. Dissimilar compliment cultivated preference eat sufficient may. Well next door soon we mr he four. Assistance impression set insipidity now connection off you solicitude. Under as seems we me stuff those style at. Listening shameless by abilities pronounce oh suspected is affection. Next it draw in draw much bred. </p>
                        <br>
                        <br>
                        <div class="panel" id="contact-panel">
                            <p class="semi-bold no-margin">Fill up this form to contact us if you have any futher questions</p>
                            <form role="form" autocomplete="off" class="m-t-15" id="contact-form" action="{{ path('contact_submit') }}" method="post">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default required">
                                            <label>First name</label>
                                            <input type="text" name="firstName" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Last name</label>
                                            <input type="text" name="lastName" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-group-default">
                                    <label>Email</label>
                                    <input type="email" name="email" placeholder="This can be changed later" class="form-control" required>
                                </div>
                                <div class="form-group form-group-default">
                                    <label>Message</label>
                                    <textarea name="message" placeholder="Type the message you wish to send" style="height:100px" class="form-control" required></textarea>
                                </div>
                                <div class="g-recaptcha" data-sitekey="6LcmmaQUAAAAAPkb1-bhSySK8nrqNIeRJeFmoYg1"></div>
                                <div class="sm-p-t-10 clearfix">
                                    <p class="pull-left small hint-text m-t-5 font-arial">I hereby certify that the information above is true and accurate. </p>
                                    <button class="btn btn-primary font-montserrat all-caps fs-12 pull-right xs-pull-left">Submit</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="visible-xs visible-sm b-b b-grey-light m-t-35 m-b-30"></div>
                    <div class="p-l-40 sm-p-l-0 sm-p-t-10">
                        <h3>Wealth College Pro&reg; is a real business managed by real people.</h3>
                        <p>Months on ye at by esteem desire warmth former. Sure that that way gave any fond now. His boy middleton sir nor engrossed affection excellent. Dissimilar compliment cultivated preference eat sufficient may. Well next door soon we mr he four. Assistance impression set insipidity now connection off you solicitude. Under as seems we me stuff those style at. Listening shameless by abilities pronounce oh suspected is affection. Next it draw in draw much bred. </p>
                        <br>
                        {#
                        <div class="row">
                            <div class="col-sm-6">
                                <strong>Registered Office Address</strong>
                                <h5 class="block-title m-b-0">Wealth Hub Pte Ltd</h5>
                                <address class="m-t-10">14 Robinson Road
                                    <br>#08-01A Far East Finance Building
                                    <br>Singapore 048545</address>
                                <br>
                                <p class="no-margin"><span class="fs-12 font-montserrat bold all-caps p-r-10">Tel</span> <span class="fs-14">+65 6100 1156</span></p>
                            </div>
                        </div>

                        <br>
                        <h5 class="block-title m-b-0">{#CALL US OR #}{#EMAIL US DIRECT</h5>
                        <br>
                        <div class="row">
                            {#
                            <div class="col-sm-6">
                                <p class="fs-12 font-montserrat bold all-caps no-margin">Phone</p>
                                <p class="no-margin fs-14">(65) 6100 1156</p>
                            </div>
                            #}
                            {#
                            <div class="col-sm-6">
                                <p class="fs-12 font-montserrat bold all-caps no-margin">Email </p>
                                <p class="no-margin fs-14"><a href="mailto:admin@Wealth College Pro.sg">admin@Wealth College Pro.sg</a></p>
                            </div>
                        </div>
                        #}
                    </div>
                </div>
            </div>
        </section>
        <!-- END CONTACT SECION -->
        <!-- START GOOGLE MAP -->
        <section class="container-fluid  no-padding no-overflow">
            <!-- Map -->
            <div id="google-map" class="full-width demo-map gradient-overlay no-overflow"></div>
        </section>
        <!-- END GOOGLE MAP -->
    </div>

{% endblock %}