{% extends '::layout-front.html.twig' %}


{% block last_javascripts %}
    {{ parent() }}
{% endblock %}

{% block content_outer %}

    <div class="p-t-60 bg-white">
        <!-- START CONTACT SECTION -->
        <section class="container container-fixed-lg p-t-65 p-b-100  sm-p-b-30 sm-m-b-30">
            <div class="row">
                <div class="col-md-6">
                    <h2>How can we assist you?</h2>

                    <p>You can be market relevant, future ready and build a growing & sustainable business right here! Plug into Wealth College Pro&reg; – the only integrated platform-independent web-based system that empowers you, the financial services professional, to increase your COMPETENCY, improve your CREDIBILITY and to intensify your CARE to your clients!</p>



                </div>
                <div class="col-md-6">
                    <div class="visible-xs visible-sm b-b b-grey-light m-t-35 m-b-30"></div>

                    <h2>COMPETENCY</h2>

                    <p>gain access to local and global learning opportunities through webinars to increase your competency in holistic wealth planning. Learn from other professionals within and outside the industry – locally and overseas - who can help you enhance your practice and grow your business!</p>

                    <h2>CREDIBILITY</h2>

                    <p>build your profile through automated client reviews, feedback and surveys, Create a unique professional profile with our tools and templates. Share through your profile through social media. Create your own interactive webinars, brand yourself to clients and prospects and make your mark!</p>

                    <h2>CARE</h2>

                    <p>serve your clients better through consistent delivery of services. Make yourself more referable and engage your clients and prospects using online tools. Create a comprehensive database with our customer relationship management tools that helps you become more targeted in your service!</p>

                    <p>Expected outcomes? Greater effectiveness, higher productivity and more business!</p>

                </div>
            </div>
        </section>
        <!-- END CONTACT SECION -->
        <!-- START GOOGLE MAP -->
        <section class="container-fluid  no-padding no-overflow">
            <!-- Map -->
            <img class="" src="{{ image('assets/img/banner_1.jpg').crop(0,0,1600, 350) }}" width="100%" height="350">
        </section>
        <!-- END GOOGLE MAP -->
    </div>

{% endblock %}