{% extends '::layout-front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/plugins/swiper/css/swiper.css') }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/swiper/js/swiper.jquery.min.js') }}"></script>
{% endblock %}

{% block last_javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/home.js') }}"></script>
{% endblock %}

{% block content_outer %}
<!-- BEGIN JUMBOTRON -->
<section id="demo-hero-3" class="jumbotron full-vh" data-pages="parallax">
    <div class="inner full-height">
        <!-- BEGIN SLIDER -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- BEGIN SLIDE -->
                <div class="swiper-slide fit slide-1" data-pages-bg-image="/assets/img/banner_1.jpg">
                    <!-- BEGIN IMAGE PARRALAX -->
                    <div class="slider-wrapper">
                    </div>
                    <!-- END IMAGE PARRALAX -->
                    <!-- BEGIN CONTENT -->
                    <div class="content-layer">
                        <div class="inner full-height">
                            <div class="container-xs-height full-height">
                                <div class="col-xs-height col-middle text-center">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <h1 class="light" data-swiper-parallax="-15%">
                                                    Find Financial Services Professionals
                                                    Others Talk About
                                                </h1>
                                                <button class="btn btn-lg btn-primary btn-cons btn-rounded btn-bordered m-t-25 find-fa" type="button">Start Here</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END SLIDE -->
                <!-- BEGIN SLIDE -->
                <div class="swiper-slide fit slide-1" data-pages-bg-image="/assets/img/banner_2.jpg">
                    <!-- BEGIN IMAGE PARRALAX -->
                    <div class="slider-wrapper">
                    </div>
                    <!-- END IMAGE PARRALAX -->
                    <!-- BEGIN CONTENT -->
                    <div class="content-layer">
                        <div class="inner full-height">
                            <div class="container-xs-height full-height">
                                <div class="col-xs-height col-middle text-center">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <h1 class="light text-white" data-swiper-parallax="-15%">
                                                    Thousands of financial advisers
                                                    at your fingertips
                                                </h1>
                                                <button class="btn btn-lg btn-cons btn-rounded btn-bordered m-t-40 find-fa" type="button">Find a Financial Adviser</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END SLIDE -->
            </div>
            <!-- Add Navigation -->
            <div class="swiper-navigation swiper-dark-solid swiper-button-prev auto-reveal"></div>
            <div class="swiper-navigation swiper-dark-solid swiper-button-next auto-reveal"></div>
        </div>
    </div>
    <!-- END SLIDER -->
</section>
<!-- END JUMBOTRON -->
<!-- START CONTENT SECTION -->
<section class="p-b-100 p-t-80">
    <div class="container">
        <h6 class="block-title m-b-0 text-center">YOUR FAST TRACK TO TOTAL FINANCIAL FREEDOM</h6>
        <h1 class="m-t-5 light text-center">Local Advisers, Global Reach.</h1>
        <div class="row m-t-50 ">
            <div class="col-md-6 col-sm-6 text-right sm-text-center sm-p-l-0">
                <img class="p-r-40 m-t-10 xs-image-responsive-height sm-no-padding" src="/assets/img/color-wheel.jpg" alt="">
            </div>
            <div class="col-md-4 col-sm-6 p-t-45">
                <h6 class="block-title">EASY TO FIND, EASY TO CONTACT <i class="pg-arrow_right m-l-20"></i></h6>
                {#<p class=" m-t-15">The dashboard will synergize with the colour selection made by the user and appropriately amend. Similarly, all other elements will sync according to the base colours.</p>#}
                <h6 class="block-title m-t-50">WATCH FREE FINANCIAL WEBINARS <i class="pg-arrow_right m-l-20"></i></h6>
                {#<p class=" m-t-15">The monochrome base color is made by having a zero saturation percentage which will adapat to any color placed near it.</p>#}
            </div>
        </div>
    </div>
</section>
<!-- END CONTENT SECTION -->
<!-- START CONTENT SECTION -->
<section id="demo-content-2" class="bg-master-darkest no-overflow relative" data-pages-bg-image="/assets/img/background_1.jpg">
    <div class="container p-b-50 p-t-50">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                <div class="col-xs-height col-middle">
                    <h6 class="block-title m-t-80 text-white m-b-0">Engage</h6>
                    <h1 class="text-white p-b-10 m-t-5">A financial advisers
                        toolbox for marketing
                        and organising your
                        business.</h1>
                    <p class="fs-12 text-white m-t-20"><span class="hint-text">Try it today<br></span> Available now for one low annual fee</p>
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg btn-primary btn-cons btn-rounded m-t-30">Register</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTENT SECTION -->
<!-- START CONTENT SECTION -->
<section id="demo-testimonial-1" class="p-b-50 p-t-50 bg-master-lightest">
    <div class="text-center">
        <img src="/assets/img/quotes.png" alt="">
        <h6 class="font-montserrat text-uppercase hint-text fs-15 text-center">What they say about Wealth College Pro&reg;</h6>
    </div>
    <!-- BEGIN TESTIMONIALS SLIDER-->
    <div class="container">
        <div class="swiper-container m-t-60">
            <div class="swiper-wrapper">
                <!-- BEGIN TESTIMONIAL -->
                <div class="swiper-slide bg-transparent">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <h4 class="text-center light p-l-30 p-r-30">
                                    Wealth College Pro&reg; is incredible! After 3 months I had more clients than I knew
                                    what to do with. Now I host my own webinars.
                                </h4>
                            </div>
                        </div>
                        <div class="row m-t-50">
                            <div class="col-md-6 text-left">
                                <p class="text-primary">H.S. Lim (sample) Singapore</p>
                                <p class="small hint-text">Singapore</p>
                            </div>
                            <div class="col-md-6 text-right">
                                <h5 class="hint-text fs-16">21 May 2016</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END TESTIMONIAL -->

            </div>
            <!-- Add Navigation -->
            <div class="swiper-button-prev"><i class="fa fa-13"></i></div>
            <div class="swiper-button-next"><i class="fa fa-13"></i></div>
        </div>
    </div>
    <!-- END TESTIMONIALS -->
</section>
<!-- END CONTENT SECTION -->

    {{ include('AppBundle:FinancialAdviser/widget:fa-search.html.twig') }}

{% endblock %}