{% extends '::layout-front.html.twig' %}

{% block last_javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}


    <section class="full-height bg-black" style="background: url({{ asset('assets/img/home-image.jpg') }}) no-repeat">
        <div class="container-xs-height full-height">
            <div class="col-xs-height col-middle text-left">

                    <div class="col-sm-2 text-right hidden-xs">
                        <img src="/assets/img/logo-icon-white.png" class="m-r-10">
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h1 class="light text-white">Wealth College Pro&reg; is<br/>on it's way!</h1>
                        <h4 class="text-white">Sign up spam free to hear more before we launch</h4>
                        <form class="m-t-25 m-b-20">
                            <div class="form-group form-group-default input-group no-border input-group-attached col-md-12  col-sm-12 col-xs-12">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="johnsmith@abc.com">
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-cons" type="button">Subscribe!</button>
                                </span>
                            </div>
                        </form>
                        <!--<p class="text-white fs-12">Be first to find out when we Launch our product.</p>-->
                        <p class="light text-white">
                            Click <a class="text-white" href="{{ path('fos_user_security_login') }}" style="text-decoration: underline">here</a> to view a demo of Wealth College Pro&reg;
                        </p>
                    </div>

            </div>
        </div>
    </section>


{% endblock %}