{% extends '::layout-front.html.twig' %}


{% block last_javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/contact.js') }}"></script>
{% endblock %}

{% block content_outer %}

    <div class="p-t-60 bg-white">
        <!-- START CONTACT SECTION -->
        <section class="container container-fixed-lg p-t-65 p-b-100  sm-p-b-30 sm-m-b-30">
            <div class="row">
                <div class="col-md-6">
                    <h2>Thank you for your interest!</h2>
                    <div class="p-r-40 sm-p-r-0">
                        <p>We will advise you shortly on this. Leave your details with us on the <a href="{{ path('contact') }}">Contact</a> page and we'll let you know more about pricing for Wealth College Pro&reg;.</p>

                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </section>
        <!-- END CONTACT SECION -->

        <!-- END GOOGLE MAP -->
    </div>

{% endblock %}