{% extends '::layout-front.html.twig' %}


{% block last_javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/contact.js') }}"></script>
{% endblock %}

{% block content_outer %}

    <div class="p-t-60 bg-white">
        <!-- START CONTACT SECTION -->
        <section class="container container-fixed-lg p-t-65 p-b-100  sm-p-b-30 sm-m-b-30">
            <div class="row">
                <div class="col-md-6">
                    <h2>Want to know more about the benefits of using Wealth College Pro&reg;?</h2>
                    <div class="p-r-40 sm-p-r-0">
                        <p>Leave your details here and we'll keep you informed about upcoming previews and demos of our exciting new app for financial advisers.</p>
                        <br>
                        <br>
                        <div class="panel" id="contact-panel">
                            <form role="form" autocomplete="off" class="m-t-15" id="contact-form" action="{{ path('register_interest_submit') }}" method="post">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default required">
                                            <label>First name</label>
                                            <input type="text" name="firstName" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Last name</label>
                                            <input type="text" name="lastName" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-group-default">
                                    <label>Email</label>
                                    <input type="email" name="email" placeholder="This can be changed later" class="form-control" required>
                                </div>

                                <div class="sm-p-t-10 clearfix">
                                    <button class="btn btn-primary font-montserrat all-caps fs-12 pull-right xs-pull-left">Submit</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </section>
        <!-- END CONTACT SECION -->

    </div>

{% endblock %}