{% extends '::layout-front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/plugins/swiper/css/swiper.css') }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/swiper/js/swiper.jquery.min.js') }}"></script>
{% endblock %}

{% block last_javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/home.js') }}"></script>
{% endblock %}

{% block frontend_header %}
{% endblock %}
{% block frontend_footer %}
{% endblock %}

{% block content_outer %}
<!-- BEGIN JUMBOTRON -->
<section id="demo-hero-3" class="jumbotron full-vh" data-pages="parallax">
    <div class="inner full-height">
        <!-- BEGIN SLIDER -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- BEGIN SLIDE -->
                <div class="swiper-slide fit slide-1" data-pages-bg-image="/assets/img/banner_1.jpg">
                    <!-- BEGIN IMAGE PARRALAX -->
                    <div class="slider-wrapper">
                    </div>
                    <!-- END IMAGE PARRALAX -->
                    <!-- BEGIN CONTENT -->
                    <div class="content-layer">
                        <div class="inner full-height">
                            <div class="container-xs-height full-height">
                                <div class="col-xs-height col-middle text-center">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <h1 class="light" data-swiper-parallax="-15%">
                                                    Under Construction
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END SLIDE -->

            </div>

        </div>
    </div>
    <!-- END SLIDER -->
</section>
<!-- END JUMBOTRON -->


{% endblock %}