{# @var review \AppBundle\Entity\Review #}

<div class="modal-header">
    <h5 class="text-left p-b-5"><span class="semi-bold">Review</span></h5>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-sm-2">
            <div class="form-group form-group-default">
                <label>Title</label>
                {{ review.client.person.title }}
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group form-group-default">
                <label>First Name</label>
                {{ review.client.person.firstName }}
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group form-group-default">
                <label>Last Names</label>
                {{ review.client.person.lastName }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group-default">
                <label>Business Name</label>
                {{ review.client.person.businessName }}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group-default">
                <label class="">Feedback Title</label>
                {{ review.title }}
            </div>
        </div>
    </div>

    {% if review.ratingFeedbackRequired  %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group-default">
                <label class="">Positive feedback</label>
                {{ review.feedback|nl2br }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group-default">
                <label class="">What could you improve?</label>
                {{ review.negativeFeedback|nl2br }}
            </div>
        </div>
    </div>
    {% endif %}

    {% if review.commentRequired  %}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group form-group-default">
                    <label class="bold">{{ review.reviewTemplate.commentsQuestion }}</label>
                    <p>
                        {{ review.comment|nl2br }}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

    {% if review.typeId == 1 %}
        {# basic feedback review #}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="">Choose any of the attributes that describe your Financial<br/>Planner (you may choose more than one):</label>
                    
                    <p>
                        {{ review.attributes|join("\n")|nl2br }}
                    </p>

                </div>
            </div>
        </div>
    {% endif %}

    {% for reviewAnswer in review.reviewAnswers %} {# @var reviewAnswer \AppBundle\Entity\ReviewAnswer #}

        <div class="review-answer">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="form-group form-group-default">
                        <label class="bold">{{ reviewAnswer.reviewTemplateQuestion.question }}</label>
                        <p>{{ reviewAnswer.answerScoreName }}</p>
                </div>
            </div>

        </div>

    {% endfor %}

    {% if review.ratingFeedbackRequired  %}

    <div class="form-group">

        <div id="star-rating" data-rating="0" class="bg-green star-rating">
            <div id="star-rating-stars" class="{{ review.rating ? 'value-set' : '' }} stars">
                <span data-rating="1"><i class="fa fa-3x {{ review.rating  >= 1 and review.rating < 2 ? 'fa-star-half-o' : '' }} {{ review.rating >= 2 ? 'fa-star' : '' }} {{ review.rating < 1 ? 'fa-star-o' : '' }}"></i></span>
                <span data-rating="2"><i class="fa fa-3x {{ review.rating >= 3 and review.rating < 4 ? 'fa-star-half-o' : '' }} {{ review.rating >= 4 ? 'fa-star' : '' }} {{ review.rating < 3 ? 'fa-star-o' : '' }}"></i></span>
                <span data-rating="3"><i class="fa fa-3x {{ review.rating >= 5 and review.rating < 6 ? 'fa-star-half-o' : '' }} {{ review.rating >= 6 ? 'fa-star' : '' }} {{ review.rating < 5 ? 'fa-star-o' : '' }}"></i></span>
                <span data-rating="4"><i class="fa fa-3x {{ review.rating >= 7 and review.rating < 8 ? 'fa-star-half-o' : '' }} {{ review.rating >= 8 ? 'fa-star' : '' }} {{ review.rating < 7 ? 'fa-star-o' : '' }}"></i></span>
                <span data-rating="5"><i class="fa fa-3x {{ review.rating >= 9 and review.rating < 10 ? 'fa-star-half-o' : '' }} {{ review.rating == 10 ? 'fa-star' : '' }} {{ review.rating < 9 ? 'fa-star-o' : '' }}"></i></span>
            </div>
        </div>
    </div>

    {% endif %}



    <div class="row">
        <div class="pull-right">
            <label class="">&nbsp;</label>
            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

</div>
