{# @var review \AppBundle\Entity\Review #}

{% set highlighted = review.feedback|length > 255 %}

<!-- START ITEM -->
<div class="card share review col1 {{ highlighted ? 'full' : '' }}" data-social="item">

    {% if not highlighted %}
        {{ include('AppBundle:Review/widgets:review-card-header.html.twig') }}
    {% endif %}

    <div class="stars-content">
        {% if review.hasRating %}
        <div class="star-rating bg-{{ review.ratingColour }}">
            <div class="stars value-set">
                <span data-rating="1"><i class="fa fa-2x {{ review.rating == 1 ? 'fa-star-half-o' : '' }} {{ review.rating >= 2 ? 'fa-star' : '' }} {{ review.rating < 1 ? 'fa-star-o' : '' }}"></i></span>
                <span data-rating="2"><i class="fa fa-2x {{ review.rating == 3 ? 'fa-star-half-o' : '' }} {{ review.rating >= 4 ? 'fa-star' : '' }} {{ review.rating < 3 ? 'fa-star-o' : '' }}"></i></span>
                <span data-rating="3"><i class="fa fa-2x {{ review.rating == 5 ? 'fa-star-half-o' : '' }} {{ review.rating >= 6 ? 'fa-star' : '' }} {{ review.rating < 5 ? 'fa-star-o' : '' }}"></i></span>
                <span data-rating="4"><i class="fa fa-2x {{ review.rating == 7 ? 'fa-star-half-o' : '' }} {{ review.rating >= 8 ? 'fa-star' : '' }} {{ review.rating < 7 ? 'fa-star-o' : '' }}"></i></span>
                <span data-rating="5"><i class="fa fa-2x {{ review.rating == 9 ? 'fa-star-half-o' : '' }} {{ review.rating == 10 ? 'fa-star' : '' }} {{ review.rating < 9 ? 'fa-star-o' : '' }}"></i></span>
            </div>
        </div>
        {% endif %}
        <div class="title m-t-10">{{ review.title }}</div>
    </div>

    <div class="card-description">
        {% for attribute in review.attributes %}
            <div class="btn btn-tag btn-tag-dark btn-tag-rounded m-b-5">{{ attribute }}</div>
            {% if loop.last %}
                <div class="m-b-20"></div>
            {% endif %}
        {% endfor %}

        {% if review.feedback %}
            <p>{{ review.feedback }}</p>
        {% else %}
            <p>{{ review.comment }}</p>
        {% endif %}

        {% if review.hasRating %}
            <p class="text-complete">{{ review.rating / 2 }} Stars</p>
        {% endif %}
    </div>
    <div class="card-footer clearfix">
        <div class="time">
            {#<span id="review-share-{{ review.id }}"
                    class='st_sharethis_hcount'
                  st_title="Wealth College Pro&reg; Review for {{ financialAdviser.user.name }} by {{ review.client ? review.client.person.fullName : '' }}"
                  st_url="{{ url('profile_view_reviews', {id: review.financialAdviser.id }) }}"
                  st_image="{{ url('home_page')|replace({'app_dev.php': ''})|trim('/') }}{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(250, 250) }}"
                  st_summary="{{ review.feedback ? review.feedback : review.comment }}"
            ></span>
            #}
            <div class="addthis_inline_share_toolbox"
                 data-title="Wealth College Pro&reg; Review for {{ financialAdviser.user.name }} by {{ review.client ? review.client.person.fullName : '' }}"
                 data-media="{{ url('home_page')|replace({'app_dev.php': ''})|trim('/') }}{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(250, 250) }}"
                 data-url="{{ url('profile_view_reviews', {id: review.financialAdviser.id }) }}"
                 data-description="{{ review.feedback ? review.feedback : review.comment }}"
            ></div>
        </div>
        {#<ul class="reactions">
            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
        #}
    </div>

    {% if highlighted %}
        {{ include('AppBundle:Review/widgets:review-card-header.html.twig') }}
    {% endif %}
</div>
<!-- END ITEM -->