{# @var financialAdviser \AppBundle\Entity\FinancialAdviser #}
{% if review is defined and form is defined %}
    <div class="modal fade slide-up" id="review-form-modal" tabindex="-1" role="dialog" aria-labelledby="review-form-modal" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-left p-b-5"><span class="semi-bold">Send A Review</span></h5>
                </div>
                <div class="modal-body">

                    {{ form_start(form, {attr: {id: 'review-form', name: 'review-form', 'novalidate':1, class: '', action: path('ajax_review_submit'), 'data-fa-id': financialAdviser.id, 'data-star-rating-required': review.ratingFeedbackRequired}}) }}

                    {{ form_errors(form) }}
                    {{ form_widget(form._token) }}

                    {{ form_widget(form.rating) }}

                    {% if token is defined %}
                        <input type="hidden" name="token" value="{{ token }}" />
                    {% endif %}

                    <input type="hidden" name="review[verifiable]" value="{{ review.verifiable }}" />


                    <p>Have your say! Tell the world what you think about your experience with {{ financialAdviser.user.name }}.</p>

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group form-group-default">
                                <label>Title</label>
                                {{ form_widget(form.client.person.title, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group form-group-default required">
                                <label>First Name</label>
                                {{ form_widget(form.client.person.firstName, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group form-group-default required">
                                <label>Last Names</label>
                                {{ form_widget(form.client.person.lastName, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Business Name</label>
                                {{ form_widget(form.client.person.businessName, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                <label class="">Feedback Title</label>
                                {{ form_widget(form.title, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    {% if review.typeId == 1 %}
                        {# basic feedback review #}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group required">
                                    <label class="">Choose any of the attributes that describe your Financial<br/>Planner (you may choose more than one):</label>

                                    {% for i, choice in form.attributes.vars.choices  %}
                                        <div class="ui field checkbox">
                                            <input id="review_{{ choice.value }}" type="checkbox" value="{{ choice.value }}" name="review[attributes][{{ i }}]" {{ review.hasAttributeId(choice.value) ? 'checked="checked"' : ''}}/>
                                            <label for="review_{{ choice.value }}">{{ choice.label }}</label>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>


                    {% endif %}

                    {% if review.ratingFeedbackRequired  %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label class="">What positive feedback have you got for {{ financialAdviser.user.name }}?</label>

                                {{ form_widget(form.feedback, {attr: {class: 'form-control', style: 'height: 8em'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label class="">What could {{ financialAdviser.user.name }} improve?</label>

                                {{ form_widget(form.negativeFeedback, {attr: {class: 'form-control', style: 'height: 8em'}}) }}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if review.commentRequired  %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label class="">{{ review.reviewTemplate.commentsQuestion }}</label>

                                    {{ form_widget(form.comment, {attr: {class: 'form-control', style: 'height: 8em'}}) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}



                    {% for reviewAnswer in form.reviewAnswers %} {# @var reviewAnswer \AppBundle\Entity\ReviewAnswer #}

                        <div class="review-answer">
                            <div class="row">
                                <div class="col-sm-12 center">
                                    {{ reviewAnswer.vars.value.reviewTemplateQuestion.question }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="radio radio-danger">
                                    {{ form_widget(reviewAnswer.answerScore[4]) }}
                                    {{ form_label(reviewAnswer.answerScore[4]) }}
                                </div>
                                <div class="radio radio-danger">
                                    {{ form_widget(reviewAnswer.answerScore[3]) }}
                                    {{ form_label(reviewAnswer.answerScore[3]) }}
                                </div>
                                <div class="radio radio-warning">
                                    {{ form_widget(reviewAnswer.answerScore[2]) }}
                                    {{ form_label(reviewAnswer.answerScore[2]) }}
                                </div>
                                <div class="radio radio-success">
                                    {{ form_widget(reviewAnswer.answerScore[1]) }}
                                    {{ form_label(reviewAnswer.answerScore[1]) }}
                                </div>
                                <div class="radio radio-success">
                                    {{ form_widget(reviewAnswer.answerScore[0]) }}
                                    {{ form_label(reviewAnswer.answerScore[0]) }}
                                </div>
                            </div>
                        </div>

                    {% endfor %}



                    {% if review.ratingFeedbackRequired  %}
                    <div class="form-group required">

                        <div id="star-rating" data-rating="0" class="bg-green star-rating">
                            <div id="star-rating-stars" class="{{ review.rating ? 'value-set' : '' }} stars">
                                <span data-rating="1"><i id="star-1" class="fa fa-star-o fa-3x"></i></span>
                                <span data-rating="2"><i id="star-2" class="fa fa-star-o fa-3x"></i></span>
                                <span data-rating="3"><i id="star-3" class="fa fa-star-o fa-3x"></i></span>
                                <span data-rating="4"><i id="star-4" class="fa fa-star-o fa-3x"></i></span>
                                <span data-rating="5"><i id="star-5" class="fa fa-star-o fa-3x"></i></span>
                            </div>
                        </div>
                    </div>

                    {% endif %}


                    <div id="review_submit_recaptcha"></div>

                    <div class="row m-t-10">
                        <div class="col-md-12">
                            <label>
                                <input type="hidden" value="0" name="agreeTerms"/>
                                <input type="radio" value="1" name="agreeTerms"/>
                                I agree and consent to the Terms stipulated in the PDPA Privacy Policy. <a href="/assets/documents/Subscribers%20n%20Users%20PDPA%20Policy(1Nov2016).pdf" target="_blank" class="text-info small">Read Our Privacy Policy / Terms of Use</a></label>

                            <label>
                                <input type="radio" value="0" name="agreeTerms"/>
                                I disagree and do not consent to the Terms stipulated in the PDPA Privacy Policy. <a href="/assets/documents/Subscribers%20n%20Users%20PDPA%20Policy(1Nov2016).pdf" target="_blank" class="text-info small">Read Our Privacy Policy / Terms of Use</a></label>

                        </div>

                    </div>

                    <div class="row">
                        <div class="pull-right">
                            <label class="">&nbsp;</label>
                            {% if reviewPreview is defined and reviewPreview %}
                                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                            {% else %}
                                <input type="submit" class="btn btn-primary" value="Submit Review" />
                            {% endif %}

                        </div>
                    </div>

                    {{ form_end(form, {render_rest: false}) }}

                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endif %}