<div class="modal fade slide-up" id="reviews-request-modal" tabindex="-1" role="dialog" aria-labelledby="reviews-request-modal" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="pg-close"></i>
    </button>
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-left p-b-5"><span class="semi-bold">Review Request</span></h5>
            </div>
            <div class="modal-body">

                <form id="reviews-request-form" class="p-t-15 live-form" role="form" action="{{ path('ajax_review_request') }}" method="POST">

                    <input type="hidden" value="" name="review_template_id" class="review-template-id" />

                    <p>Send your Review Request to anyone you specify in the <b>To</b> box below. Type names from your Contacts list and press the 'enter' key to select them.</p>
                    <p>Your Review Request will be e-mailed right away to the contacts you specify.</p>

                    <div class="row">
                        <div class="col-sm-6">
                            <label>To Contact</label>
                            <div class="form-group form-group-default form-group-default-select2">
                                <input type="hidden" id="review-client-select" class="full-width" data-clients-data="{{ clientsData|default('') }}" name="client_id" multiple="multiple">
                                {#
                                <select class="full-width" data-init-plugin="select2" multiple name="client_id[]" placeholder="To">
                                    {% for client in financialAdviser.clients %}
                                        <option value="{{ client.id }}">{{ client.person.firstName ~ ' ' ~ client.person.lastName }}</option>
                                    {% endfor %}
                                </select>
                                #}
                            </div>
                        </div>
                        {#
                        <div class="col-sm-6">
                            <label>To Group</label>
                            <div class="form-group form-group-default form-group-default-select2">
                                <input type="hidden" id="review-group-select" class="full-width" data-groups-data="{{ groupsData|default('') }}" name="group_id" multiple="multiple">
                                {#
                                <select class="full-width" data-init-plugin="select2" multiple name="client_id[]" placeholder="To">
                                    {% for client in financialAdviser.clients %}
                                        <option value="{{ client.id }}">{{ client.person.firstName ~ ' ' ~ client.person.lastName }}</option>
                                    {% endfor %}
                                </select>
                                #}{#
                            </div>
                        </div>
                        #}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label for="review-request-subject">Subject</label>
                                <input id="review-request-subject" type="text" class="form-control" name="subject" value="How Would You Rate My Service?" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Message</label>
                                <textarea name="message"  class="form-control" placeholder="Optionally add a message, which will appear in the recipient's e-mail"></textarea>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-cons m-t-10" type="submit">Submit</button>
                    <button class="btn btn-warning btn-cons m-t-10 show-preview" type="button">Preview</button>
                    <button class="btn btn-cancel btn-cons m-t-10 pull-right" type="button" data-dismiss="modal" aria-hidden="true">Cancel</button>

                </form>

            </div>
            <div class="modal-footer">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>