{# @var review \AppBundle\Entity\Review #}

<div class="card-header clearfix">
    <div class="user-pic">
        <img alt="Profile Image" width="33" height="33" data-src-retina="{{ image(web_path ~ '/assets/img/profiles/default.jpg').zoomCrop(66,66) }}" data-src="{{ image(web_path ~ '/assets/img/profiles/default.jpg').zoomCrop(33,33) }}" src="{{ image(web_path ~ '/assets/img/profiles/default.jpg').zoomCrop(33,33) }}">
    </div>
    <h5>{{ review.client ? review.client.person.fullName : '' }}</h5>
    {% if review.publishedAt %}
        <h6>Published {{ review.publishedAt|date('d M Y') }}</h6>
    {% endif %}
</div>
