{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Log in :: Wealth College Pro&reg;{% endblock %}

{% block fos_user_content %}


    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
        <a href="{{ path('home_page') }}">
            <img src="{{ asset('assets/img/logo-loginpage.png') }}" alt="logo" data-src="{{ asset('assets/img/logo-loginpage.png') }}" data-src-retina="{{ asset('assets/img/logo-loginpage.png') }}" width="230" height="60">
        </a>
        <p class="p-t-35">Sign into your Wealth College Pro&reg; account</p>
        <!-- START Login Form -->
        <form id="form-login" class="p-t-15" role="form" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <!-- START Form Control-->
            <div class="form-group form-group-default">
                <label>Login</label>
                <div class="controls">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="User Name" class="form-control" required>
                </div>
            </div>
            <!-- END Form Control-->
            <!-- START Form Control-->
            <div class="form-group form-group-default">
                <label>Password</label>
                <div class="controls">
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Credentials" required>
                </div>
            </div>

            {% if error %}
                <div class="form-group form-group-default">
                    <div class="ui message negative">{{ error.message|trans({}, 'FOSUserBundle') }}</div>
                </div>
            {% endif %}

            <!-- START Form Control-->
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class="checkbox ">
                        <input type="checkbox" value="1" id="checkbox1" name="_remember_me">
                        <label for="checkbox1">Keep Me Signed in</label>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <a href="{{ path('contact') }}" class="text-info small">Help? Contact Support</a>
                </div>
            </div>
            <!-- END Form Control-->
            <button class="btn btn-primary btn-cons m-t-10 m-b-10" type="submit" id="_submit" name="_submit" value="Login">Sign in</button>
            <a href="{{ path('fos_user_resetting_request') }}">I've forgotten my password</a>


            <div class="row">
                <div class="col-md-6 text-left">
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-complete btn-cons">Register</a>
                </div>
            </div>

            <div class="row m-t-20">
                <div class="col-md-12 text-left">
                    <a href="/assets/documents/Subscribers%20n%20Users%20PDPA%20Policy(1Nov2016).pdf" target="_blank" class="p-r-10">Privacy Policy/Terms of Use</a>
                </div>
            </div>

        </form>
        <!--END Login Form
        <div class="pull-bottom sm-pull-bottom">
            <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                <div class="col-sm-3 col-md-2 no-padding">
                    <img alt="" class="m-t-5" data-src="/assets/img/demo/pages_icon.png" data-src-retina="/assets/img/demo/pages_icon_2x.png" height="60" src="/assets/img/demo/pages_icon.png" width="60">
                </div>
                <div class="col-sm-9 no-padding m-t-10">
                    <p>
                        <small>
                            Create a Wealth College Pro account. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#"
                                                                                                   class="text-info">Google</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
        -->
    </div>



{% endblock fos_user_content %}
