<!-- START HEADER -->
<div class="header ">
    <!-- START MOBILE CONTROLS -->
    <div class="container-fluid relative">
        <!-- LEFT SIDE -->
        <div class="pull-left full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
                <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
                    <span class="icon-set menu-hambuger"></span>
                </a>
            </div>
            <!-- END ACTION BAR -->
        </div>
        <div class="pull-center hidden-md hidden-lg">
            <div class="header-inner">
                <div class="brand inline">
                    <a href="{{ path('home_page') }}">
                        <img src="{{ asset('assets/img/logo-nav.png') }}" alt="logo" data-src="{{ asset('assets/img/logo-nav.png') }}" data-src-retina="{{ asset('assets/img/logo-nav.png') }}" width="">
                    </a>
                </div>
            </div>
        </div>
        <!-- RIGHT SIDE -->
        <div class="pull-right full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
                <a href="#" class="btn-link visible-sm-inline-block visible-xs-inline-block" data-toggle="quickview" data-toggle-element="#quickview">
                    <span class="icon-set menu-hambuger-plus"></span>
                </a>
            </div>
            <!-- END ACTION BAR -->
        </div>
    </div>
    <!-- END MOBILE CONTROLS -->
    <div class=" pull-left sm-table hidden-xs hidden-sm">
        <div class="header-inner">
            <div class="brand inline m-l-70">
                <a href="{{ path('home_page') }}">
                    <img src="{{ asset('assets/img/logo-nav.png') }}" alt="logo" data-src="{{ asset('assets/img/logo-nav.png') }}" data-src-retina="{{ asset('assets/img/logo-nav.png') }}" width="">
                </a>
            </div>

            <a href="#" class="search-link" data-toggle="search"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a> </div>
    </div>
    {#
    <div class=" pull-right">
        <div class="header-inner">
            <a href="#" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"></a>
        </div>
    </div>
    #}
    {% if is_granted('ROLE_USER') %}
    <div class=" pull-right">
        <!-- START User Info-->
        <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                <span class="semi-bold">{{ app.user.firstName }}</span> <span class="text-master">{{ app.user.lastName }}</span>
            </div>
            <div class="dropdown pull-right">
                <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img alt="Profile Image" width="33" height="33"
                     data-src-retina="{{ image(app.user.financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(66, 66) }}"
                     data-src="{{ image(app.user.financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(33, 33) }}"
                     src="{{ image(app.user.financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(33, 33) }}">

                </span>
                </button>
                <ul class="dropdown-menu profile-dropdown" role="menu">
                    {#<li><a href="#"><i class="pg-settings_small"></i> Settings</a></li>#}
                    <li><a href="{{ path('subscription') }}"><i class="fa fa-credit-card"></i> My Subscription</a></li>
                    {#<li><a href="#"><i class="pg-outdent"></i> Feedback</a></li>#}
                    {#<li><a href="#"><i class="pg-signals"></i> Help</a></li>#}

                    <li class="bg-master-lighter">
                        <a href="{{ path('fos_user_security_logout') }}" class="clearfix">
                            <span class="pull-left">Logout</span>
                            <span class="pull-right"><i class="pg-power"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END User Info-->
    </div>
    {% endif %}


</div>
<!-- END HEADER -->
{% if is_granted('ROLE_FA') and app.user.financialAdviser.numSubscriptionDaysRemaining <= 28 %}
<div class="{{ app.user.financialAdviser.numSubscriptionDaysRemaining == 0 ? 'bg-danger' : 'bg-warning' }} text-white sm-padding-10 m-t-60 p-t-10 p-l-20 p-b-10">
    {% set warningBarShowing = true %}
    {% if app.user.financialAdviser.numSubscriptionDaysRemaining == 0 %}
        <p class="fs-16">
            {% if app.user.financialAdviser.subscriptionEndsAt %}
                Your subscription expired on {{ app.user.financialAdviser.subscriptionEndsAt|date('d F Y') }}.
                Please <a href="{{ path('subscription') }}" class="text-white bold">click here and make a payment</a> to restore access to all features. Your data is still safe on Wealth College Pro&reg;'s servers in the meantime and you're free to view all the information you've saved already.
            {% else %}
                Welcome to your new account in Wealth College Pro&reg;. In order to activate your account please make payment via this <a href="{{ path('subscription') }}" class="text-white bold">Subscription Link</a> or proceed to My Subscription under Settings.
            {% endif %}
        </p>
    {% else %}
        <p class="fs-16" style="color: black">Your subscription will expire on {{ app.user.financialAdviser.subscriptionEndsAt|date('d F Y') }}. Please <a href="{{ path('subscription') }}" class="bold" style="color: black">click here and make a payment</a> to ensure that you do not lose access to Wealth College Pro&reg;. If you allow your subscription to expire, we will keep all your data saved and you will still be able to view it... but you will not be able to change anything or add new details.</p>
    {% endif %}
</div>
{% else %}
    {% set warningBarShowing = false %}
{% endif %}