{% set route = app.request.attributes.get('_route') %}

<!-- BEGIN SIDEBPANEL-->
<nav class="page-sidebar" data-pages="sidebar">
    <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT
    <div class="sidebar-overlay-slide from-top" id="appMenu">
        <div class="row">
            <div class="col-xs-6 no-padding">
                <a href="#" class="p-l-40"><img src="/assets/img/demo/social_app.svg" alt="socail">
                </a>
            </div>
            <div class="col-xs-6 no-padding">
                <a href="#" class="p-l-10"><img src="/assets/img/demo/email_app.svg" alt="socail">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 m-t-20 no-padding">
                <a href="#" class="p-l-40"><img src="/assets/img/demo/calendar_app.svg" alt="socail">
                </a>
            </div>
            <div class="col-xs-6 m-t-20 no-padding">
                <a href="#" class="p-l-10"><img src="/assets/img/demo/add_more.svg" alt="socail">
                </a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <div class="sidebar-header">
        <img src="{{ asset('assets/img/logo-white.png') }}" alt="logo" class="brand" data-src="{{ asset('assets/img/logo-white.png') }}" data-src-retina="{{ asset('assets/img/logo-white.png') }}" width="96" height="18" >
        <div class="sidebar-header-controls">
            <!--
            <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
            </button>
            <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
            </button>
            -->
        </div>
    </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
            <li class="m-t-30 ">
                <a href="{{ path('dashboard') }}" class="detailed">
                    <span class="title">Dashboard</span>
                </a>

                <span class="{{ route == 'dashboard' ? 'bg-success' : '' }} icon-thumbnail"><i class="pg-home"></i></span>
            </li>
            <!--
            <li class="">
                <a href="email.html" class="detailed">
                    <span class="title">Email</span>
                    <span class="details">234 New Emails</span>
                </a>
                <span class="icon-thumbnail"><i class="pg-mail"></i></span>
            </li>
            -->
            <li class="">
                <a href="#"><span class="title">Profile</span><span class=" arrow"></span></a>
                <span class="{{ route == 'profile' ? 'bg-success' : '' }} icon-thumbnail"><i class="fa fa-user"></i></span>
                <ul class="sub-menu">
                    <li class="">
                        <a href="{{ path('profile') }}"><span class="title">View Profile</span></a>
                        <span class="icon-thumbnail"><i class="fa fa-user"></i></span>
                    </li>
                    <li class="">
                        <a href="{{ path('profile_edit') }}"><span class="title">Edit Profile</span></a>
                        <span class="icon-thumbnail"><i class="fa fa-edit"></i></span>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('calendar') }}"><span class="title">Calendar</span></a>
                <span class="{{ route == 'calendar' ? 'bg-success' : '' }} icon-thumbnail"><i class="pg-calender"></i></span>
            </li>

            {% if is_granted('ROLE_FA') %}

                <li>
                    <a href="{{ path('clients') }}"><span class="title">Contacts</span></a>
                    <span class="{{ route == 'clients' ? 'bg-success' : '' }} icon-thumbnail"><i class="fa fa-users"></i></span>
                </li>
                {#
                <li>
                    <a href="#"><span class="title">Contacts</span><span class=" arrow"></span></a>
                    <span class="{{ route == 'clients' ? 'bg-success' : '' }} icon-thumbnail"><i class="fa fa-users"></i></span>
                    <ul class="sub-menu">
                        <li class="">
                            <a href="{{ path('clients') }}"><span class="title">Prospects &amp; Clients</span></a>
                            <span class="icon-thumbnail"><i class="fa fa-list"></i></span>
                        </li>
                        <li class="">
                            <a href="{{ path('client_group') }}"><span class="title">Groups</span></a>
                            <span class="icon-thumbnail"><i class="fa fa-group"></i></span>
                        </li>
                    </ul>
                </li>
                #}


                <li class="">
                    <a href="#"><span class="title">Reviews</span><span class=" arrow"></span></a>
                    <span class="{{ route == 'review' ? 'bg-success' : '' }} icon-thumbnail"><i class="fa fa-star"></i></span>
                    <ul class="sub-menu">
                        <li class="">
                            <a href="{{ path('reviews') }}"><span class="title">View My Reviews</span></a>
                            <span class="icon-thumbnail"><i class="fa fa-star"></i></span>
                        </li>
                        <li class="">
                            <a href="{{ path('review_request_standard') }}"><span class="title">Basic Review</span></a>
                            <span class="icon-thumbnail"><i class="fa fa-send"></i></span>
                        </li>
                        {#
                        <li class="">
                            <a href="{{ path('review_templates') }}"><span class="title">Comprehensive Review</span></a>
                            <span class="icon-thumbnail"><i class="fa fa-star"></i></span>
                        </li>
                        <li class="">
                            <a href="{{ path('review_templates')~'?type=9' }}"><span class="title">Custom Review</span></a>
                            <span class="icon-thumbnail"><i class="fa fa-star"></i></span>
                        </li>
                        #}
                    </ul>
                </li>

                <li class="">
                    <a href="#"><span class="title">Webinars</span><span class=" arrow"></span></a>
                    <span class="{{ route == 'webinar' ? 'bg-success' : '' }} icon-thumbnail"><i class="fa fa-play"></i></span>
                    <ul class="sub-menu">
                        <li class="">
                            <a href="{{ path('webinar') }}"><span class="title">Webinars</span></a>
                            <span class="icon-thumbnail"><i class="fa fa-list"></i></span>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="https://wealthcollege.znanja.com/login" target="_blank"><span class="title">Campus</span></a>
                </li>

            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}

                <li class="">
                    <a href="#"><span class="title">Admin</span><span class=" arrow"></span></a>
                    <span class="{{ route == 'admin' ? 'bg-success' : '' }} icon-thumbnail"><i class="fa fa-key"></i></span>
                    <ul class="sub-menu">
                        <li class="">
                            <a href="{{ path('admin_review_templates') }}"><span class="title">Review Forms</span></a>
                            <span class="icon-thumbnail"><i class="fa fa-star"></i></span>
                        </li>

                        <li class="">
                            <a href="{{ path('admin_reviews') }}"><span class="title">FAR Reviews</span></a>
                            <span class="icon-thumbnail"><i class="fa fa-star"></i></span>
                        </li>
                        <li class="">
                            <a href="{{ path('admin_verifiable_reviews') }}"><span class="title">Verifiable Reviews</span></a>
                            <span class="icon-thumbnail"><i class="fa fa-check"></i></span>
                        </li>

                        <li class="">
                            <a href="{{ path('admin_review_attributes') }}"><span class="title">Review Attributes</span></a>
                            <span class="icon-thumbnail"><i class="fa fa-bars"></i></span>
                        </li>


                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="">
                            <a href="{{ path('admin_user') }}"><span class="title">Users</span></a>
                            <span class="icon-thumbnail"><i class="fa fa-users"></i></span>
                        </li>
                        {% endif %}
                    </ul>
                </li>

            {% endif %}

        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</nav>
<!-- END SIDEBAR -->
<!-- END SIDEBPANEL-->
