{# @var calendarEvent \AppBundle\Entity\CalendarEvent #}
{# @var financialAdviser \AppBundle\Entity\FinancialAdviser #}

<div id="calendar-event-{{ calendarEvent.id }}" class="timeline-block {{ calendarEvent.calendarEventType.handle }}">
    <div class="timeline-point warning">
        <i class="fa fa-arrow-down"></i>
    </div>
    <!-- timeline-point -->
    <div class="timeline-content">
        <div class="card share full-width {{ calendarEvent.webinar ? 'full' : '' }}">
            <div class="card-header clearfix">
                <h5>
                    {% if calendarEvent.webinar %}
                        Scheduled Webinar
                    {% else %}
                        {{ calendarEvent.summary }}
                    {% endif %}

                </h5>
                <h6>
                    {% if calendarEvent.webinar %}
                        {% set duration = calendarEvent.duration %}
                        Duration: {{ duration.h > 0 ? duration.h~' hours ' : '' }}{{ duration.i > 0 ? duration.i~' minutes ' : '' }}
                    {% else %}
                        <a href="{{ path('calendar', {calendarEventId: calendarEvent.id}) }}">View in calendar</a>
                    {% endif %}

                </h6>
            </div>
            {% if calendarEvent.webinar %}
                <div class="card-description">
                    <p class="event-title">{{ calendarEvent.summary }}</p>
                </div>
            {% else %}

            {% endif %}

            {% if calendarEvent.description %}
            <div class="event-description">
                {{ calendarEvent.description }}
            </div>
            {% endif %}

            <div class="card-footer clearfix">
                {% set eta = calendarEvent.eta %}
                <div class="time">{{ calendarEvent.startAt.timestamp > 'now'|date('U') ? 'In ' : '' }}{{ eta.d > 0 ? eta.d~' days ' : '' }}{{ eta.h > 0 ? eta.h~' hours ' : '' }}{{ eta.d == 0 and eta.i > 0 ? eta.i~' minutes ' : '' }}{{ calendarEvent.startAt.timestamp < 'now'|date('U') ? 'ago' : '' }}</div>
            </div>
        </div>
        <div class="event-date">
            <h6 class="font-montserrat all-caps hint-text m-t-0">
                <strong>{{ calendarEvent.calendarEventType.name }}</strong><br/>
                {{ calendarEvent.startAt|date('d F Y, H:i A') }}
            </h6>
        </div>
    </div>
    <!-- timeline-content -->
</div>
