<p>Hey {{ user.firstName }}!</p>

<p>Your account is now active. You can <a href="{{ url('fos_user_security_login') }}">login here</a>.</p>

<p>Have a great week!</p>

<p>The Wealth College Pro&reg; Team</p>