{# @var calendarEventAttendee \AppBundle\Entity\CalendarEventAttendee #}
<p>Hi {{ calendarEventAttendee.client.person.firstName }}</p>

<p>Unfortunately the {{ calendarEventAttendee.calendarEvent.webinar ? 'webinar' : 'event' }} you were invited to: "{{ calendarEventAttendee.calendarEvent.summary }}"<br/>has been cancelled by the organiser.
    For more information please contact the organiser of the event:
    {{ calendarEventAttendee.calendarEvent.user.name }} <a href="mailto:{{ calendarEventAttendee.calendarEvent.user.email }}">{{ calendarEventAttendee.calendarEvent.user.email }}</a>.</p>



<p>Kind regards<br/>Wealth College Pro&reg;</p>