{# @var calendarEventAttendee \AppBundle\Entity\CalendarEventAttendee #}
Hi {{ calendarEventAttendee.client.person.firstName }}

Unfortunately the {{ calendarEventAttendee.calendarEvent.webinar ? 'webinar' : 'event' }} you were invited to: "{{ calendarEventAttendee.calendarEvent.summary }}" has been cancelled by the organiser.

For more information please contact the organiser of the event: {{ calendarEventAttendee.calendarEvent.user.name }} {{ calendarEventAttendee.calendarEvent.user.email }}

Kind regards
Wealth College Pro