{# @var calendarEventAttendee \AppBundle\Entity\CalendarEventAttendee #}
{# @var webinar \AppBundle\Entity\Webinar #}
<p>Hi {{ calendarEventAttendee.client.person.firstName }}</p>

<p>{{ calendarEventAttendee.calendarEvent.user.name }} has invited you to their Webinar: {{ calendarEventAttendee.calendarEvent.summary }}</p>

<p>
    <a href="{{ webinar.url }}">Webinar Link</a> - Use this link to join the Webinar when it is due to start
</p>

<p>
    <a href="{{ url('profile_view_webinars', {id: webinar.financialAdviser.id}) }}">Click here</a> to get more information about this webinar
</p>


<p>Kind regards<br/>Wealth College Pro&reg;</p>