{# @var calendarEventAttendee \AppBundle\Entity\CalendarEventAttendee #}
{# @var webinar \AppBundle\Entity\Webinar #}
Hi {{ calendarEventAttendee.client.person.firstName }}

{{ calendarEventAttendee.calendarEvent.user.name }} has invited you to their Webinar: {{ calendarEventAttendee.calendarEvent.summary }}

Webinar Link - Use this link to join the Webinar when it is due to start
{{ webinar.url }}

Webinar Information
{{ url('profile_view_webinars', {id: webinar.financialAdviser.id}) }}


Kind regards

Wealth College Pro
