{# @var financialAdviser \AppBundle\Entity\FinancialAdviser #}
Hi {{ financialAdviser.user.firstName }}

Your subscription will expire on {{ financialAdviser.subscriptionEndsAt|date('d F Y') }}. Please purchase a new subscription to ensure that you don't lose access to Wealth College Pro. If you allow your subscription to expire, we'll keep all your data saved and you'll still be able to view it... but you won't be able to change anything or add new details.

Follow the link below to update your subscription details.
{{ url('subscription') }}

The Wealth College Pro Team
