<!-- START CONTENT SECTION -->
<section class="p-b-30 p-t-30" >
    <div class="container">
        <h6 class="block-title m-b-0 text-center">Find a Financial Adviser</h6>
        <h3 class="m-t-5 light text-center">Show me all advisers</h3>
        <form id="fa-search-form" action="{{ path('fa_search') }}" method="get">
            <div class="row p-t-30">
                <div class="col-md-10 col-sm-9">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group form-group-select2">
                                <label for="filter-countryId">In this Country</label>
                                <select id="filter-countryId" name="filter[countryId][]" class="full-width" multiple="multiple" placeholder="All Countries">
                                    {% for id,country in filterOptions.countries %}
                                        <option value="{{ id }}" {{ id in filter.countryId|default([]) ? 'selected="selected"' : '' }}>{{ country }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-select2">
                                <label for="filter-city">In this City</label>
                                <select id="filter-city" name="filter[city][]" multiple="multiple" placeholder="All Cities">
                                    {% for city in filterOptions.cities %}
                                        <option value="{{ city }}" {{ city in filter.city|default([]) ? 'selected="selected"' : '' }}>{{ city }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-select2">
                                <label for="filter-name">Whose name contains</label>
                                <input id="filter-name" name="filter[name]" type="text" class="form-control input-sm" value="{{ filter.name|default('') }}" placeholder="Type first name, surname or both">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-select2">
                                <label for="filter-orderBy">Order results by</label>
                                <select id="filter-orderBy" name="filter[orderBy]">
                                    {% for orderByHandle,orderBy in filterOptions.orderBy %}
                                        <option value="{{ orderByHandle }}" {{ filter.orderBy|default('') == orderByHandle ? 'selected="selected"' : '' }}>{{ orderBy }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3">
                    <button class="btn btn-primary btn-lg col-xs-12" type="submit">Find Now!</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- END CONTENT SECTION -->