{% extends '::layout.html.twig' %}

{# @var reviewTemplateQuestion \AppBundle\Entity\ReviewTemplateQuestion #}

{% block content %}

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li>
                <a href="#">Admin</a>
            </li>
            <li><a href="{{ path('admin_review_templates') }}" class="active">Review Templates</a></li>
            <li><a href="{{ path('admin_review_template_view', {id: reviewTemplate.id }) }}" class="active">Review Template</a></li>
            <li>Edit Review Template Question</li>
        </ul>


        <div class="row">
            <div class="col-lg-7 col-md-6 ">
                <!-- START PANEL -->
                <div class="panel-heading">
                    <h1>Edit Review Template Question</h1>
                </div>

                <div class="panel panel-transparent">
                    <div class="panel-body">

                        {{ include('::flash-output.html.twig') }}

                        {{ form_start(form, {attr: {class: 'form-horizontal'}}) }}

                        {{ form_errors(form) }}
                        {{ form_widget(form._token) }}

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Question</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.question, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">Archived</label>
                            <div class="col-sm-9">
                                <input type="hidden" value="0" name="archived" />
                                <input type="checkbox" value="1" name="archived" {{ reviewTemplateQuestion.archivedAt ? 'checked="checked"' : '' }} />
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-sm-3 control-label">&nbsp;</label>
                            <div class="col-sm-9">
                                <input type="submit" class="btn btn-primary" />
                            </div>
                        </div>

                        {{ form_end(form, {render_rest: false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
