<div class="tab-pane padding-20 slide-left" id="profile-description-tab">
    <div class="row row-same-height">
        <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
            <div class="padding-30 m-t-50">
                <h2>Tell the world briefly who you are</h2>
                <p>In 160 characters or less, let the world know why it’s better with you in it!</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="padding-30">

                <form id="edit-description-form" class="p-t-15 live-form" role="form" action="{{ path('ajax_profile_edit_description') }}" method="POST">
                    {{ form_start(description_form) }}
                    {{ form_widget(description_form._token) }}


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Description</label>
                                {{ form_widget(description_form.financialAdviser.description, {attr: {class : 'form-control', rows: '5'}}) }}
                                <p class="character-limit"><span class="remaining">{{ 160 - description_form.financialAdviser.description.vars.value|length }}</span> characters left</p>
                            </div>
                        </div>
                    </div>


                    <button class="btn btn-primary btn-cons m-t-10" type="submit">Update</button>

                    {{ form_end(description_form, {'render_rest': false}) }}
                </form>

            </div>
        </div>
    </div>
</div>
