{% extends '::layout.html.twig' %}

{% block last_javascripts %}
    {{ parent() }}

    <script src="{{ asset('pages/js/pages.social.js') }}"></script>

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="{{ asset('assets/plugins/blueimp/load-image.all.min.js') }}"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="{{ asset('assets/plugins/blueimp/canvas-to-blob.min.js') }}"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{ asset('assets/plugins/jquery-fileupload/js/jquery.iframe-transport.js') }}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{ asset('assets/plugins/jquery-fileupload/js/jquery.fileupload.js') }}"></script>
    <!-- The File Upload processing plugin -->
    <script src="{{ asset('assets/plugins/jquery-fileupload/js/jquery.fileupload-process.js') }}"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{{ asset('assets/plugins/jquery-fileupload/js/jquery.fileupload-image.js') }}"></script>

    <script src="{{ asset('assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>

    <script src="{{ asset('assets/js/profile.edit.js') }}"></script>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/plugins/jquery-fileupload/css/jquery.fileupload.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('pages/css/themes/simple.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/bootstrap-datepicker/css/datepicker3.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">

                {{ include('::flash-output.html.twig') }}

                <div id="rootwizard" class="m-t-50">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
                        <li class="active">
                            <a data-toggle="tab" href="#profile-basic-info-tab"><i class="fa fa-info tab-icon"></i> <span>Basic Info</span></a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#profile-contact-address-tab"><i class="fa fa-envelope-o tab-icon"></i> <span>Contact Address &amp; Email</span></a>
                        </li>
                        {#
                        <li class="">
                            <a data-toggle="tab" href="#profile-description-tab"><i class="fa fa-pencil tab-icon"></i> <span>Description</span></a>
                        </li>
                        #}
                        <li class="">
                            <a data-toggle="tab" href="#profile-write-up-tab"><i class="fa fa-pencil tab-icon"></i> <span>Personal Statement</span></a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#profile-images-tab"><i class="fa fa-image tab-icon"></i> <span>Profile Image</span></a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#essential-details-tab"><i class="fa fa-info tab-icon"></i> <span>Essential Details</span></a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#profile-photo-galleries-tab"><i class="fa fa-info tab-icon"></i> <span>My Gallery</span></a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        {{ include('AppBundle:Profile:edit-basic-info.html.twig') }}
                        {{ include('AppBundle:Profile:edit-contact-address.html.twig') }}
                        {# include('AppBundle:Profile:edit-description.html.twig') #}
                        {{ include('AppBundle:Profile:edit-write-up.html.twig') }}
                        {{ include('AppBundle:Profile:edit-images.html.twig') }}
                        {{ include('AppBundle:Profile:edit-essential-details.html.twig') }}
                        {{ include('AppBundle:Profile:edit-photo-galleries.html.twig') }}
                        {#
                        <div class="wizard-footer padding-20 bg-master-light">
                            <p class="small hint-text pull-left no-margin">
                                The Top Content Is Soley Created using pages UI Elements such as Invoice, Tabs, Form Layouts etc. and are prior for representation Purpose Only.
                            </p>
                            <div class="pull-right">
                                <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        #}
                    </div>
                </div>
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->

    </div>
    <!-- END PAGE CONTENT WRAPPER -->

{% endblock %}
