{# @var financialAdviser \AppBundle\Entity\FinancialAdviser #}
{% set faPhotos = financialAdviser.financialAdviserPhotosKeyedByType %}
<div class="tab-pane padding-20 slide-left" id="profile-photo-galleries-tab">
    <div class="row row-same-height">
        <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
            <div class="padding-30 m-t-50">
                <h2>My Gallery</h2>
                <p>Display your favorite photos (e.g. of you receiving an award) and logos (e.g. of your professional memberships & awards like CFP, MDRT etc.)</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="padding-30">

                {{ include('AppBundle:Profile:widgets/photo-gallery-upload.html.twig', {
                    title: 'Photos',
                    type: 'photos'
                }) }}

                {{ include('AppBundle:Profile:widgets/photo-gallery-upload.html.twig', {
                    title: 'Logos',
                    type: 'logos'
                }) }}

                {# include('AppBundle:Profile:widgets/photo-gallery-upload.html.twig', {
                    title: 'Professional Qualifications',
                    type: 'professional-qualifications'
                }) }}

                {{ include('AppBundle:Profile:widgets/photo-gallery-upload.html.twig', {
                    title: 'Professional Memberships',
                    type: 'professional-memberships'
                }) }}

                {{ include('AppBundle:Profile:widgets/photo-gallery-upload.html.twig', {
                    title: 'Industry Awards',
                    type: 'industry-awards'
                }) }}

                {{ include('AppBundle:Profile:widgets/photo-gallery-upload.html.twig', {
                    title: 'Community Involvement',
                    type: 'community-involvement'
                }) #}

            </div>
        </div>
    </div>
</div>
