<div class="tab-pane padding-20 slide-left" id="profile-write-up-tab">
    <div class="row row-same-height">
        <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
            <div class="padding-30 m-t-50">
                <h2>Personal Statement</h2>
                <p>Write a personal statement, an inspirational quote or belief. Let potential clients know who you are. This statement will appear in your profile page just below the main profile image.</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="padding-30">

                <form id="edit-write-up-form" class="p-t-15 live-form" role="form" action="{{ path('ajax_profile_edit_write_up') }}" method="POST" novalidate>
                    {{ form_start(write_up_form) }}
                    {{ form_widget(write_up_form._token) }}

                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(write_up_form.profileContent, {attr: {class : 'form-control'}}) }}
                        </div>
                    </div>

                    <button class="btn btn-primary btn-cons m-t-10" type="submit">Update</button>

                    {{ form_end(write_up_form, {'render_rest': false}) }}
                </form>

            </div>
        </div>
    </div>
</div>
