{# @var financialAdviser \AppBundle\Entity\FinancialAdviser #}
<div class="tab-pane padding-20 slide-left" id="profile-images-tab">
    <div class="row row-same-height">
        <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
            <div class="padding-30 m-t-50">
                <h2>Change your profile image</h2>
                <p>Let your customers know who you are and customise the look of you profile page.</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="padding-30">

                <h2>Profile Image</h2>

                <div id="profile-image">
                    {% if financialAdviser.profileImageUpload %}
                        <img src="{{ image(financialAdviser.profileImageUpload.location).zoomCrop(300,300) }}" alt="Profile Image" />
                    {% else %}
                        <p>Use the "Choose file" button below to upload your profile image</p>
                    {% endif %}
                </div>
                <p>
                    <br/>
                    <input type="file" id="profile-image-upload-id" name="profile_image_upload_id" />
                </p>
                <!-- Default height -->
                <div id="profile-image-upload-progress" class="progress" style="display: none">
                    <div style="width: 0%;" class="progress-bar progress-bar-success"></div>
                </div>

                <h2>Profile Header Image</h2>

                <div id="profile-background-image">
                    {% if financialAdviser.profileBackgroundUpload %}
                        <img src="{{ image(financialAdviser.profileBackgroundUpload.location).zoomCrop(400, 200) }}" alt="Profile Header Image" />
                    {% else %}
                        <p>Use the "Choose file" button below to upload your profile header image</p>
                    {% endif %}
                </div>
                <p>
                    <br/>
                    <input type="file" id="profile-background-image-upload-id" name="profile_background_image_upload_id" />
                </p>
                <!-- Default height -->
                <div id="profile-background-image-upload-progress" class="progress" style="display: none">
                    <div style="width: 0%;" class="progress-bar progress-bar-success"></div>
                </div>

            </div>
        </div>
    </div>
</div>
