<div class="tab-pane padding-20 active slide-left" id="profile-basic-info-tab">
    <div class="row row-same-height">
        <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
            <div class="padding-30 m-t-50">
                <h2>Change how you appear on Wealth College Pro&reg;</h2>
                <p>View and set your basic information from this screen. Let potential new clients know who you are.</p>


                <div class="row">
                    <div class="col-sm-12">
                        <strong>Profile visibility</strong><br/>
                        {% if financialAdviser.hidden %}
                            <span style="color: red">Hidden</span><br/><br/>
                            <a href="{{ path('profile_show') }}" class="btn btn-xs btn-success">Show Profile</a>
                        {% else %}
                            <span style="color: green">Visible</span><br/><br/>
                            <a href="{{ path('profile_hide') }}" class="btn btn-xs btn-danger">Hide Profile</a>
                        {% endif %}
                        <br/>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-7">
            <div class="padding-30">

                <form id="edit-basic-info-form" class="p-t-15 live-form" role="form" action="{{ path('ajax_profile_edit_basic_info') }}" method="POST">
                    {{ form_start(basic_info_form) }}
                    {{ form_widget(basic_info_form._token) }}

                    <div class="form-errors"></div>

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group form-group-default">
                                <label>Title</label>
                                {{ form_widget(basic_info_form.title, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group form-group-default">
                                <label>First Name</label>
                                {{ form_widget(basic_info_form.firstName, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group form-group-default">
                                <label>Last Names</label>
                                {{ form_widget(basic_info_form.lastName, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                <label>Professional Title</label>
                                {{ form_widget(basic_info_form.financialAdviser.professionalTitle, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                <label>Business Name</label>
                                {{ form_widget(basic_info_form.financialAdviser.businessName, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Date of birth</label>
                                {{ form_widget(basic_info_form.dob, {attr: {class : 'form-control date-mask'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Email</label>
                                <div class="input">{{ app.user.email }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Facebook Profile Link</label>
                                {{ form_widget(basic_info_form.financialAdviser.socialFacebook, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Twitter Link</label>
                                {{ form_widget(basic_info_form.financialAdviser.socialTwitter, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>LinkedIn Link</label>
                                {{ form_widget(basic_info_form.financialAdviser.socialLinkedin, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-cons m-t-10" type="submit">Update</button>

                    {{ form_end(basic_info_form, {'render_rest': false}) }}
                </form>

            </div>
        </div>
    </div>
</div>
