<div class="tab-pane padding-20 slide-left" id="essential-details-tab">
    <div class="row row-same-height">
        <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
            <div class="padding-30 m-t-50">
                <h2>Change how you appear on Wealth College Pro&reg;</h2>
                <p>View and set your essential details from this screen. Let potential new clients know who you are.</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="padding-30">

                <form id="edit-essential-details-form" class="p-t-15 live-form" role="form" action="{{ path('ajax_profile_edit_essential_details') }}" method="POST">
                    {{ form_start(essential_details_form) }}
                    {{ form_widget(essential_details_form._token) }}

                    <div class="form-errors"></div>

                    <h2>Personal</h2>

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Surname</label><br/>
                                {{ financialAdviser.user.lastName }}
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label>First Name</label><br/>
                                {{ financialAdviser.user.firstName }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Home Address</label><br/>
                                {{ financialAdviser.address.addressLine }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Date of Birth</label><br/>
                                {{ financialAdviser.user.dob|date('d/m/Y') }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>NRIC No.</label>
                                {{ form_widget(essential_details_form.financialAdviser.nricNumber, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Race</label>
                                {{ form_widget(essential_details_form.financialAdviser.race, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Gender</label><br/>
                            <div class="radio radio-success">
                                {{ form_widget(essential_details_form.gender, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.nationality) }}
                                {{ form_widget(essential_details_form.financialAdviser.nationality, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.religion) }}
                                {{ form_widget(essential_details_form.financialAdviser.religion, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            {{ form_label(essential_details_form.financialAdviser.languages) }}
                            {% for i, choice in essential_details_form.financialAdviser.languages.vars.choices  %}
                                <div class="ui field checkbox">
                                    <input id="fa_lang_{{ choice.value }}" type="checkbox" value="{{ choice.value }}" name="profile_essential_details[financialAdviser][languages][{{ i }}]" {{ choice.value in financialAdviser.languages ? 'checked="checked"' : ''}}/>
                                    <label for="fa_lang_{{ choice.value }}">{{ choice.value }}</label>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.languagesOthers) }}
                                {{ form_widget(essential_details_form.financialAdviser.languagesOthers, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <h2>Professional</h2>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.yearJoinedIndustry) }}
                                {{ form_widget(essential_details_form.financialAdviser.yearJoinedIndustry, {attr: {class: 'date-picker form-control', 'data-max-date': 'now'|date('Y-m-d')} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.parentCompanyName) }}
                                {{ form_widget(essential_details_form.financialAdviser.parentCompanyName, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <p>Company Address</p>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Address line 1</label>
                                {{ form_widget(essential_details_form.financialAdviser.companyAddress.address1, {attr: {class : 'form-control'}, required: false}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Address line 2</label>
                                {{ form_widget(essential_details_form.financialAdviser.companyAddress.address2, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>City</label>
                                {{ form_widget(essential_details_form.financialAdviser.companyAddress.city, {attr: {class : 'form-control'}, required: false}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Post Code</label>
                                {{ form_widget(essential_details_form.financialAdviser.companyAddress.postCode, {attr: {class : 'form-control'}, required: false}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Country</label>
                                {{ form_widget(essential_details_form.financialAdviser.companyAddress.country, {attr: {class : 'form-control'}, required: false}) }}
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.professionalContactNumber) }}
                                {{ form_widget(essential_details_form.financialAdviser.professionalContactNumber, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.professionalEmailAddress) }}
                                {{ form_widget(essential_details_form.financialAdviser.professionalEmailAddress, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-select">
                                {{ form_label(essential_details_form.financialAdviser.academicQualification) }}<br/>
                                {{ form_widget(essential_details_form.financialAdviser.academicQualification, {attr: {'data-init-plugin': 'select2', class: 'form-control', style: 'width: 200px'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.typeOfQualification) }}
                                {{ form_widget(essential_details_form.financialAdviser.typeOfQualification, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.institution) }}
                                {{ form_widget(essential_details_form.financialAdviser.institution, {attr: {class: 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.academicQualificationOther) }}
                                {{ form_widget(essential_details_form.financialAdviser.academicQualificationOther, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                {{ form_label(essential_details_form.financialAdviser.licenceNo) }}
                                {{ form_widget(essential_details_form.financialAdviser.licenceNo, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_label(essential_details_form.financialAdviser.professionalCertifications) }}
                            {% for i, choice in essential_details_form.financialAdviser.professionalCertifications.vars.choices  %}
                                <div class="ui field checkbox">
                                    <input id="fa_pc_{{ choice.value }}" type="checkbox" value="{{ choice.value }}" name="profile_essential_details[financialAdviser][professionalCertifications][{{ i }}]" {{ choice.value in financialAdviser.professionalCertifications ? 'checked="checked"' : ''}}/>
                                    <label for="fa_pc_{{ choice.value }}">{{ choice.value }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.professionalCertificationsOthers) }}
                                {{ form_widget(essential_details_form.financialAdviser.professionalCertificationsOthers, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            {{ form_label(essential_details_form.financialAdviser.professionalMemberships) }}
                            {% for i, choice in essential_details_form.financialAdviser.professionalMemberships.vars.choices  %}
                                <div class="ui field checkbox">
                                    <input id="fa_pm_{{ choice.value }}" type="checkbox" value="{{ choice.value }}" name="profile_essential_details[financialAdviser][professionalMemberships][{{ i }}]" {{ choice.value in financialAdviser.professionalMemberships ? 'checked="checked"' : ''}}/>
                                    <label for="fa_pm_{{ choice.value }}">{{ choice.value }}</label>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.professionalMembershipsOthers) }}
                                {{ form_widget(essential_details_form.financialAdviser.professionalMembershipsOthers, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            {{ form_label(essential_details_form.financialAdviser.areasOfCompetencies) }}
                            {% for i, choice in essential_details_form.financialAdviser.areasOfCompetencies.vars.choices  %}
                                <div class="ui field checkbox">
                                    <input id="fa_ac_{{ choice.value }}" type="checkbox" value="{{ choice.value }}" name="profile_essential_details[financialAdviser][areasOfCompetencies][{{ i }}]" {{ choice.value in financialAdviser.areasOfCompetencies ? 'checked="checked"' : ''}}/>
                                    <label for="fa_ac_{{ choice.value }}">{{ choice.value }}</label>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.areasOfCompetenciesOthers) }}
                                {{ form_widget(essential_details_form.financialAdviser.areasOfCompetenciesOthers, {attr: {'style': 'height: 100px;', class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.industryAwards) }}
                                {{ form_widget(essential_details_form.financialAdviser.industryAwards, {attr: {'style': 'height: 100px;', class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.communityInvolvement) }}
                                {{ form_widget(essential_details_form.financialAdviser.communityInvolvement, {attr: {'style': 'height: 100px;', class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-select">
                                {{ form_label(essential_details_form.financialAdviser.balanceScoreCard) }}<br/>
                                {{ form_widget(essential_details_form.financialAdviser.balanceScoreCard, {attr: {'data-init-plugin': 'select2', class: 'form-control', style: 'width: 200px'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                {{ form_label(essential_details_form.financialAdviser.bpRate) }}
                                {{ form_widget(essential_details_form.financialAdviser.bpRate, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form_label(essential_details_form.financialAdviser.specialInterest) }}
                                {{ form_widget(essential_details_form.financialAdviser.specialInterest, {attr: {class : 'form-control', style: 'height: 200px'}}) }}
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-cons m-t-10" type="submit">Update</button>

                    {{ form_end(essential_details_form, {'render_rest': false}) }}
                </form>

            </div>
        </div>
    </div>
</div>
