<div class="tab-pane padding-20 slide-left" id="profile-contact-address-tab">
    <div class="row row-same-height">
        <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
            <div class="padding-30 m-t-50">
                <h2>Get new leads from Wealth College Pro&reg;</h2>
                <p>Supply your contact details, encouraging people to get in touch with you. The details you enter on this screen will appear on your public profile page. When people click the 'Send an e-mail ink', e-mails will be sent to the address you give here.</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="padding-30">

                <form id="edit-contact-address-form" class="p-t-15 live-form" role="form" action="{{ path('ajax_profile_edit_contact_address') }}" method="POST">
                    {{ form_start(contact_address_form) }}
                    {{ form_widget(contact_address_form._token) }}

                    <div class="form-errors"></div>

                    <p>Email Address</p>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                <label>Email</label>
                                {{ form_widget(contact_address_form.financialAdviser.email, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <p>Contact Address</p>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                <label>Address line 1</label>
                                {{ form_widget(contact_address_form.financialAdviser.address.address1, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Address line 2</label>
                                {{ form_widget(contact_address_form.financialAdviser.address.address2, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                <label>City</label>
                                {{ form_widget(contact_address_form.financialAdviser.address.city, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                <label>Post Code</label>
                                {{ form_widget(contact_address_form.financialAdviser.address.postCode, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                <label>Country</label>
                                {{ form_widget(contact_address_form.financialAdviser.address.country, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                <label>Phone Number</label>
                                {{ form_widget(contact_address_form.financialAdviser.telephone, {attr: {class : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-cons m-t-10" type="submit">Update</button>

                    {{ form_end(contact_address_form, {'render_rest': false}) }}
                </form>

            </div>
        </div>
    </div>
</div>
