{% extends '::layout.html.twig' %}
{# @var financialAdviser \AppBundle\Entity\FinancialAdviser #}
{% block last_javascripts %}
    {{ parent() }}

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ asset('assets/plugins/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/classie/classie.js') }}"></script>
    <script src="{{ asset('assets/plugins/codrops-stepsform/js/stepsForm.js') }}"></script>

    <script src="{{ asset('assets/plugins/image-gallery/js/blueimp-gallery.min.js') }}"></script>


    <script src="{{ asset('pages/js/pages.social.js') }}"></script>
    <script src="{{ asset('assets/js/profile.view.js') }}"></script>
    <script src="{{ asset('assets/js/email-far.js') }}"></script>

{% endblock %}
{% block stylesheets %} 
    {{ parent() }}

    <link href="{{ asset('assets/plugins/image-gallery/css/blueimp-gallery.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('pages/css/themes/simple.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="social-wrapper">
        <div class="social " data-pages="social">
            <!-- START JUMBOTRON -->
            <div class="jumbotron" data-pages="parallax" data-social="cover">
                <div class="cover-photo">
                    <img alt="Cover photo" src="{{ image(financialAdviser.profileBackgroundUpload.location|default(web_path~'/assets/img/social/social-default-bg.jpg')).cropResize(1900, 800) }}" />
                </div>
                <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                    <div class="inner full-width">
                        <div class="pull-bottom bottom-left m-b-40">
                            <h5 class="text-white no-margin">{{ financialAdviser.address.city }}, {{ financialAdviser.address.country.name }}</h5>
                            <h1 class="text-white no-margin"><span class="semi-bold">{{ financialAdviser.user.firstName }}</span> {{ financialAdviser.user.lastName }}</h1>
                        </div>
                        <div class="pull-bottom bottom-right m-b-40">
                            {% block page_filter %}
                            <form action="" method="get" id="reviews-filter-form">
                                <select id="reviews-order" name="reviewsOrder" class="cs-select cs-skin-slide" data-init-plugin="cs-select" >
                                    <option value="worst" {{ filter.reviewsOrder == 'oldest' ? 'selected="selected"' }}>Oldest Reviews</option>
                                    <option value="recent" {{ filter.reviewsOrder == 'recent' ? 'selected="selected"' }}>Latest Reviews</option>
                                </select>
                            </form>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div class="panel m-b-0">
                <ul class="nav nav-tabs nav-tabs-simple hidden-xs" role="tablist" data-init-reponsive-tabs="collapse">
                    <li class="{{ app.request.attributes.get('_route') == 'profile_view' ? 'active' : '' }}">
                        <a href="{{ path('profile_view', {id: financialAdviser.id }) }}" aria-expanded="true">Profile</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') in ['profile_view_webinars', 'webinar_detail'] ? 'active' : '' }}">
                        <a href="{{ path('profile_view_webinars', {id: financialAdviser.id }) }}" aria-expanded="true">Webinars</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') in ['profile_view_reviews'] ? 'active' : '' }}">
                        <a href="{{ path('profile_view_reviews', {id: financialAdviser.id }) }}" aria-expanded="true">Reviews</a>
                    </li>
                </ul>
                <div class="panel-group visible-xs" id="XKEib-accordion"></div>
            </div>

            {% block profile_content %}
            <div class="container-fixed-lg bg-white p-t-20">



                <div class="feed">
                    <!-- START DAY -->
                    <div class="day" data-social="day">

                        <!-- START ITEM -->

                        <div class="card share  col1" data-social="item">
                            <div class="card-header clearfix">
                                <div class="user-pic">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#profile-image-modal">
                                        <img alt="Profile Image" width="44" height="44"
                                             data-src-retina="{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(66, 66) }}"
                                             data-src="{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(44, 44) }}"
                                             src="{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(44, 44) }}">
                                    </a>
                                </div>
                                <h5>{{ financialAdviser.user.firstName }} {{ financialAdviser.user.lastName }}</h5>
                                <h6>Financial Advisor</h6>
                            </div>
                            <div class="card-description">
                                   Member since <span class="text-success">{{ financialAdviser.created|date('F Y') }}</span><br/>
                                   has <span class="text-success">{{ reviews|length }}</span> reviews on Wealth College Pro&reg;</p>
                                {% if financialAdviser.averageRating > 0 %}
                                    <p class="semi-bold text-hint">Most people rate {{ financialAdviser.user.firstName }} with {{ (financialAdviser.averageRating/2)|round(0) }} stars</p>
                                {% endif %}
                            </div>
                            {% if financialAdviser.averageRating > 0 %}
                            <div class="card-content star-rating bg-{{ financialAdviser.averageRatingColour }}">
                                <div class="stars-score">
                                    <span class="stars value-set">

                                        <span data-rating="1"><i class="fa fa-3x {{ financialAdviser.averageRating  >= 1 and financialAdviser.averageRating < 2 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating >= 2 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 1 ? 'fa-star-o' : '' }}"></i></span>
                                        <span data-rating="2"><i class="fa fa-3x {{ financialAdviser.averageRating >= 3 and financialAdviser.averageRating < 4 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating >= 4 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 3 ? 'fa-star-o' : '' }}"></i></span>
                                        <span data-rating="3"><i class="fa fa-3x {{ financialAdviser.averageRating >= 5 and financialAdviser.averageRating < 6 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating >= 6 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 5 ? 'fa-star-o' : '' }}"></i></span>
                                        <span data-rating="4"><i class="fa fa-3x {{ financialAdviser.averageRating >= 7 and financialAdviser.averageRating < 8 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating >= 8 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 7 ? 'fa-star-o' : '' }}"></i></span>
                                        <span data-rating="5"><i class="fa fa-3x {{ financialAdviser.averageRating >= 9 and financialAdviser.averageRating < 10 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating == 10 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 9 ? 'fa-star-o' : '' }}"></i></span>
                                    </span>
                                    <span class="score bold">{{ financialAdviser.averageRatingStars }}</span>
                                </div>
                                <h2 class="score-text">{{ financialAdviser.averageRatingDescription }}</h2>
                            </div>
                            {% endif %}


                            <div class="card-footer clearfix">
                                <p>
                                    <a class="send-far-email" href="javascript: void(0);">Send me an email</a>&nbsp;
                                    <i class="fa fa-map-marker"></i> <a href="https://maps.google.com/maps?q={{ financialAdviser.address.addressLineShort|url_encode }}" target="_blank">Find me on a Map</a></p>

                                {#<div class="time">Share {{ financialAdviser.user.firstName }}'s profile</div>
                                <ul class="reactions">
                                    {% if financialAdviser.socialFacebook %}
                                        <li><a href="{{ financialAdviser.socialFacebook }}"><i class="fa fa-facebook-f"></i></a></li>
                                    {% endif %}
                                    {% if financialAdviser.socialTwitter %}
                                        <li><a href="{{ financialAdviser.socialTwitter }}"><i class="fa fa-twitter"></i></a></li>
                                    {% endif %}
                                    {% if financialAdviser.socialLinkedIn %}
                                        <li><a href="{{ financialAdviser.socialLinkedIn }}"><i class="fa fa-linkedin"></i></a></li>
                                    {% endif %}
                                </ul>
                                #}
                            </div>
                        </div>
                        <!-- END ITEM -->


                        {{ include('AppBundle:Review/widgets:review-cards.html.twig') }}


                    </div>
                    <!-- END DAY -->
                </div>
                <!-- END FEED -->
            </div>
            <!-- END CONTAINER FLUID -->
            {% endblock %}
        </div>
        <!-- /container -->
    </div>

    <!-- Modal -->
    {% if financialAdviser.profileImageUpload %}
    <div class="modal fade slide-up disable-scroll" id="profile-image-modal" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
        <div class="modal-dialog ">
            <div class="modal-content-wrapper">
                <div class="modal-content">
                    <div class="modal-header clearfix text-left">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="pg-close fs-14"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(600,600) }}" width="100%" />
                            </div>
                            <div class="col-md-6">
                                <h3>Hey there, it's {{ financialAdviser.user.fullName }}</h3>
                                <p>Feel free to read my profile, look at my reviews and get in touch.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
    {% endif %}

    <div class="modal fade slide-up disable-scroll" id="gallery-image-modal" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content-wrapper">
                <div class="modal-content" >
                    <div class="modal-header clearfix text-left">
                        <button type="button" class="close m-b-10 fs-8" data-dismiss="modal" aria-hidden="true">
                            <i class="pg-close fs-14"></i> Close
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 image-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>

    {{ include('AppBundle:Review/widgets:review-submit-modal.html.twig') }}
    {{ include('AppBundle:Profile/widgets:send-far-email-modal.html.twig') }}

{% endblock %}
