{% extends '::layout.html.twig' %}
{# @var financialAdviser \AppBundle\Entity\FinancialAdviser #}
{%  block metas %}

    <meta name="og:title" content="Wealth College Pro&reg; :: {{ financialAdviser.user.name }}">
    <meta name="og:image" content="{{ url('home_page')|replace({'app_dev.php': ''})|trim('/') }}{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(250, 250) }}">
    <meta name="og:url" content="{{ url('profile_view', {id: financialAdviser.id}) }}">
    <meta name="og:description" content="{{ financialAdviser.profileContent|striptags }}">
    <meta name="og:sitename" content="Wealth College Pro&reg;">


{% endblock %}
{% block last_javascripts %}
    {{ parent() }}

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ asset('assets/plugins/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/classie/classie.js') }}"></script>
    <script src="{{ asset('assets/plugins/codrops-stepsform/js/stepsForm.js') }}"></script>
    <script src="{{ asset('assets/plugins/image-gallery/js/blueimp-gallery.min.js') }}"></script>

    <script src="{{ asset('pages/js/pages.social.js') }}"></script>
    <script src="{{ asset('assets/js/profile.view.js') }}"></script>
    <script src="{{ asset('assets/js/email-far.js') }}"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58809c49262e6f6b"></script>

    <script type="text/javascript">var switchTo5x=true;</script>
    {#<script type="text/javascript" src="{{ asset('assets/plugins/sharethis/buttons.js') }}"></script>
    <script type="text/javascript">stLight.options({publisher: "b259247f-3274-4a24-846a-9e50e6f927a1", doNotHash: true, doNotCopy: true, hashAddressBar: false, onhover: false, tracking: false});</script>
    #}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/plugins/image-gallery/css/blueimp-gallery.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('pages/css/themes/simple.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}





{% block content %}
    <div class="social-wrapper">
        <div class="social " data-pages="social">
            <!-- START JUMBOTRON -->
            <div class="jumbotron" data-pages="parallax" data-social="cover">
                <div class="cover-photo">
                    <img alt="Cover photo" src="{{ image(financialAdviser.profileBackgroundUpload.location|default(web_path~'/assets/img/social/social-default-bg.jpg')).cropResize(1900, 800) }}" />
                </div>
                <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                    <div class="inner full-width">
                        <div class="pull-bottom bottom-left m-b-40">
                            <h5 class="text-white no-margin">{{ financialAdviser.address.city }}, {{ financialAdviser.address.country.name }}</h5>
                            <h1 class="text-white no-margin"><span class="semi-bold">{{ financialAdviser.user.firstName }}</span> {{ financialAdviser.user.lastName }}</h1>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div class="panel m-b-0">
                <ul class="nav nav-tabs nav-tabs-simple hidden-xs" role="tablist" data-init-reponsive-tabs="collapse">
                    <li class="{{ app.request.attributes.get('_route') == 'profile_view' ? 'active' : '' }}">
                        <a href="{{ path('profile_view', {id: financialAdviser.id }) }}" aria-expanded="true">Profile</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') in ['profile_view_webinars', 'webinar_detail'] ? 'active' : '' }}">
                        <a href="{{ path('profile_view_webinars', {id: financialAdviser.id }) }}" aria-expanded="true">Webinars</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') in ['profile_view_reviews'] ? 'active' : '' }}">
                        <a href="{{ path('profile_view_reviews', {id: financialAdviser.id }) }}" aria-expanded="true">Reviews</a>
                    </li>
                </ul>
                <div class="panel-group visible-xs" id="XKEib-accordion"></div>
            </div>

            {% block profile_content %}
            <div class="container-fixed-lg bg-white p-t-20 profile">


                <div class="col-md-8">

                    <div class="header-widget">
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <div class="pic">
                                    <div class="thumbnail-wrapper bordered b-white">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#profile-image-modal">
                                            <img class="" alt="Profile Image" width="250" height="250"
                                                 data-src-retina="{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(250, 250) }}"
                                                 data-src="{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(250, 250) }}"
                                                 src="{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(250, 250) }}">
                                        </a><br/>
                                        <p>
                                            <span><i class="fa fa-envelope"></i> <a href="javascript: void(0);" class="send-far-email">Send me an email</a></span>
                                            <span><i class="fa fa-map-marker"></i> <a href="https://maps.google.com/maps?q={{ financialAdviser.address.addressLineShort|url_encode }}" target="_blank">Find me on a Map</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <h3 class="bold">{{ financialAdviser.user.name }}</h3>
                                <h4>
                                    {% if financialAdviser.professionalTitle %}
                                        {{ financialAdviser.professionalTitle }}<br/>
                                    {% endif %}
                                    {{ financialAdviser.businessName }}
                                </h4>


                                <h4 class="score-text bold">{{ financialAdviser.averageRatingDescription }}</h4>
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <div class="star-rating smaller align-left bg-white text-{{ financialAdviser.averageRatingColour }} p-b-0">
                                            <div class="stars-score">
                                                <span class="stars value-set">

                                                    <span data-rating="1"><i class="fa fa-2x {{ financialAdviser.averageRating  >= 1 and financialAdviser.averageRating < 2 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating >= 2 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 1 ? 'fa-star-o' : '' }}"></i></span>
                                                    <span data-rating="2"><i class="fa fa-2x {{ financialAdviser.averageRating >= 3 and financialAdviser.averageRating < 4 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating >= 4 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 3 ? 'fa-star-o' : '' }}"></i></span>
                                                    <span data-rating="3"><i class="fa fa-2x {{ financialAdviser.averageRating >= 5 and financialAdviser.averageRating < 6 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating >= 6 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 5 ? 'fa-star-o' : '' }}"></i></span>
                                                    <span data-rating="4"><i class="fa fa-2x {{ financialAdviser.averageRating >= 7 and financialAdviser.averageRating < 8 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating >= 8 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 7 ? 'fa-star-o' : '' }}"></i></span>
                                                    <span data-rating="5"><i class="fa fa-2x {{ financialAdviser.averageRating >= 9 and financialAdviser.averageRating < 10 ? 'fa-star-half-o' : '' }} {{ financialAdviser.averageRating == 10 ? 'fa-star' : '' }} {{ financialAdviser.averageRating < 9 ? 'fa-star-o' : '' }}"></i></span>
                                                </span>
                                                <span class="score bold">{{ financialAdviser.averageRatingStars }}</span>
                                            </div>
                                        </div>
                                        <div class="star-rating-subtitle m-b-10">
                                            <span class="text-success">{{ reviews|length }}</span> reviews on Wealth College Pro&reg;
                                        </div>
                                    </div>
                                    <div class="col-md-6 left aligned">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" style="min-height: 36px">
                                        {#
                                        <span class='st_sharethis_hcount'
                                          id="profile-share"
                                          st_title="Wealth College Pro&reg; :: {{ financialAdviser.user.name }}'s Profile"
                                          st_image="{{ url('home_page')|replace({'app_dev.php': ''})|trim('/') }}{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(250, 250) }}"
                                          st_summary="{{ financialAdviser.specialInterest|url_encode }}"></span>
                                        #}
                                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                        <span class="addthis_inline_share_toolbox"
                                             data-title="Wealth College Pro&reg; :: {{ financialAdviser.user.name }}"
                                             data-media="{{ url('home_page')|replace({'app_dev.php': ''})|trim('/') }}{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(250, 250) }}"
                                             data-url="{{ url('profile_view', {id: financialAdviser.id}) }}"
                                             data-description="{{ financialAdviser.specialInterest|striptags }}"
                                        >Share this profile</span>
                                    </div>
                                    <div class="col-md-3" style="min-height: 36px">
                                        {% if financialAdviser.socialFacebook or financialAdviser.socialTwitter or financialAdviser.socialLinkedIn %}
                                            <span>Social networks</span><br/>
                                        {% endif %}
                                        {% if financialAdviser.socialFacebook %}
                                            <span><a href="{{ financialAdviser.socialFacebook }}"><i class="fa fa-facebook-f"></i></a></span>
                                        {% endif %}
                                        {% if financialAdviser.socialTwitter %}
                                            <span><a href="{{ financialAdviser.socialTwitter }}"><i class="fa fa-twitter"></i></a></span>
                                        {% endif %}
                                        {% if financialAdviser.socialLinkedIn %}
                                            <span><a href="{{ financialAdviser.socialLinkedIn }}"><i class="fa fa-linkedin"></i></a></span>
                                        {% endif %}
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="p-l-20 p-r-20 p-t-20 p-b-20 m-t-20 bg-light-green">
                        {{ financialAdviser.profileContent|raw }}

                        {{ include('AppBundle:Profile:widgets/fa-essential-details.html.twig') }}

                        <div class="feed essential-details p-l-30 p-r-30  p-b-30">
                            <h5 class="bold">My Gallery</h5>
                            <p class="fs-16">has {{ financialAdviser.financialAdviserPhotos|length }} photos</p>

                            <div id="links" class="">
                                {% for photo in financialAdviser.financialAdviserPhotos %}{# @var photo \AppBundle\Entity\FinancialAdviserPhoto #}
                                    {#
                                    <div class="thumbnail-wrapper d48 bordered b-white">
                                        <a href="javascript:void(0)" class="gallery-image-thumb" data-url="{{ image(photo.upload.location) }}">

                                            <img alt="Photo" width="44" height="44"
                                                 data-src-retina="{{ image(photo.upload.location).zoomCrop(88, 88) }}"
                                                 data-src="{{ image(photo.upload.location).zoomCrop(44, 44) }}"
                                                 src="{{ image(photo.upload.location).zoomCrop(44, 44) }}"
                                            >
                                        </a>
                                    </div>
                                    #}
                                    <div class="thumbnail-wrapper d48 bordered b-white" style="display:{{ loop.index > 4 ? 'none' : 'block' }}">
                                        <a href="{{ image(photo.upload.location) }}" title="Photo" data-gallery>
                                            <img src="{{ image(photo.upload.location).zoomCrop(44, 44) }}" alt="Photo">
                                        </a>
                                    </div>


                                {% endfor %}
                                {% if financialAdviser.financialAdviserPhotos|length > 4 %}
                                    <div class="thumbnail-wrapper circular d48 bordered b-white additional-items" style="vert-align: middle; text-align: center">
                                        <strong>+{{ financialAdviser.financialAdviserPhotos|length - 4 }}</strong>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    {# REVIEWS #}
                    {% if recentReview %}

                        <div class="m-b-40 p-b-20 p-t-20" style="margin: 0 auto;width: 135px;">
                            {% block page_filter %}
                                <form action="" method="get" id="reviews-filter-form">
                                    <select id="reviews-order" name="reviewsOrder" class="cs-select cs-skin-slide" data-init-plugin="cs-select" >
                                        <option value="recent" {{ filter.reviewsOrder == 'recent' ? 'selected="selected"' }}>Latest Reviews</option>
                                        <option value="oldest" {{ filter.reviewsOrder == 'oldest' ? 'selected="selected"' }}>Oldest Reviews</option>
                                    </select>
                                </form>
                            {% endblock %}
                        </div>
                        
                        <div class="feed">
                            <!-- START DAY -->
                            <div class="day" data-social="day">

                                <!-- START ITEM -->
                                {#
                                <div class="card status col2" data-social="item">
                                    <div class="circle" data-toggle="tooltip" title="Label" data-container="body"></div>
                                    <h5>{{ financialAdviser.user.firstName }} {{ financialAdviser.user.lastName }} was last reviewed <span class="hint-text">{{ recentReview.timeSince }}</span></h5>
                                    <h2>These are my reviews about the work that I do...</h2>
                                </div>
                                #}
                                <!-- END ITEM -->

                                {% set reviews = reviews|slice(0, 5) %}
                                {{ include('AppBundle:Review/widgets:review-cards.html.twig') }}
                                {% if reviews|length > 0 %}

                                {% endif %}

                            </div>
                            <!-- END DAY -->

                            <!-- START ITEM -->
                            <div class="day" data-social="day">
                                <div class="card share review col1" data-social="item">
                                    <a href="{{ path('profile_view_reviews', {id: financialAdviser.id }) }}" class="footer-link"><i class="fa fa-bars"></i>View all reviews</a>
                                </div>
                            </div>
                            <!-- END ITEM -->
                        </div>
                    {% endif %}

                </div>


                <div class="clearfix"></div>




                <!-- END FEED -->
            </div>
            <!-- END CONTAINER FLUID -->
            {% endblock %}
        </div>
        <!-- /container -->
    </div>

    <!-- Modal -->
    {% if financialAdviser.profileImageUpload %}
    <div class="modal fade slide-up disable-scroll" id="profile-image-modal" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
        <div class="modal-dialog ">
            <div class="modal-content-wrapper">
                <div class="modal-content">
                    <div class="modal-header clearfix text-left">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="pg-close fs-14"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{ image(financialAdviser.profileImageUpload.location|default(web_path~'/assets/img/profiles/default.jpg')).zoomCrop(600,600) }}" width="100%" />
                            </div>
                            <div class="col-md-6">
                                <h3>Hey there, it's {{ financialAdviser.user.fullName }}</h3>
                                <p>Feel free to read my profile, look at my reviews and get in touch.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
    {% endif %}



    <div class="modal fade slide-up disable-scroll" id="gallery-image-modal" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content-wrapper">
                <div class="modal-content" >
                    <div class="modal-header clearfix text-left">
                        <button type="button" class="close m-b-10 fs-8" data-dismiss="modal" aria-hidden="true">
                            <i class="pg-close fs-14"></i> Close
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 image-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    

    {{ include('AppBundle:Profile/widgets:send-far-email-modal.html.twig') }}
    {{ include('AppBundle:Review/widgets:review-submit-modal.html.twig') }}
    {{ include(':widgets:image-gallery.html.twig') }}



{% endblock %}
{% block extra_footer_links %}
    <span class="sm-block"><a href="{{ path('contact') }}" class="p-r-10">Contact Us</a></span>
{% endblock %}