{% extends 'AppBundle:Profile:view.html.twig' %}

{% block page_filter %}{% endblock %}

{% block profile_content %}

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white m-t-20 webinar-detail">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <h2>Webinars</h2>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {% if pagination|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-hover dataTables_wrapper" id="webinars-table">
                        <thead>
                        <tr>
                            <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user
                                                Comman Practice Followed
                                                -->
                            <th{% if pagination.isSorted('ce.summary') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'ce.summary') }}</th>
                            <th{% if pagination.isSorted('ce.startAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Start Date & Time', 'ce.startAt') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                            {% for webinar in pagination %}{# @var webinar \AppBundle\Entity\Webinar #}

                                <tr>
                                    <td class="v-align-middle">{{ webinar.calendarEvent.summary }}</td>
                                    <td class="v-align-middle">{{ webinar.calendarEvent.startAt|date('d M Y, H:i') }}</td>

                                    <td class="v-align-middle">
                                        <a href="{{ path('webinar_detail', {id: webinar.id}) }}" class="btn btn-small btn-primary"><i class="fa fa-edit"></i> View Details</a>
                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3" align="right">
                                    {{ knp_pagination_render(pagination) }}
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                {% else %}
                    <p>There are no upcoming Webinars</p>
                {% endif %}
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->


{% endblock %}
