
<div class="ui bulleted list">

    <br/>
    <div class="item header">
        <h2>Photo Data</h2>
    </div>

    {% for label,item in data %}
        {% if item is iterable %}
            <div class="item">
                <div>{{ label }}</div>
                <div class="list">
                    {% for sub_item in item %}
                        <div class="item">{{ sub_item }}</div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="item">
                <div>{{ label }}</div>
                <div class="list">
                    <div class="item">{{ item }}</div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

</div>