{# @var financialAdviser \AppBundle\Entity\FinancialAdviser #}
<div class="feed essential-details p-l-30 p-r-30 p-b-30">
    <!-- START CONTAINER FLUID -->
    <h5 class="bold">Personal</h5>

    {% if financialAdviser.yearJoinedIndustry %}
        <div class="row">
            <div class="col-md-3">Years In Industry</div>
            <div class="col-md-3"><strong>{{ financialAdviser.yearsInIndustry }}</strong></div>
        </div>
    {% endif %}
    {% if financialAdviser.user.gender %}
        <div class="row">
            <div class="col-md-3">Gender</div>
            <div class="col-md-3"><strong>{{ financialAdviser.user.gender == 'M' ? 'Male' : 'Female' }}</strong></div>
        </div>
    {% endif %}
    {% if financialAdviser.race %}
        <div class="row">
            <div class="col-md-3">Race</div>
            <div class="col-md-3"><strong>{{ financialAdviser.race }}</strong></div>
        </div>
    {% endif %}
    {% if financialAdviser.languages or financialAdviser.languagesOthers %}
        <div class="row">
            <div class="col-md-3">Languages</div>
            <div class="col-md-3"><strong>
                    {{ financialAdviser.languages|join(', ') }}{% if financialAdviser.languagesOthers %}, {{ financialAdviser.languagesOthers }}{% endif %}
                </strong></div>
        </div>
    {% endif %}

</div>

{% if financialAdviser.specialInterest %}
<div class="feed essential-details p-l-30 p-r-30  p-b-30">
    <h5 class="bold">Expertise</h5>

    {{ financialAdviser.specialInterest|raw }}

</div>
{% endif %}

<div class="feed essential-details p-l-30 p-r-30  p-b-30">

    <div class="row">
        <div class="col-md-2">
            <h5 class="bold">Professional</h5>
        </div>
        <div class="col-md-2">
            <a class="m-t-10 inline btn btn-default" href="javascript:void(0);" data-toggle="modal" data-target="#glossary"><i class="fa fa-info"></i>&nbsp;&nbsp;Glossary</a>
        </div>

    </div>

    {% if financialAdviser.areasOfCompetencies %}
        <p>Areas of Practice<br/>
            <strong>
                {{ financialAdviser.areasOfCompetencies|join(', ') }}{% if financialAdviser.areasOfCompetenciesOthers %}, {{ financialAdviser.areasOfCompetenciesOthers }}{% endif %}
            </strong></p>
    {% endif %}
    {% if financialAdviser.licenceNo %}
        <p>MAS Representative Number<br/><strong>{{ financialAdviser.licenceNo }}</strong></p>
    {% endif %}
    {% if financialAdviser.professionalMemberships or financialAdviser.professionalMembershipsOthers %}
        <p>Professional Memberships<br/>
            <strong>{{ financialAdviser.professionalMemberships|join(', ') }}{{ financialAdviser.professionalMembershipsOthers ? ', '~financialAdviser.professionalMembershipsOthers : '' }}</strong>
        </p>
    {% endif %}

    {% if financialAdviser.industryAwards %}
        <p>Industry Awards</strong><br/><strong>{{ financialAdviser.industryAwards|nl2br }}</strong></p>
    {% endif %}
    {% if financialAdviser.communityInvolvement %}
        <p>Community Involvement<br/><strong>{{ financialAdviser.communityInvolvement }}</strong></p>
    {% endif %}

    {% if financialAdviser.academicQualification %}
        <p>Highest Academic Qualification<br/><strong>{{ financialAdviser.academicQualification }}</strong></p>
    {% endif %}
    {% if financialAdviser.typeOfQualification %}
        <p>Type of Qualification<br/><strong>{{ financialAdviser.typeOfQualification }}</strong></p>
    {% endif %}
    
    {% if financialAdviser.institution %}
        <p>Institution<br/><strong>{{ financialAdviser.institution }}</strong></p>
    {% endif %}
    {% if financialAdviser.academicQualificationOther %}
        <p>Other Academic Qualifications<br/><strong>{{ financialAdviser.academicQualificationOther }}</strong></p>
    {% endif %}

    {#
    {% if financialAdviser.professionalCertifications or financialAdviser.professionalCertificationsOthers %}
        <p>Professional Certifications<br/><strong>{{ financialAdviser.professionalCertifications|join(', ') }}{{ financialAdviser.professionalCertificationsOthers ? ', '~financialAdviser.professionalCertificationsOthers : '' }}</strong></p>
    {% endif %}
    {% if financialAdviser.parentCompanyName %}
        <p>Parent Company<br/><strong>{{ financialAdviser.parentCompanyName }}</strong></p>
    {% endif %}
    #}

</div>

<!-- Modal -->
<div class="modal fade slide-up disable-scroll" id="glossary" tabindex="-1" role="dialog" aria-labelledby="glossaryLabel" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <h5>Glossary</h5>
                </div>
                <div class="modal-body">

                    <p><strong>Professional Qualifications</strong></p>

                    <div class="row"><div class="col-md-3">AFC</div><div class="col-md-9">Associate Financial Consultant</div></div>
                    <div class="row"><div class="col-md-3">AFP</div><div class="col-md-9">Associate Financial Planner</div></div>
                    <div class="row"><div class="col-md-3">AWP</div><div class="col-md-9">Associate Wealth Planner</div></div>
                    <div class="row"><div class="col-md-3">ChFC</div><div class="col-md-9">Chartered Financial Consultant</div></div>
                    <div class="row"><div class="col-md-3">CFP</div><div class="col-md-9">Certified Financial Planner</div></div>
                    <div class="row"><div class="col-md-3">FChFP</div><div class="col-md-9">Fellow Chartered Financial Practitioner</div></div>
                    <div class="row"><div class="col-md-3">ASEP</div><div class="col-md-9">Associate Specialist in Estate Planning</div></div>
                    <div class="row"><div class="col-md-3">CSEP</div><div class="col-md-9">Certified Specialist in Estate Planning</div></div>
                    <div class="row"><div class="col-md-3">AFCouns</div><div class="col-md-9">Associate Financial Counsellor</div></div>
                    <div class="row"><div class="col-md-3">ASFE</div><div class="col-md-9">Associate Specialist in Financial Education</div></div>
                    <div class="row"><div class="col-md-3">CSFE</div><div class="col-md-9">Certified Specialist in Financial Education</div></div>

                    <p class="m-t-20"><strong>Professional Memberships</strong></p>

                    <div class="row"><div class="col-md-3">IFPAS</div><div class="col-md-9">Insurance &amp; Financial Practitioners' Association of Singapore</div></div>
                    <div class="row"><div class="col-md-3">FPAS</div><div class="col-md-9">Financial Planning Association of Singapore</div></div>
                    <div class="row"><div class="col-md-3">SFSP</div><div class="col-md-9">Society of FInancial Services Professionals</div></div>
                    <div class="row"><div class="col-md-3">FSMA</div><div class="col-md-9">Financial Services Managers' Association</div></div>
                    <div class="row"><div class="col-md-3">AFA(S)</div><div class="col-md-9">Association of Financial Advisors (Singapore)</div></div>
                    <div class="row"><div class="col-md-3">AFCPE</div><div class="col-md-9">Association for Financial Counselling &amp; Planning Education</div></div>

                    <p class="m-t-20"><strong>Industry Awards</strong></p>

                    <div class="row"><div class="col-md-3">MDRT</div><div class="col-md-9">Million Dollar Round Table</div></div>
                    <div class="row"><div class="col-md-3">COT</div><div class="col-md-9">Court-of-the-Table</div></div>
                    <div class="row"><div class="col-md-3">TOT</div><div class="col-md-9">Top-of-the-Table</div></div>

                    <p class="m-t-20"><strong>Community Involvement</strong></p>

                    <div class="row"><div class="col-md-3">FinCARE</div><div class="col-md-9">Financial Counselling, Aid &amp; Resilience Education</div></div>

                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal-dialog -->