<div class="photo" id="fa-photo-{{ photo.id }}">
    <img src="{{ image(photo.upload.location).zoomCrop(150,150) }}" alt="Photo" />
    <button class="btn btn-xs delete-gallery-photo tip" data-id="{{ photo.id }}" data-type="{{ photo.type }}" data-toggle="tooltip" data-original-title="Delete photo">
        <i class="fa fa-remove"></i>
    </button>
</div>