
<h2>{{ title }}</h2>

<div id="{{ type }}-images" class="uploaded-photos">
    {% if faPhotos[type]|default([]) %}
        {% for photo in faPhotos[type]|default([])  %} {# @var photo \AppBundle\Entity\FinancialAdviserPhoto #}
            {{ include('AppBundle:Profile:widgets/gallery-photo.html.twig', {photo: photo}) }}
        {% endfor %}
    {% else %}
        <p>Use the "Choose files" button below to upload your {{ title|lower }}</p>
    {% endif %}
</div>
<p>
    <br/>
    <input type="file" id="{{ type }}-upload" class="photo-gallery-upload-input" name="image_upload[]" data-type="{{ type }}" multiple />
</p>
<!-- Default height -->
<div id="{{ type }}-upload-progress" class="progress" style="display: none">
    <div style="width: 0%;" class="progress-bar progress-bar-success"></div>
</div>