<div class="modal fade slide-up disable-scroll" id="send-far-email-modal" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content" >
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close m-b-10 fs-8" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i> Close
                    </button>
                </div>
                <div class="modal-body">
                    <form id="send-far-email-form" action="{{ path('send_far_email') }}" method="post" class="live-form">
                        <input type="hidden" name="id" value="{{ financialAdviser.id }}"/>
                        <div class="form-group form-group-default">
                            <label>Subject</label>
                            <input type="text" name="subject" id="send-far-email-subject" value="" class="form-control" placeholder="Enter the email subject here" required />
                        </div>

                        <div class="form-group ">
                            <label>Message</label>
                            <textarea name="message" id="send-far-email-message" class="form-control" placeholder="Enter your message here..." required rows="5"></textarea>
                        </div>
                        <div id="send-far-email-recaptcha"></div>

                        <div class="row">
                            <div class="pull-right">
                                <label class="">&nbsp;</label>
                                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                <input type="submit" class="btn btn-primary" value="Send Message" />
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>