{% extends 'AppBundle:Profile:view.html.twig' %}

{% block page_filter %}{% endblock %}

{% block profile_content %}

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid bg-primary webinar-detail">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-body">

                <div class="col-md-8">

                    <p>
                        <a href="{{ path('profile_view_webinars', {id: financialAdviser.id }) }}"><span class="label label-default">BACK TO WEBINARS LIST</span></a>
                    </p>
                    <h1 class="text-white semi-bold m-b-0">{{ webinar.calendarEvent.summary }}</h1>
                    <h4 class="text-primary-darker semi-bold m-t-0">{{ webinar.calendarEvent.startAt|date('d F Y') }}</h4>

                    <p class="text-white">{{ webinar.calendarEvent.description }}</p>
                </div>
                <div class="col-md-4">

                    <p class="text-light-blue semi-bold fs-16">
                        Starting at {{ webinar.calendarEvent.startAt|date('H:ia') }}<br/>
                        ({{ webinar.expectedRunningTIme|date('G') }} hours{% if webinar.expectedRunningTIme|date('i') > 0 %} and {{ webinar.expectedRunningTIme|date('i') }} minutes{% endif %})
                    </p>
                    <p>
                        <span class="text-primary-darker bold">Need an invite?</span><br/>
                        <span class="text-white">Contact {{ webinar.financialAdviser.user.name }} about this webinar to let them know you're interested.</span>
                    </p>
                    <p>
                        <a class="btn btn-rounded btn-default" href="mailto:{{ webinar.financialAdviser.user.email }}?subject=Wealth College Pro Enquiry about your webinar: {{ webinar.calendarEvent.summary }}">Send a Message</a>
                    </p>

                </div>

            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->


{% endblock %}
