{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/bootstrap-datepicker/css/datepicker3.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css') }}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}
{% block last_javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js') }}"></script>
    <script src="{{ asset('assets/js/webinar.form.js') }}"></script>
{% endblock %}

{% block content %}


    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li>
                <a href="{{ path('webinar') }}">Webinars</a>
            </li>
            <li>Edit Webinar</li>
        </ul>

        <div class="row">
            <div class="col-lg-10 col-md-10 ">
                <!-- START PANEL -->
                <div class="panel-heading">
                    <h1>Edit Webinar</h1>
                </div>

                {{ include('AppBundle:Webinar/widgets:form.html.twig') }}
            </div>
        </div>
    </div>



{% endblock %}
