{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/plugins/codrops-dialogFx/dialog.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ asset('assets/plugins/codrops-dialogFx/dialog-sandra.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ asset('assets/plugins/owl-carousel/assets/owl.carousel.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ asset('assets/plugins/jquery-nouislider/jquery.nouislider.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ asset('pages/css/widget-market.css') }}" rel="stylesheet" type="text/css" media="screen"/>

{% endblock %}

{% block last_javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/plugins/jquery-isotope/isotope.pkgd.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/codrops-dialogFx/dialogFx.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/webinars.js') }}"></script>

{% endblock %}

{% block content %}

    <div class="jumbotron lg vertical center bg-warning column-w4 vertical-bottom no-margin" data-pages="parallax">
        <div class="market-hero">
            <div class="container-fluid container container-fixed-lg sm-p-l-20 sm-p-r-20 full-height">
                <div class="inner full-height">
                    <div class="container-xs-height full-height">
                        <div class="col-xs-height col-middle  ">

                            <div class="m-b-50">
                                <h2 class="text-black inline">Reach out to a wider audience with Webinars</h2>
                                <h5 class="hint-text">Create training and sales seminars online</h5>
                            </div>
                            <div class="input-group p-b-10 p-l-0 transparent col-md-5 b-b b-transparent ">
                                <input type="text" class="form-control no-border p-l-0" placeholder="Search webinars by title" id="widget-filter" name="widget-filter">
                                <span class="input-group-addon no-border">
                                    <i class="pg-search"></i>
                                </span>
                            </div>
                            <div class="m-t-20 m-b-40 ">
                                <p><a href="{{ path('webinar_add') }}">Click here</a> to add a new Webinar </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('::flash-output.html.twig') }}

    {% if webinarsNeedingSync|length > 0 %}
        <div class="alert alert-danger" id="sync-alert">
            <p>
                <strong>Google Calendar Sync Required</strong><br/>
                Some webinars must be synced to your google calendar before they can be activated.
            </p>

            {% if googleAuthURL is defined %}
                <p>
                    To allow Wealth College Pro&reg; to integrate with your google calendar please grant access using the button below<br/>
                    <a href="{{ googleAuthURL }}" class="btn btn-success">Authorise Access</a>
                </p>
            {% else %}
                <p>
                    <button type="button" class="btn btn-success sync-with-google">Sync with Google Calendar</button>
                </p>
            {% endif %}

        </div>
    {% endif %}

    <div class="full-width">
        <div class="pull-right">
            {% if filter.past == 1 %}
                <a href="{{ path('webinar') }}" class="btn btn-default m-t-15 m-r-15 m-b-15"><i class="fa fa-arrow-right"></i> Upcoming Webinars</a>
            {% else %}
                <a href="{{ path('webinar') }}?past=1" class="btn btn-default m-t-15 m-r-15 m-b-15"><i class="fa fa-arrow-left"></i> Previous Webinars</a>
            {% endif %}
            {% if financialAdviser.subscribed %}
                <a href="{{ path('webinar_add') }}" class="btn btn-primary m-t-15 m-r-15 m-b-15"><i class="fa fa-plus"></i> Create Webinar</a>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid sm-p-l-20 sm-p-r-20 m-t-60">

        <div class="gallery webinars">
            {% for webinar in webinars %}

                <div class="b-a b-grey bg-master-lightest gallery-item widget-item"
                     data-width="1"
                     data-height="1"
                     style="visibility: hidden; background-size: cover; background-image: url({{ asset('assets/img/webinar/webinar.jpg') }});"
                >

                    <div class="bottom-left full-width m-b-35">
                        <p class="text-center bold text-black fs-14 p-t-10">{{ webinar.calendarEvent.summary }}</p>
                    </div>

                    <!-- START ITEM OVERLAY DESCRIPTION -->
                    <div class="overlayer widget-detail bottom-left full-width">
                        <a class="detail-link" href="{{ financialAdviser.subscribed ? path('webinar_edit', {id: webinar.id}) : '#' }}">
                            <img src="{{ asset('assets/img/webinar/wb.png') }}" class="wm-logo">
                        </a>

                        <div class="top-right m-r-10 m-t-10">
                            <a href="{{ path('webinar_detail', {id: webinar.id}) }}" class="btn btn-default" title="Public webinar page" target="_blank"><i class="fa fa-link"></i></a>
                            {% if financialAdviser.subscribed %}
                                <a href="{{ path('webinar_edit', {id: webinar.id}) }}" class="btn btn-default" title="Edit Webinar"><i class="fa fa-edit"></i></a>
                            {% endif %}
                            {% if webinar.url %}
                                <a href="{{ webinar.url }}" class="btn btn-success" title="Start Webinar"><i class="fa fa-video-camera"></i></a>
                            {% endif %}
                        </div>

                        <div class="overlayer-wrapper item-info">
                            <div class="p-l-20 p-r-20 p-t-20 p-b-5">
                                <div class="item-footer">
                                    <p class="fs-12 text-white text-center">
                                        {% if webinar.calendarEvent.hasEnded %}
                                            <span class="hint-text">Took place on </span>
                                            {{ webinar.calendarEvent.startAt|date('d M Y') }}
                                        {% else %}
                                            <span class="hint-text">Starting on </span>
                                            {{ webinar.calendarEvent.startAt|date('d M Y') }}
                                        {% endif %}
                                    </p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PRODUCT OVERLAY DESCRIPTION -->

                </div>

                <!-- END GALLERY ITEM -->

            {% endfor %}
        </div>

    </div>


{% endblock %}