{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables-responsive/css/datatables.responsive.css') }}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/table.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/verifiable-reviews.js') }}" type="text/javascript"></script>

{% endblock %}

{% block content %}

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <h2>Verifiable Reviews</h2>

                <form action="" method="get" id="table-filter">
                    <input id="filter-page" name="page" value="{{ filter.page }}" type="hidden" />
                    <input id="filter-rows" name="rows" value="{{ filter.rows }}" type="hidden" />

                    <div class="pull-right m-b-10 col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group form-group-default">
                                    <label>Search</label>
                                    <input type="text" name="search" value="{{ filter.search }}" placeholder="Search for a review..." class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group form-group-default-select2">
                                    <label>Display:</label>
                                    <select id="rows-select" class="cs-select cs-skin-slide calendar-event-type" data-init-plugin="cs-select">
                                        <option {{ filter.rows == 10 ? 'selected="selected"' }}>10</option>
                                        <option {{ filter.rows == 25 ? 'selected="selected"' }}>25</option>
                                        <option {{ filter.rows == 50 ? 'selected="selected"' }}>50</option>
                                        <option {{ filter.rows == 100 ? 'selected="selected"' }}>100</option>
                                        <option {{ filter.rows == 250 ? 'selected="selected"' }}>250</option>
                                        <option {{ filter.rows == 500 ? 'selected="selected"' }}>500</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {% if pagination|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-hover dataTables_wrapper" id="users-table">
                        <thead>
                        <tr>
                            <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user
                                                Comman Practice Followed
                                                -->
                            <th>Financial Adviser</th>
                            <th>Reviewed By</th>
                            <th{% if pagination.isSorted('r.receivedAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date Reviewed', 'r.receivedAt') }}</th>
                            <th{% if pagination.isSorted('r.rating') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Rating', 'r.rating') }}</th>
                            <th>Verified</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                            {% for review in pagination %} {# @var review \AppBundle\Entity\Review #}

                                <tr>
                                    <td class="v-align-middle">
                                        <a href="{{ path('profile_view', {id: review.financialAdviser.id }) }}" target="_blank">
                                        <strong>{{ review.financialAdviser.user.name|title }}</strong><br/>
                                        {{ review.financialAdviser.businessName|title }}
                                        </a>
                                    </td>
                                    <td class="v-align-middle">
                                        <strong>{{ review.client.person.fullName }}</strong><br/>
                                        {{ review.client.person.email }}
                                    </td>
                                    <td class="v-align-middle">{{ review.receivedAt|date('d/m/Y')}}</td>
                                    <td class="v-align-middle"><strong style="color: {{ review.ratingColour(true) }}">{{ review.hasRating ? (review.rating / 2) : 'N/A' }}</strong></td>
                                    <td class="v-align-middle">
                                        {% if review.verified %}
                                            <strong style="color: green">Verified</strong>
                                        {% else %}
                                            <strong style="color: red">Unverified</strong><br/>
                                            <button class="verify-review btn btn-xs btn-default" data-id="{{ review.id }}"><i class="fa fa-check"></i> Verify Review</button>
                                        {% endif %}
                                    </td>
                                    <td class="v-align-middle">
                                        <a href="mailto:{{ review.client.person.email }}?subject=Please verify your review for {{ review.financialAdviser.user.name }}" class="btn btn-small btn-default"><i class="fa fa-send"></i> Email</a>
                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3" align="left" class="">
                                    <b>You're viewing {{ pagination|length }} of {{ pagination.getPaginationData()['totalCount'] }} records in this table</b>
                                </th>
                                <th colspan="2" align="right">
                                    {{ knp_pagination_render(pagination) }}
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                {% else %}
                    <p>No reviews found</p>
                {% endif %}
            </div>
        </div>
        <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->


{% endblock %}
